@media screen {

	.error-handler {
		background-color: #fff;
		border: 1px solid red;
		position: absolute;
		border-radius: 4px;
		padding: 1px 5px;
		font-size: 10px;
		right: 45px;
		color: red;
		top: -10px;
	}

	.custom-login-wrapper {
		vertical-align: middle;
		display: table-cell;
		height: 90vh;
		width: 1%;
	}

	.pass-wrap {
		margin-top: 8px;
		a, span {
			text-decoration: none;
			padding: 5px 0 0 0;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
