@media screen{
  #menu {
    .dropdown_menu {
      &.active {
        ul {
          display: block;
        }
      }

      ul {
        display: none;
      }
    }
  }

  .col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1,
  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1,
  .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1,
  .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1,
  div, .hidden-xs, .hidden-sm, .hidden-md, .hidden-lg, .d-none , .d-sm-none, .d-md-none, .d-xl-block, .d-sm-block, .col, .col-12,
  p, span{
    @include transition_all(0.3s);
  }
  .v-datatable__actions__select {
    position:relative !important;
  }
  .filter-wrapper {
    padding-bottom:30px;
  }
  .custom-select-index {
    .multiselect__tags {
      border-radius: 0;
      border-bottom:1px solid #000;
      border-left:0;
      border-top:0;
      border-right:0;
    }
  }
  .custom-text-index {
    &.p-t-3 {
      padding-top:3px;
    }
    .v-text-field {
      margin-top:0;
      padding-top:9px;
    }
    #date_custom_range {
      border-radius: 0;
      border-bottom:1px solid #000;
      border-left:0;
      border-top:0;
      border-right:0;
      padding:8px 0;
      padding-top:9px;
      width:100%;
      outline:0;
    }
  }
  label {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
  }
  .v-select:not(.v-autocomplete) input {
    font-size: 0;
    min-height: 32px;
  }
  .section-separator {
    padding:15px 20px;
    margin:30px -18px;
    border-top:1px solid rgba(0, 0, 0, 0.125);
    border-bottom:1px solid rgba(0, 0, 0, 0.125);
    .checkbox {
      label{
        font-weight:bold;
      }
    }
  }
  .alpha-row {
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: -15px;
    .alpha-form-group {
      padding:15px;
      .alpha-header {
        margin-top:-15px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 15px;
        padding:10px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        text-transform:uppercase;
        font-weight:bold;
      }
      &.alpha-b-r {
        border-right:1px solid rgba(0, 0, 0, 0.125);
      }
    }
  }
  body {
    table {
      thead {
        tr {
          th {
            vertical-align: middle;
          }
        }
      }
      tbody {
        tr {
          td {
            &:first-child {
              &.featured-image {
                width:60px;
                padding:10px;
                text-align:center;
                vertical-align: middle;
              }
              img {
                max-width:40px;
                width:100%;
              }
            }
            &.name {
              font-weight:bold;
            }
          }
        }
      }
    }
  }
  .card-body {
    .v-card__title {
      padding:0 16px 16px;
    }
  }
  .color-wrapper {
    width:100px;
    height:20px;
    border:1px solid #e3e3e3;
  }
  .checkbox-wrapper {
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    padding-left:10px;
    .the-checkbox {
      width:62px;
      height:30px;
      background-color:$white;
      border:1px solid #ccc;
      overflow:hidden;
      border-radius:5px;
      cursor:pointer;
      &.active {
        .trigger {
          &:before {
            left:0;
            @include transition(.3s);
          }
          &:after {
            right:-60px;
            @include transition(.3s);
          }
        }
      }
      .trigger {
        position:relative;
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color:$white;
        &:before {
          position:absolute;
          content:"Yes";
          top:0;
          left:-30px;
          bottom:0;
          font-weight:bold;
          color:$white;
          line-height: 30px;
          text-align:center;
          font-size:13px;
          width: 100%;
          border-top-left-radius:5px;
          border-bottom-left-radius:5px;
          background-color:#28a745;
          @include transition(.3s);
        }
        &:after {
          position:absolute;
          content:"No";
          border-top-right-radius:5px;
          border-bottom-right-radius:5px;
          top:0;
          right:-30px;
          bottom:0;
          width: 100%;
          font-weight:bold;
          line-height: 30px;
          text-align:center;
          font-size:13px;
          background-color:#eee;
          @include transition(.3s);
        }
      }
    }
    .checkbox-toggle {
      width: 56px;
      display: inline-block;
      vertical-align: middle;
      align-items: center;
      margin: 0.5em;
      outline:0;
      overflow: hidden;
    }
    .checkbox-slide {
      position:relative;
      width: 56px;
      padding: 0;
      margin: 0;
      border-radius: 0.25em;
      cursor: pointer;
      overflow: hidden;
    }
    .checkbox-switch {
      position:relative;
      padding: 0;
      margin: 0;
      width: 2em;
      height: 2em;
      border-radius: 0.25em;
      background: #384a5d;
      cursor: pointer;
      &:before {
        position:absolute;
        content:"Yes";
        top:0;
        left:-23px;
        bottom:0;
        font-weight:bold;
        color:$white;
        line-height: 28px;
        text-align:center;
        font-size:13px;
        @include transition(.3s);
      }
      &:after {
        position:absolute;
        content:"No";
        top:0;
        right:-23px;
        bottom:0;
        font-weight:bold;
        line-height: 28px;
        text-align:center;
        font-size:13px;
        @include transition(.3s);
      }
    }
    .checkbox-label {
      margin-left: 0.5em;
    }
    .checkbox-switch.checked {
      transform: translateX(2em);
      transition: all 350ms;
    }
    .checkbox-switch.unchecked {
      transition: all 350ms;
    }
    .checkbox-slide.checked {
       position:relative;
      transition: all 350ms;
      background: #67af7f;
    }
    .checkbox-slide.unchecked {
       position:relative;
      transition: all 350ms;
      background: lightgray;
    }
    .checkbox-switch.disabled {
      cursor: not-allowed;
      background: #8da3ba;
    }
    .checkbox-slide.disabled {
      cursor: not-allowd;
      background: #e0e0e0;
    }

  }
  .vc-chrome {
    position:relative;
    max-width:280px;
    width: 100%;
    top:5px;
    z-index: 9;
  }
  .current-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #000;
    cursor: pointer;
    border-radius:100%;
  }
  .pagination-wrapper {
    padding-top:30px;
  }
  .theme--light {
    .v-pagination {
      .v-pagination__item--active {
        background-color:#000;
      }
    }
  }
  html {
    height: 100%;
    body {
      height: 100%;
      position:relative;
      min-width: 320px;
      font-weight: normal;
      // overflow-x:hidden;
      background-color:#f6f6f6;
      #app {
        position:relative;
        min-height: 100%;
        padding-bottom:60px;
        .footer {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
        }
      }
    }
  }
}

.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100000;
	backface-visibility: hidden;
	background: #fff;
	.preloader_img{
		width: 200px;
		height: 200px;
		position: absolute;
		left: 48%;
		top: 48%;
		background-position: center;
		z-index: 999999
	}
}

#app {
	main {
		div.all-wrapper{
			height: 100vh;
		}
	}
}

a.btn-info, span.btn-info {
	color: #fff !important;
	i {
		color: #fff;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1164px !important;
	}
}

.cyan-title {
  font-size: $font-size-20;
  color: $colorTitle;
  @media (min-width: 1200px) {
    font-size: $font-size-24;
  }
}
.pink-title {
  font-size: $font-size-20;
  color: $colorPTitle;
  @media (min-width: 1200px) {
    font-size: $font-size-24;
  }
}
.green-title {
  font-size: $font-size-20;
  color: #5db60e;
  @media (min-width: 1200px) {
    font-size: $font-size-24;
  }
}
.orange-title {
  font-size: $font-size-20;
  color: #ffbe2c;
  @media (min-width: 1200px) {
    font-size: $font-size-24;
  }
}

  /** To top
   * ===================================== */
   #cs-to-top {
    position:fixed;
    right:15px;
    bottom:65px;
    border:0;
    height:40px;
    width:40px;
    line-height:40px;
    text-align:center;
    color:$white;
    padding: 0;
    z-index: 5;
    line-height: initial;
    opacity: 0.5;
    background-color: $logoColor;
    @include transition(.3s);
    cursor:pointer;
    @media (min-width: 992px) {
      bottom:15px;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 0;
      width: 0;
      border: 1px solid rgba(255, 255, 255, 0.8);
      margin: auto;
      opacity: 0;
      @include transition(.3s);
    }
    &:hover,
    &:focus {
      opacity: 1;
      outline:$logoColor;
      @include transition(.3s);
      &:after {
        opacity: 1;
        height: 90%;
        width: 90%;
        @include transition(.3s);
      }
    }
    button {
      background-color:transparent;
      border:0;
    }
    span {
      display: block;
      &.text {
        font-size: 8px;
        text-transform: uppercase;
      }
    }
  }

.title-section {
	margin-bottom: 10px;
	text-align: center;
	.c-cyan{
		color: $cyan;
	}
	.c-pink {
		color: $pink;
	}
	.left {
		background-image: url('../img/left-icon.png');
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
		margin-right: 14px;
		height: 15px;
		width: 28px;
	}
	.right {
		background-image: url('../img/right-icon.png');
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
		margin-left: 14px;
		height: 15px;
		width: 28px;
	}
	h3, .left, .right {
		font-family: $font-latoBold;
		font-size: $font-size-16;
		vertical-align: middle;
		display: inline-block;
		@media (min-width: 1200px) {
			font-size: $font-size-30;
		}
	}
}

.listing {
	.pink {
		background-color: $pink;
	}
	.yellow {
		background-color: $yellow;
	}
	.lblue {
		background-color: $lightblue;
	}
	.green {
		background-color: $green;
	}
}

.loader-overlay {
    //background: $color-white;
    background-image: radial-gradient(circle farthest-corner at center, #4f98d4 0%, rgba(28, 38, 43, 0.7) 100%);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    .loader{
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
    	top: 0;
    	.loader-img {
			text-align: center;
			display: table;
			height: 100%;
			margin: auto;
			width: 100%;
			.swrap{
	          display: table-cell;
	          vertical-align: middle;
	        }
    	}
	}
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}


.bg-red {
  background-color: $red !important;
}
.bg-orange {
  background-color: $orange !important;
}
.bg-green {
  background-color: $green !important;
}

.required > label:after {
  content:" *"; color: red;
  font-size: $font-size-14;
  line-height: 1rem;
}

.error-block {
  color: $red;
  font-size: $font-size-12;
  @include breakpoint(xs) {
    font-size: $font-size-10;
  };
}
