 /**
  * =====================================
  * Mixins
  * =====================================
  * Main File for Mixins used in sass
  * =====================================
  */

  /** Background Size
   * ================================= */
   @mixin bg_size($bg){
    -webkit-background-size:$bg;
    -moz-background-size:$bg;
    -o-background-size:$bg;
    -ms-background-size:$bg;
    background-size:$bg;
  }

  /** Transitiona
   * ================================= */
  @mixin transition($sec) {
    -webkit-transition: all $sec ease;
    -moz-transition: all $sec ease;
    -o-transition: all $sec ease;
    -ms-transition: all $sec ease;
    transition: all $sec ease;
  }

  @mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }

  /** Fontawesome
   * ================================= */
  @mixin fontawesome() {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased
  }

  /** Media queries
   * ===================================== */
  @mixin breakpoint( $point, $custom: false ) {
    @if $custom {
      @media ( min-width: $point ) { @content; }
    } @else {
      @if $point == xs {
        @media ( max-width: 576px ) { @content; }
      } @else if $point == sm {
        @media ( min-width: 576px ) { @content; }
      } @else if $point == md {
        @media ( min-width: 768px ) { @content; }
      } @else if $point == lg {
        @media ( min-width: 992px ) { @content; }
      } @else if $point == xl {
        @media ( min-width: 1200px ) { @content; }
      }
    }
  }

/** Transition
  * ===================================== */
  @mixin transition_all( $transition ) {
    -webkit-transition: all $transition;
    -ms-transition: all $transition;
    -o-transition: all $transition;
    transition: all $transition;
  }

/** Placeholder
 * ===================================== */
  @mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
  }
