 /**
  * =====================================
  * Variables
  * =====================================
  * Main File for Variables used in sass
  * =====================================
  */

 /**
  * =====================================
  * Typography
  * =====================================
  */

  $font-ArialRoundedMTBold: "ArialRoundedMTBold";
  $font-latoSemiBold: "lato-semibold";
  $font-latoRegular: "lato-regular";
  $font-latoBold: "lato-bold";
  $font-size-base: 0.9rem;
  $line-height-base: 1.6;

 /**
  * =====================================
  * Color Palettes
  * =====================================
  */

  $logoColor:#5cb70c;

  $body-bg: #f8fafc;
  $blue: #3490dc;
  $lightblue: #5cabeb;
  $pink: #ea5895;
  $yellow: #f1b836;
  $green: #5bb80b;

  $indigo: #6574cd;
  $purple: #9561e2;
  $red: #e3342f;
  $darkBlue: #071f92;
  $orange: #f6993f;
  $teal: #4dc0b5;
  $cyan: #45a9e9;
  $white: #fff;

  $colobreadActive: #5cb806;
  $colorPTitle: #ed5794;
  $colorbread: #747474;
  $colorTitle: #58abec;
  $colortotal: #4c4c4c;
  $colormenu: #303030;

 /**
  * =====================================
  * Assets Paths
  * =====================================
  */

  $path-image   :   '../img';
  $path-fonts     :  '../fonts';

  /**
   * =====================================
   * Font Size
   * =====================================
   */

   $font-size-110: 110px;
   $font-size-90: 90px;
   $font-size-60: 60px;
   $font-size-50: 50px;
   $font-size-48: 48px;
   $font-size-44: 44px;
   $font-size-40: 40px;
   $font-size-37: 37px;
   $font-size-35: 35px;
   $font-size-32: 32px;
   $font-size-30: 30px;
   $font-size-29: 29px;
   $font-size-28: 28px;
   $font-size-27: 27px;
   $font-size-26: 26px;
   $font-size-25: 25px;
   $font-size-24: 24px;
   $font-size-23: 23px;
   $font-size-22: 22px;
   $font-size-21: 21px;
   $font-size-20: 20px;
   $font-size-19: 19px;
   $font-size-18: 18px;
   $font-size-17: 17px;
   $font-size-16: 16px;
   $font-size-15: 15px;
   $font-size-14: 14px;
   $font-size-13: 13px;
   $font-size-12: 12px;
   $font-size-11: 11px;
   $font-size-10: 10px;
   $font-size-9: 9px;
   $font-size-8: 8px;
   $font-size-7: 7px;
	 $font-size-6: 6px;

@mixin transition_all( $transition ) {
  -webkit-transition: all $transition;
  -ms-transition: all $transition;
  -o-transition: all $transition;
  transition: all $transition;
}

.fixedNav_top {
  margin-top: 52px;
}

.btn-details, .btn-yellow {
  border-color: #28a745 !important;
  -webkit-appearance: none !important;
  background-color: #28a745;
  color: #4a4949;
  &:hover {
    background-color: #e4de4d;
    color: #4a4949;
  }
}

.fileinput, .fileinput-new {
  height: auto;
  width: 100%;
}
.fileinput-preview {
  img {
    width: 100%;
  }
}
.v-cline {
  border-top: 1px solid #d9d9d9;
}
.file-footer-buttons, .kv-zoom-actions{
  .btn-default{
    padding: 0;
  }
}
.modal-body .btn-prev, .modal-body .btn-next, .file-preview .fileinput-remove, 
.file-footer-buttons .kv-file-upload, .file-footer-buttons .kv-file-zoom, 
.file-caption-main .fileinput-cancel-button, .input-group-append .fileinput-upload-button, .file-drag-handle {
  display: none !important;
}

#top .topnav {
  margin: 0px 0 3px 0;
}