<template>
    <v-app>
        <div>
            <div id="content" class="bg-container">
                <div class="main-bar stretch-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <router-link :to="{ name : 'dashboard-index' }">
                                        <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                    </router-link>
                                </li>
                                <li v-if="triggerArchive == false" class="breadcrumb-item">
                                    <router-link :to="{ name : 'contests-index', props : { archive : true } }">
                                        Feedback
                                    </router-link>
                                </li>
                                <li v-else class="breadcrumb-item">
                                    <router-link :to="{ name : 'feedback-archive', props : { archive : true } }">
                                        Archive - Feedback
                                    </router-link>
                                </li>
                                <li class="breadcrumb-item active">Entries</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="outer">
                    <div class="inner bg-container">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h3 v-if="triggerArchive == false" class="m-b-0">Entries</h3>
                                        <h3 v-else class="m-b-0">Archive - Entries</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <transition name="slide-fade" mode="out-in">
                                    <div class="inner-pages">
                                        <div class="v-sheet v-sheet--tile theme--light">
                                            <div data-app="true">
                                                <div class="filter-wrapper">
                                                    <div class="row align-items-center">
                                                        <div class="col text-left">
                                                            <button class="btn btn-success" v-on:click="clearData">Clear Filter</button>
                                                        </div>
                                                        <div class="col custom-text-index p-t-3">
                                                            <date-range-picker id="date_custom_range" v-model="entriesData.selectedDateRange" @daterangechanged="filterDateRange()"></date-range-picker>
                                                        </div>
                                                        <div class="col custom-text-index">
                                                            <v-text-field
                                                                v-model="entriesData.searchedWord"
                                                                append-icon="search"
                                                                label="Search"
                                                                single-line
                                                                @input="filterSearch"
                                                                hide-details
                                                            ></v-text-field>
                                                        </div>
                                                        <div class="col custom-select-index" v-if="entriesData.setFilterFeedback == true">
                                                            <multiselect
                                                                v-model="entriesData.selectedFeedback"
                                                                label="label"
                                                                track-by="label"
                                                                placeholder="Select Feedback"
                                                                :options="entriesData.feedbackOptions"
                                                                :close-on-select="true"
                                                                :hide-selected="true"
                                                                :multiple="false"
                                                                @input="filterFeedback"
                                                            ></multiselect>
                                                        </div>
                                                    </div>
                                                </div>
                                                <v-data-table
                                                    :headers="entriesData.headers"
                                                    :items="entriesData.data"
                                                    :pagination.sync="entriesData.pagination"
                                                    :rows-per-page-items="entriesData.rowsPerPageItems"
                                                    :search="entriesData.filters"
                                                    :custom-filter="customFilter"
                                                    class="elevation-1">
                                                    <template slot="items" slot-scope="props">
                                                        <td class="text-left">{{ props.item.contest_title }}</td>
                                                        <td class="text-left">{{ props.item.name }}</td>
                                                        <td class="text-left">{{ props.item.contact_number }}</td>
                                                        <td class="text-left">{{ props.item.created_at_formatted }}</td>
                                                        <td class="text-left">
                                                            <router-link v-if="triggerArchive == false" :to="{ name : 'feedback-entry-view', params: { entryid : props.item.id },props : { archive: false } }" class="btn btn-sm btn-custom-edit" title="Edit">View</router-link>
                                                            <router-link v-else :to="{ name : 'feedback-archive-entry-view', params: { entryid : props.item.id }, props : { archive: true } }" class="btn btn-sm btn-custom-edit" title="Edit">VIEW</router-link>
                                                            <button v-if="triggerArchive == false" v-on:click="deleteEntry(props.item, props.item.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                        </td>
                                                    </template>
                                                    <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                        Your search for "{{ entriesData.search }}" found no results.
                                                    </v-alert>
                                                </v-data-table>
                                            </div>
                                        </div>
                                    </div>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            this.feedbackIndex();
            setTimeout(() =>{
                this.getEntriesForArchive();
            },50);
            if (this.test) {
                this.entriesData.setFilterFeedback = false;
            }
        },
        props : [
            'url', 'test','archive'
        ],
        data : function() {
            return {
                currentPage: 'Index',
                getAllAuditLogs : [],
                hasError: false,
                success: false,
                busy: false,
                errors:'',
                triggerArchive:false,
                entriesData:{
                    setFilterFeedback:true,
                    filters: {
                        search: '',
                        feedback: '',
                        date_range:'',
                    },
                    selectedFeedback:'',
                    searchedWord:'',
                    selectedDateRange:'',
                    feedbackOptions:[],
                    headers:[
                        { text: 'Feedback Title', value: 'contest_title' },
                        { text: 'Name', value: 'name' },
                        { text: 'Contact Number', value: 'contact_number' },
                        { text: 'Date Submitted', value: 'created_at_formatted' },
                        { text: 'Actions', value:'', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.entriesData.pagination.rowsPerPage == null ||
                    this.entriesData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.entriesData.pagination.totalItems / this.entriesData.pagination.rowsPerPage)
            }
        },
        watch: {
            '$route.params.contsid'() {
                this.feedbackIndex();
                this.checkParam();
            },
            test : function() {
                if (!this.test) {
                    this.entriesData.setFilterFeedback = true;
                }
            },
            archive: function() {
                if(this.archive) {
                    this.triggerArchive = true;
                    this.feedbackIndex();
                } else {
                    this.triggerArchive = false;
                    this.feedbackIndex();
                }
            }
        },
        methods: {
            toJson: function(key) {
                return JSON.parse(key);
            },
            getEntriesForArchive: function() {
                if(this.archive) {
                    this.triggerArchive = true;
                    this.feedbackIndex();
                } else {
                    this.triggerArchive = false;
                    this.feedbackIndex();
                }
            },
            deleteEntry: function (index, entryid) {
                this.busy = true;
                this.$http.get(this.api.feedbackEntryDelete + entryid).then((response) => {
                    this.busy = false;
                    let body = response.body;
                    if (body.success) {
                        $.jGrowl({
                            title: 'Success!',
                            message: body.message,
                            life: 3000,
                            theme: 'bg-success',
                            openDuration: 200
                        });
                        this.getAllColors = body.object;
                        const toDelete = this.entriesData.data.indexOf(index)
                        this.entriesData.data.splice(toDelete, 1);
                        return;
                    }
                }, (response) => {
                    this.busy = false;
                    this.success = false;
                });
            },
            feedbackIndex: function () {
                let indexApi = ( this.triggerArchive ) ? this.api.archiveFeedbackEntries : this.api.feedbackEntriesIndex;
                let api_url = ( this.$route.params.contsid ) ? this.api.feedbackEntriesIndexFiltered : indexApi;
                this.$http.get(api_url).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.getAllAuditLogs = body.object;
                        this.entriesData.data = body.object;
                        this.entriesData.feedbackOptions = body.feedback ? body.feedback : [];
                        this.entriesData.pagination.totalItems = this.countObject(this.entriesData.data);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            checkParam: function() {
                this.entriesData.setFilterFeedback = true;
            },
            customFilter(items, filters, filter, headers) {
                const cf = new this.$MultiFilters(items, filters, filter, headers);
                cf.registerFilter('search', function (searchWord, items) {
                    if (searchWord.trim() === '') return items;
                    return items.filter(item => {
                        return item.name.toLowerCase().includes(searchWord.toLowerCase());
                    }, searchWord);
                });
                cf.registerFilter('feedback', function (feedback, items) {
                    if (feedback === '') return items;
                    return items.filter(item => {
                        return item.contest_id === feedback;
                    }, feedback);
                });
                cf.registerFilter('date_range', function (date_range, items) {
                    if (date_range === '') return items;
                    return items.filter(item => {
                        return item.created_at_formatted >= date_range.start_date && item.created_at_formatted <= date_range.end_date;
                    }, date_range);
                });
                return cf.runFilters();
            },
            filterSearch(val) {
                let data = ( val ) ? val : '';
                this.entriesData.filters = this.$MultiFilters.updateFilters(this.entriesData.filters, {search: data});
            },
            filterFeedback(val) {
                let data = ( val ) ? val.value : '';
                this.entriesData.filters = this.$MultiFilters.updateFilters(this.entriesData.filters, {feedback: data});
            },
            filterDateRange(val) {
                this.entriesData.selectedDateRange = $('#date_custom_range').val();
                let start = this.entriesData.selectedDateRange.split("-")[0];
                let end = this.entriesData.selectedDateRange.split("-")[1];
                let data = {
                    end_date:end.replace(/\s+/g, ''),
                    start_date:start.replace(/\s+/g, ''),
                }
                let date_range = ( this.entriesData.selectedDateRange ) ? data : '';
                this.entriesData.filters = this.$MultiFilters.updateFilters(this.entriesData.filters, {date_range: date_range });
            },
            clearData: function() {
                this.filterFeedback();
                this.filterSearch();
                this.filterDateRange();
                this.entriesData.searchedWord = '';
                this.entriesData.selectedFeedback = '';
                this.entriesData.selectedDateRange = "";
                this.entriesData.filters.date_range = '';
                $('#date_custom_range').val('');
            }
        }
    }
</script>
