<template>
    <div id="content" class="bg-container">
        <div class="main-bar stretch-wrapper">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{ name : 'dashboard-index' }">
                                <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                            </router-link>
                        </li>
                        <li v-if="triggerArchive == false" class="breadcrumb-item active">
                            <router-link :to="{ name : 'feedback-entries-index' }">
                                Feedback Entries
                            </router-link>
                        </li>
                        <li v-else class="breadcrumb-item active">
                            <router-link :to="{ name : 'feedback-archive' }">
                                Archive Feedback Entries
                            </router-link>
                        </li>
                        <li class="breadcrumb-item active">View - {{name}}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="outer">
            <div class="inner bg-container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th width="200px">Name:</th>
                                            <td><strong>{{name}}</strong></td>
                                        </tr>
                                        <tr>
                                            <th width="200px">Birthday:</th>
                                            <td><strong>{{birthday}}</strong></td>
                                        </tr>
                                        <tr>
                                            <th width="200px">Contact Number:</th>
                                            <td><strong>{{contact_number}}</strong></td>
                                        </tr>
                                        <tr>
                                            <th width="200px">Email:</th>
                                            <td><strong>{{email}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <template v-if="countObject(feedbackEntryData)">
                            <div class="row">
                                <div class="col-12 col-lg-6 col-xl-4" v-for="(items, index) in feedbackEntryData" v-bind:key="index">
                                    <div class="card m-t-20" data-mh="feedback-box">
                                        <div
                                            class="card-body feedback"
                                            v-match-heights="{
                                                el: ['.question','.answer'],
                                                disabled: [
                                                    767,
                                                ]
                                            }"
                                        >
                                            <ul >
                                                <li class="question">{{items.question}}</li>
                                                <li class="answer" v-if="items.type == 'checkbox'">
                                                    <ul v-for="(childItems, index) in items.answer" v-bind:key="index" class="sub-answers">
                                                        <li :class="(items.type == 'radio') ? 'radio':''">{{childItems.text}}</li>
                                                    </ul>
                                                </li>
                                                <li class="answer" v-else-if="items.type == 'radio'">
                                                    <ul class="sub-answers">
                                                        <li class="radio">{{items.answer}}</li>
                                                    </ul>
                                                </li>
                                                <li :class="(items.type == 'text') ? 'answer not-sub' : 'answer sub'" v-else>{{items.answer}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getFeedbackEntry();
        },
        props : ['archive'],
        data: function() {
            return {
                name:'',
                title:'',
                email:'',
                birthday:'',
                contact_number:'',
                triggerArchive:false,
                feedbackEntryData:[],
            }
        },
		methods : {
            toJson: function(key) {
                return JSON.parse(key);
            },
            getFeedbackEntry: function() {
                if(this.archive) {
                    this.triggerArchive = true;
                } else {
                    this.triggerArchive = false;
                }
                this.$http.get( this.api.feedbackEntryView ).then(function(response) {
                        let body = response.body;
                        if (body.success) {
                            this.name = body.title;
                            this.email = body.email;
                            this.birthday = body.birthday;
                            this.contact_number = body.contact_number;
                            this.feedbackEntryData = body.object;
                            console.log(this.feedbackEntryData);
                            return;
                        }
                    }, function (error) {
                    this.errors = error.body.errors;
                });
            },
		}
    }
</script>
