<template>
    <v-app>
        <div>
            <div id="content" class="bg-container">
                <div class="main-bar stretch-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <router-link :to="{ name : 'dashboard-index' }">
                                        <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                    </router-link>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="outer">
                    <div class="inner bg-container">
                        <div class="row">
                            <div class="col">
                                <div class="card card-default">
                                    <div class="card-header">Feedback</div>
                                    <div class="card-body">
                                        <transition name="slide-fade" mode="out-in">
                                            <div class="inner-pages">
                                                <div class="v-sheet v-sheet--tile theme--light">
                                                    <div data-app="true">
                                                        <v-data-table
                                                            :headers="contestData.headers"
                                                            :items="contestData.data"
                                                            :pagination.sync="contestData.pagination"
                                                            :search="contestData.search"
                                                            :rows-per-page-items="contestData.rowsPerPageItems"
                                                            class="elevation-1">
                                                            <template slot="items" slot-scope="props">
                                                                <td class="featured-image"><img :src="`${DomainUrl}${props.item.thumbnail}`" style="max-width: 60px;"></td>
                                                                <td class="text-left">{{ props.item.title }}</td>
                                                                <td class="text-left">{{ props.item.count_items }}</td>
                                                                <td class="text-left">{{ convertDate(props.item.count_items) }} - {{ convertDate(props.item.date_to) }}</td>
                                                                <td>
                                                                    <template v-if="props.item.status == 'active'">
                                                                        <span class="cbg-green">{{ props.item.status }}</span>
                                                                    </template>
                                                                    <template v-else-if="props.item.status == 'expired'">
                                                                        <span class="cbg-red">inactive</span>
                                                                    </template>
                                                                </td>
                                                            </template>
                                                            <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                                Your search for "{{ contestData.search }}" found no results.
                                                            </v-alert>
                                                        </v-data-table>
                                                    </div>
                                                </div>
                                            </div>
                                        </transition>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-default">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">Audit Logs</div>
                                            <div class="col text-right">
                                                <router-link :to="{ name : 'audit-index' }">
                                                    <span class="link-title menu_hide">&nbsp;&nbsp;View All</span>
                                                </router-link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <transition name="slide-fade" mode="out-in">
                                            <div class="inner-pages">
                                                <div class="v-sheet v-sheet--tile theme--light">
                                                    <div data-app="true">
                                                        <v-data-table
                                                            :headers="auditLogsData.headers"
                                                            :items="auditLogsData.data"
                                                            :pagination.sync="auditLogsData.pagination"
                                                            :rows-per-page-items="auditLogsData.rowsPerPageItems"
                                                            class="elevation-1">
                                                            <template slot="items" slot-scope="props">
                                                                <td class="text-left">{{ props.item.name.first_name+' '+props.item.name.last_name }}</td>
                                                                <td class="text-left">{{ props.item.description+' '+props.item.action }}</td>
                                                                <td class="text-left">{{ props.item.created_at }}</td>
                                                            </template>
                                                            <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                                Your search for "{{ auditLogsData.search }}" found no results.
                                                            </v-alert>
                                                        </v-data-table>
                                                    </div>
                                                </div>
                                            </div>
                                        </transition>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            this.auditLogsIndex();
            this.contestsIndex();
        },
        components: {
        },
        props : [
            'url', 'Logout', 'dashboardUrl'
        ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                currentPage: 'Index',
                getAllAuditLogs : [],
                hasError: false,
                success: false,
                busy: false,
                auditLogsData:{
                    search:'',
                    headers:[
                        { text: 'User', value: 'first_name' },
                        { text: 'Description', value: 'description' },
                        { text: 'Timestamp', value: 'created_at' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
                contestData:{
                    search:'',
                    headers:[
                        { text: 'Thumbnail', value: 'thumbnail' },
                        { text: 'Title', value: 'title' },
                        { text: 'Items', value: 'count_items' },
                        { text: 'Duration', value: 'date_from' },
                        { text: 'Status', value: 'status' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.auditLogsData.pagination.rowsPerPage == null ||
                    this.auditLogsData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.auditLogsData.pagination.totalItems / this.auditLogsData.pagination.rowsPerPage)
            },
            pages () {
                if (this.contestData.pagination.rowsPerPage == null ||
                    this.contestData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.contestData.pagination.totalItems / this.contestData.pagination.rowsPerPage)
            }
        },
        methods: {
            toJson: function(key) {
                return JSON.parse(key);
            },
            convertDate: function (date) {
                Date.prototype.monthNames = [
                    "January", "February", "March",
                    "April", "May", "June",
                    "July", "August", "September",
                    "October", "November", "December"
                ];
                Date.prototype.getMonthName = function() {
                    return this.monthNames[this.getMonth()]; // long month name
                };
                Date.prototype.getShortMonthName = function () {
                    return this.getMonthName().substr(0, 3); // short month name
                };
                function pad(s) { return (s < 10) ? '0' + s : s; }
                var d = new Date(date);
                return d.getShortMonthName()+' '+pad(d.getDate())+', '+d.getFullYear();
            },
            auditLogsIndex: function () {
                this.$http.get(this.api.auditIndex).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.getAllAuditLogs = body.object;
                        this.auditLogsData.data = body.object;
                        this.auditLogsData.pagination.totalItems = this.countObject(this.auditLogsData.data);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                    }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            contestsIndex: function () {
                this.$http.get(this.api.contestIndex).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.getAllContests = body.object;
                        this.contestData.data = body.object;
                        this.contestData.pagination.totalItems = this.countObject(this.contestData.data);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            }
        }
    }
</script>
