<template>
	<div id="content" class="bg-container">
    <div class="main-bar stretch-wrapper">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link :to="{ name : 'dashboard-index' }">
                  <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
              </router-link>
            </li>
            <li class="breadcrumb-item active">
              <router-link :to="{ name : 'contests-index' }">
                Contests
              </router-link>
            </li>
            <li class="breadcrumb-item active">Create Items</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="outer">
      <div class="inner bg-container">

        <div class="card m-b-10">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3 class="m-b-0">
                  Create Items
                </h3>
              </div>
            </div>
          </div>
        </div>

        <form @submit.prevent="submitAddContestItems" method="POST" enctype="multipart/form-data">
	        <div class="row justify-content-center">
	          <div class="col-12 col-sm-9">
	            <div class="card">
	              <div class="card-header">
	                Contest Questions
	              </div>
	              <div class="card-body items-wrapper">
	                <p v-if="hasError" class="alert alert-danger">
	                    <span>{{ errorMessage }}</span>
	                </p>
                  <div class="form-group row">
                    <div class="col required">
                      <div class="p-d-0">
                        <div class="input-group input-group-prepend">
                          <select id="question-type" class="form-control">
                            <option :value="'text'">Paragraph</option>
                            <option :value="'text_field'">Text field</option>
                            <option :value="'radio'">Radio buttons</option>
                            <option :value="'checkbox'">Checkboxes</option>
                          </select>
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-yellow btn-green-bold" @click="addElement">ADD</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="survey-wrapper">
                    <draggable v-model="inputs" :options="{draggable:'.survey-items'}">
											<div class="survey-items" v-for="(input, key) in inputs" v-bind:key="key">
							          <div class="row no-gutters">
									      	<div class="col-12 col-xl-1 btn-wrappers">
									      		<a class="btn btn-xs btn-info btn-drag-row">
									      			<i class="fa fa-hand-rock-o"></i>
									      		</a>
									      		<a class="btn btn-xs btn-danger btn-remove-row" :id="'remove_'+key" @click="deleteRow(inputs, key, input.id)">
									      			<i class="fa fa-trash"></i>
									      		</a>
									      	</div>
									      	<div class="col-12 col-xl-11">
									      		<div class="right-wrap">

							      					<template v-if="input.type == 'text'">
									      				<div><em class="font-size-10">TYPE: <strong>PARAGRAPH</strong></em></div>
								      				</template>
								      				<template v-else-if="input.type == 'radio'">
									      				<div><em class="font-size-10">TYPE: <strong>RADIO BUTTONS</strong></em></div>
								      				</template>
								      				<template v-else-if="input.type == 'checkbox'">
									      				<div><em class="font-size-10">TYPE: <strong>CHECKBOXES</strong></em></div>
								      				</template>
								      				<template v-else>
                                <div><em class="font-size-10">TYPE: <strong>TEXT FIELD</strong></em></div>            
                              </template>

									      			<label for="question" class="control-label question-label">Question:</label>

									      			<template v-if="input.type == 'text'">
                                <div class="form-group row">
                                  <div class="col required">
                                    <div class="p-d-0">
                                      <div class="input-group input-group-prepend">
      										      				<input type="text" :name="input.key" :id="'txt_'+key" v-model="inputs[key].question" class="form-control" aria-invalid="true" required>
      										      				<input type="hidden" :name="input.key"  v-model="input.type">
                                      </div>
                                    </div>
                                  </div>
                                </div>
								      				</template>

								      				<template v-else-if="input.type == 'radio'">
                                <div class="form-group row">
                                  <div class="col required">
                                    <div class="p-d-0">
                                      <div class="input-group input-group-prepend">
      										      				<input type="text" :name="input.key" :id="'txt_'+key" v-model="inputs[key].question" class="form-control" aria-invalid="true" required>
      										      				<input type="hidden" :name="input.key" v-model="input.type">
                                      </div>
                                    </div>
                                  </div>
                                </div>
								      				</template>

								      				<template v-else-if="input.type == 'checkbox'">
                                <div class="form-group row">
                                  <div class="col required">
                                    <div class="p-d-0">
                                      <div class="input-group input-group-prepend">
      										      				<input type="text" :name="input.key" :id="'txt_'+key" v-model="inputs[key].question" class="form-control" aria-invalid="true" required>
      										      				<input type="hidden" :name="input.key"  v-model="input.type">
                                      </div>
                                    </div>
                                  </div>
                                </div>
								      				</template>

								      				<template v-else>
                                <div class="form-group row">
                                  <div class="col required">
                                    <div class="p-d-0">
                                      <div class="input-group input-group-prepend">
                                        <input type="text_field" :name="input.key" :id="'txt_'+key" v-model="inputs[key].question" class="form-control" aria-invalid="true" required>
                                        <input type="hidden" :name="input.key"  v-model="input.type">
                                      </div>
                                    </div>
                                  </div>
                                </div>            
                              </template>

									      		</div>

									      		<template v-if="input.type == 'radio'">
										      		<div class="options" :id="'option_'+key">
										      			<h6>Radio Options <a title="Add option" class="btn btn-yellow btn-yellow-option btn-xs" :id="'addSubOption_'+key" @click="addSubElement(input.sub_key, 'radio');"><i class="fa fa-plus"></i></a></h6>
										      			<ul class="list-unstyled mrg10T radio-ul" :id="'subText_'+key">
										      				<li v-for="(subInput, radioKey) in inputSub[input.sub_key]" v-bind:key="radioKey">
										      					<div class="input-group mrg5B">
										      						<div class="input-group-btn">
										      							<a class="btn btn-danger btn-remove-option" @click="deleteSubRow(input.sub_key, radioKey);"><i class="fa fa-trash"></i></a>
										      						</div>
										      						<input type="text" v-model="inputSub[input.sub_key][radioKey].subitem" class="form-control">
										      					</div>
										      				</li>
										      			</ul>
										      		</div>
										      	</template>

										      	<template v-else-if="input.type == 'checkbox'">
										      		<div class="options" :id="'option_'+key">
										      			<h6>Options <a title="Add option" class="btn btn-yellow btn-yellow-option btn-xs" :id="'addSubOption_'+key" @click="addSubElement(input.sub_key, 'checkbox');"><i class="fa fa-plus"></i></a></h6>
										      			<ul class="list-unstyled mrg10T radio-ul" :id="'subText_'+key">
										      				<li v-for="(subInput, checkboxKey) in inputSub[input.sub_key]" v-bind:key="checkboxKey">
										      					<div class="input-group mrg5B">
										      						<div class="input-group-btn">
										      							<a class="btn btn-danger btn-remove-option" @click="deleteSubRow(input.sub_key, checkboxKey);"><i class="fa fa-trash"></i></a>
										      						</div>
										      						<input type="text" v-model="inputSub[input.sub_key][checkboxKey].subitem" class="form-control">
										      					</div>
										      				</li>
										      			</ul>
										      		</div>
										      	</template>

                            <!-- <template v-else-if="input.type == 'text_field'">
                              <div class="options" :id="'option_'+key">
                                <h6>Options <a title="Add option" class="btn btn-yellow btn-yellow-option btn-xs" :id="'addSubOption_'+key" @click="addSubElement(input.sub_key, 'text_field');"><i class="fa fa-plus"></i></a></h6>
                                <ul class="list-unstyled mrg10T radio-ul" :id="'subText_'+key">
                                  <li v-for="(subInput, checkboxKey) in inputSub[input.sub_key]" v-bind:key="checkboxKey">
                                    <div class="input-group mrg5B">
                                      <div class="input-group-btn">
                                        <a class="btn btn-danger btn-remove-option" @click="deleteSubRow(input.sub_key, checkboxKey);"><i class="fa fa-trash"></i></a>
                                      </div>
                                      <input type="text" v-model="inputSub[input.sub_key][checkboxKey].subitem" class="form-control">
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </template> -->

										      	<template v-else></template>

									      	</div>
									      </div>
							        </div>
                    </draggable>
                  </div>

	              </div>
	            </div>
	          </div>
	          <div class="col-12 col-sm-3">
	            <div class="card m-b-10" id="sticky">
                <div class="card-header">
                  ACTIONS
                </div>
	              <div class="card-footer">
	                <div class="row">
	                	<div class="col">
			                <router-link :to="{ name : 'contests-edit', params: { contsid : this.$route.params.contsid } }" class="btn btn-success form-control btn-details" type="submit">
			                	<i class="fa fa-caret-square-o-left" aria-hidden="true"></i> &nbsp;Contest Details
			                </router-link>
			              </div>
			              <div class="col">
			                <button class="btn btn-success form-control" type="submit">
			                  <i class="fa fa-save"></i> &nbsp;Save
			                </button>
			              </div>
			            </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </form>

      </div>
    </div>
  </div>
</template>
<script>

	import draggable from 'vuedraggable';

  export default {

    mounted() {

    },

    components: {
    	 draggable,
    },

    props : [
      'postAction', 'type'
    ],

    data : function() {
        return {
            currentPage: 'ContestItems',
            csrf: $('meta[name=csrf-token]').attr("content"),
		        hasError: false,
		        busy: false,
		        post: {},
		        submitted: false,
		        errors: [],
					  inputs: [],
					  inputSub: [],
            errorsCont: {},
        }
    },

    methods: {

    	addElement: function() {
    		let element = $('#question-type').val();
    		let count = this.inputs.length;
    		this.inputs.forEach((item) => {
    			if (item.sub_key >= count) {
    				count = parseInt(item.sub_key) + 1;
    			}
    		});
        if ( element == 'text' ) {
        	this.inputs.push({ id: '', contest_id: this.$route.params.contsid, question : '', type : 'text', paragraph : true, sub_key : count});
        }else if ( element == 'radio' ) {
  				this.inputs.push({ id: '', contest_id: this.$route.params.contsid, question : '', type : 'radio', radio : true,  sub_key : count });
  			}else if ( element == 'checkbox' ) {
  				this.inputs.push({ id: '', contest_id: this.$route.params.contsid, question : '', type : 'checkbox', checkbox : true,  sub_key : count });
  			}else {
          this.inputs.push({ id: '', contest_id: this.$route.params.contsid, question : '', type : 'text_field', sub_key : count });
  			}
      },

      deleteRow: function(inputs, index, idItem) {
	      this.inputs.splice( index, 1 );
	      this.$forceUpdate();
	    },

      addSubElement: function (subIndex, type) {
				let initSubs = [];
				if (this.inputs.length > 0) {
					initSubs = this.inputSub[subIndex] != undefined ? this.inputSub[subIndex] : [];
				}

				if ( type == 'radio' ) {
  				initSubs.push({ subitem : '', subParent: subIndex, radio : true });
  			} else if ( type == 'checkbox' ) {
  				initSubs.push({ subitem : '', subParent: subIndex, checkbox : true });
        // } else if ( type == 'text_field' ) {
          // initSubs.push({ subitem : '', subParent: subIndex, text_field : true });
  			} else {}
        
				this.inputSub[subIndex] = initSubs;
				this.$forceUpdate();
      },

      deleteSubRow: function (subIndex, key) {
      	this.inputSub[subIndex].splice( key , 1 );
      	this.$forceUpdate();
      },

      submitAddContestItems: function () {
        let element = $('#question-type').val();
        if (!this.busy) {

          this.busy = true;
          this.hasError = false
          let xpost = this.post;
          xpost['data'] = this.inputs;
          xpost['data'].map((item, key) => {
            item['choices'] = this.inputSub[item.sub_key] ? this.inputSub[item.sub_key] : "";
          });
          xpost['_token'] = this.csrf;

          if ( xpost['data'].length > 0 ) {
            this.$http.post(this.api.contestItemsCreate, xpost).then(function(response) {
                // form submission successful, reset post data and set submitted to true
                let body = response.body;
                if ( body.success ) {
                  $.jGrowl({
                      title: 'Success!',
                      message: body.object,
                      life: 3000,
                      theme: 'bg-green',
                      openDuration: 200
                  });
                  this.submitted = true;
                  this.errors = '';
                  this.$router.push({ name: 'contests-index' });
                } else {
                  this.errors = body.error;
                  this.errorMessage = 'Error!';
                  $.jGrowl({
                    title: 'Error!',
                    message:'Kindly Check the Following Errors!',
                    life: 3000,
                    theme: 'bg-red',
                    openDuration: 200
                  });
                }
            }, function (error) {
                // form submission failed, pass form  errors to errors array
                this.errors = error.body.error;

            });

          } else {
            $.jGrowl({
              title: 'Error!',
              message:'You have not provided any questions for this contest',
              life: 3000,
              theme: 'bg-red',
              openDuration: 200
            });
          }

        } else {
          this.busy = false;
          this.hasError = true;
          this.errorMessage = 'Please try again.';
        }
      }
    }

  }
</script>
