<template>
    <div id="content" class="bg-container">
        <div class="main-bar stretch-wrapper">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{ name : 'dashboard-index' }">
                                <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                            </router-link>
                        </li>
                        <li class="breadcrumb-item active">
                            <router-link :to="{ name : 'sizes-index' }">
                                Sizes
                            </router-link>
                        </li>
                        <li class="breadcrumb-item active">Add Sizes</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="outer">
            <div class="inner bg-container">
                <div class="container-fluid">
                    <div class="card m-b-10">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h3 class="m-b-0">
                                        Add Sizes
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <form-sizes-component postAction="api/sizes/create"></form-sizes-component>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
        },
        components: {
            'form-sizes-component': require('./../../Templates/Sizes/form.vue').default,
        },
		props : [],
        data: function() {
            return {
            }
        },
		methods : {
		}
    }
</script>
