<template>
    <v-app>
        <div id="content" class="bg-container">
            <div class="main-bar stretch-wrapper">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name : 'dashboard-index' }">
                                    <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                </router-link>
                            </li>
                            <li class="breadcrumb-item active">Sizes</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="inner bg-container">
                    <div class="card card-default">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="m-b-0">Sizes</h3>
                                </div>
                                <div class="col">
                                    <div class="btn-group float-right">
                                        <router-link :to="{ name : 'sizes-create' }" class=" btn btn-success m-r-5">
                                            Add Sizes&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                        </router-link>
                                        <!-- <a href="javascript:;" v-on:click="changePage('Create')" class="btn btn-success m-r-5">
                                            Add Sizes&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                        </a> -->
                                        <a href="#" class=" btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <transition name="slide-fade" mode="out-in">
                                <div class="inner-pages">
                                    <div class="v-sheet v-sheet--tile theme--light">
                                        <div data-app="true">
                                            <v-card-title>
                                                <v-spacer></v-spacer>
                                                <v-text-field
                                                    v-model="sizeData.search"
                                                    append-icon="search"
                                                    label="Search"
                                                    single-line
                                                    hide-details>
                                                </v-text-field>
                                            </v-card-title>
                                            <v-data-table
                                                :headers="sizeData.headers"
                                                :items="sizeData.data"
                                                :pagination.sync="sizeData.pagination"
                                                :search="sizeData.search"
                                                :rows-per-page-items="sizeData.rowsPerPageItems"
                                                class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td>{{ props.item.name }}</td>
                                                    <td>{{ props.item.category }}</td>
                                                    <td class="text-left">{{ props.item.width }}</td>
                                                    <td class="text-left">{{ props.item.length }}</td>
                                                    <td class="text-left">
                                                        <router-link :to="{ name : 'sizes-edit', params: { sizeid : props.item.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                        <button v-on:click="deleteSize(props.item, props.item.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                    </td>
                                                </template>
                                                <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                    Your search for "{{ sizeData.search }}" found no results.
                                                </v-alert>
                                            </v-data-table>
                                            <!-- <div v-if="pages > 1" class="text-right pagination-wrapper">
                                                <v-pagination v-model="sizeData.pagination.page" :length="pages"></v-pagination>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <div key=1 v-if="currentPage == 'Index'" class="inner-pages">
                                    <div id="sample_1_wrapper" class="dataTables_wrapper dt-boostrap no-footer">
                                        <div class="table-responsive">
                                            <table data-order='[[ 0, "ASC" ]]' class="table table-data table-striped table-bordered table-hover no-footer" id="datatable" role="grid">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc wid-30" tabindex="0" rowspan="1" colspan="1">Name</th>
                                                    <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Width</th>
                                                    <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Lenght</th>
                                                    <th class="sorting wid-30" tabindex="0" rowspan="1" colspan="1">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <template v-if="countObject(getAllSizes) > 0">
                                                        <tr v-for="(sizes, index) in getAllSizes" v-bind:key="index">
                                                            <td>{{ sizes.name }}</td>
                                                            <td>{{ sizes.width }}</td>
                                                            <td>{{ sizes.length }}</td>
                                                            <td>
                                                                <router-link :to="{ name : 'sizes-edit', params: { sizeid : sizes.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                                <button v-on:click="deleteSize(index, sizes.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                    <tr v-else>
                                                        <td colspan="5" class="text-center">No Records Found!</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> -->
                            </transition>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            //this.checkUser();
            this.sizeIndex();
        },
        props : [
            'url', 'Logout', 'dashboardUrl'
        ],
        data : function() {
            return {
                currentPage: 'Index',
                getAllSizes : [],
                hasError: false,
                success: false,
                busy: false,
                sizeData:{
                    search:'',
                    headers:[
                        { text: 'Name', value: 'name' },
                        { text: 'Categories', value: 'name' },
                        { text: 'Width', value: 'width' },
                        { text: 'Length', value: 'length' },
                        { text: 'Actions', value:'', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.sizeData.pagination.rowsPerPage == null ||
                    this.sizeData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.sizeData.pagination.totalItems / this.sizeData.pagination.rowsPerPage)
            }
        },
        methods: {
            toJson: function(key) {
                return JSON.parse(key);
			},
			sizeIndex: function () {
                if (!this.busy) {
                    this.busy = true;
                    this.hasError = false
                    this.$http.get(this.api.sizeIndex).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.getAllSizes = body.object;
                        this.sizeData.data = body.object;
                        this.sizeData.pagination.totalItems = this.countObject(this.sizeData.data);
                    }
                    }, function (error) {
                        this.errors = error.body.errors;
                    });
                } else {
                    this.busy = false;
                    this.hasError = true;
                }
            },
            deleteSize: function(index, sizeid) {
                this.$http.get(this.api.sizeDelete + sizeid).then(function(response) {
                let body = response.body;
                    if( body.success ) {
                        this.createNotif(body.message);
                        this.getAllSizes = body.object;
                        const toDelete = this.sizeData.data.indexOf(index);
                        this.sizeData.data.splice(toDelete, 1);
                    }
                }, function (error) {
                    this.createNotif('Delete Unsuccessful!', 'error');
                });
            }
        }
    }
</script>
