<template>
    <v-app>
        <div id="content" class="bg-container">
            <div class="main-bar stretch-wrapper">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name : 'dashboard-index' }">
                                    <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                </router-link>
                            </li>
                            <li class="breadcrumb-item active">Roles</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="inner bg-container">
                    <div class="card card-default">
                        <div class="card-header m-b-10">
                            <div class="row">
                                <div class="col">
                                    <h3 class="m-b-0">Roles</h3>
                                </div>
                                <div class="col">
                                    <div class="btn-group float-right">
                                        <router-link :to="{ name : 'roles-create' }" class=" btn btn-success m-r-5">
                                            Add Role&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <transition name="slide-fade" mode="out-in">
                                <div class="inner-pages">
                                    <div class="v-sheet v-sheet--tile theme--light">
                                        <div data-app="true">
                                            <v-card-title>
                                                <v-spacer></v-spacer>
                                                <v-text-field
                                                    v-model="userRolesData.search"
                                                    append-icon="search"
                                                    label="Search"
                                                    single-line
                                                    hide-details>
                                                </v-text-field>
                                            </v-card-title>
                                            <v-data-table
                                                :headers="userRolesData.headers"
                                                :items="userRolesData.data"
                                                :pagination.sync="userRolesData.pagination"
                                                :search="userRolesData.search"
                                                :rows-per-page-items="userRolesData.rowsPerPageItems"
                                                class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td class="text-left">{{ props.item.title }}</td>
                                                    <td class="text-left">{{ props.item.user_count }}</td>
                                                    <td class="text-left">
                                                        <router-link :to="{ name : 'roles-edit', params: { roleid : props.item.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                        <button v-on:click="removeRole(props.item, props.item.id, props.item.user_count)"
                                                        :class="props.item.user_count == 0 ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-danger btn-cant-proceed'"
                                                        :data-message="'This Role contains '+props.item.user_count+' users connected, deletion are not allowed!'"
                                                        title="Remove">REMOVE</button>
                                                    </td>
                                                </template>
                                                <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                    Your search for "{{ userRolesData.search }}" found no results.
                                                </v-alert>
                                            </v-data-table>
                                            <!-- <div v-if="pages > 1" class="text-right pagination-wrapper">
                                                <v-pagination v-model="userRolesData.pagination.page" :length="pages"></v-pagination>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </transition>
                            <!-- <div id="sample_1_wrapper" class="dataTables_wrapper dt-boostrap no-footer">
                                <div class="table-responsive">
                                    <table data-order='[[ 0, "ASC" ]]' class="table table-data table-striped table-bordered table-hover no-footer" id="datatable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc wid-20" tabindex="0" rowspan="1" colspan="1">Name</th>
                                                <th class="sorting_asc wid-20" tabindex="0" rowspan="1" colspan="1">User Count</th>
                                                <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="countObject(getAllRole) > 0">
                                                <tr v-for="(role, index) in getAllRole" v-bind:key="index">
                                                    <td>{{ role.title }}</td>
                                                    <td>{{ role.users_count }}</td>
                                                    <td>
                                                        <router-link :to="{ name : 'roles-edit', params: { roleid : role.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                        <button v-on:click="removeRole(index, role.id, role.users_count)"
                                                        :class="role.users_count == 0 ? 'btn btn-sm btn-danger' : 'btn btn-sm btn-danger btn-cant-proceed'"
                                                        :data-message="'This Role contains '+role.users_count+' users connected, deletion are not allowed!'"
                                                        title="Remove">REMOVE</button>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr v-else>
                                                <td colspan="5" class="text-center">No Records Found!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            this.roleIndex();
        },
        components: {
        },
        props : [
            'url'
        ],
        data : function() {
            return {
                currentPage: 'Index',
                getAllRole : [],
                hasError: false,
                success: false,
                busy: false,
                errors: [],
                userRolesData:{
                    search:'',
                    headers:[
                        { text: 'Name', value: 'title' },
                        { text: 'User Count', value: 'users_count' },
                        { text: 'Actions', value:'', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.userRolesData.pagination.rowsPerPage == null ||
                    this.userRolesData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.userRolesData.pagination.totalItems / this.userRolesData.pagination.rowsPerPage)
            }
        },
        methods : {
            toJson: function(key) {
                return JSON.parse(key);
            },
            removeRole: function (index, roleid, userCount) {
                if ( userCount > 0 ) {
                    $("body").on("click",".btn-cant-proceed",function(t){t.preventDefault();var e=$(this),i=e.data("message");swal({title:"Hold on!",text:i||""!=i?i:"This action cannot proceed!",type:"error",showCloseButton:!0,closeButtonColor:"#3085d6",closeButtonText:"Okay, got it!",closeButtonClass:"btn btn-success"})})
                } else {
                    this.busy = true;
                    this.$http.get(this.api.roleDelete+''+roleid).then((response) => {
                    this.busy = false;
                    let body = response.body;
                    if (body.success) {
                        $.jGrowl({
                            title: 'Success!',
                            message: 'Role '+ body.deleted +' Succesfully Removed !',
                            life: 3000,
                            theme: 'bg-success',
                            openDuration: 200
                        });
                    this.getAllRole = body.object;
                    const toDelete = this.userRolesData.data.indexOf(index);
                    this.userRolesData.data.splice(toDelete, 1);
                    }
                    }, (response) => {
                        this.busy = false;
                        this.success = false;
                    });
                }
            },
            roleIndex: function () {
                if (!this.busy) {
                    this.busy = true;
                    this.hasError = false
                    this.$http.get(this.api.roleIndex).then(function(response) {
                        let body = response.body;
                        if (body.success) {
                            this.getAllRole = body.object;
                            this.userRolesData.data = body.object;
                            this.userRolesData.pagination.totalItems = this.countObject(this.userRolesData.data);
                            return;
                        }
                    }, function (error) {
                        this.errors = error.body.errors;
                        return;
                    });
                } else {
                    this.busy = false;
                    this.hasError = true;
                }
            },
        }
    }
</script>
