<template>
    <div id="content" class="bg-container">
        <div class="main-bar stretch-wrapper">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{ name : 'dashboard-index' }">
                                <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                            </router-link>
                        </li>
                        <li class="breadcrumb-item active">
                            <router-link :to="{ name : 'contests-index' }">
                                Feedback
                            </router-link>
                        </li>
                        <li class="breadcrumb-item active">Edit - {{title}}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="outer">
            <div class="inner bg-container">
                <div class="row m-b-10">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="m-b-0">
                                            Edit - {{title}}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <form-sizes-component type="update" postAction="update"></form-sizes-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getLabelContest();
        },
        props : [],
        components: {
            'form-sizes-component': require('../../Templates/Contests/form.vue').default,
        },
        data: function() {
            return {
                title:'',
            }
        },
		methods : {
            getLabelContest: function() {
                this.$http.get( this.api.contestEdit + this.$route.params.contsid ).then(function(response) {
                        let body = response.body;
                        if (body.success) {
                            this.title = body.object.title;
                        }
                    }, function (error) {
                    this.errors = error.body.errors;
                });
            },
		}
    }
</script>
