<template>
    <v-app>
        <div id="content" class="bg-container">
            <div class="main-bar stretch-wrapper">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name : 'dashboard-index' }">
                                    <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                </router-link>
                            </li>
                            <li v-if="triggerArchive == false" class="breadcrumb-item active">Feedback</li>
                            <li v-else class="breadcrumb-item active">Archive - Feedback</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="inner bg-container">
                    <div class="card card-default">
                        <div class="card-header m-b-10">
                            <div class="row">
                                <div class="col">
                                    <h3 v-if="triggerArchive == false" class="m-b-0">Feedback</h3>
                                    <h3 v-else class="m-b-0">Archive - Feedback</h3>
                                </div>
                                <div class="col">
                                    <div class="btn-group float-right">
                                        <router-link :to="{ name : 'contests-create' }" class=" btn btn-success m-r-5">
                                            Add Feedback&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <transition name="slide-fade" mode="out-in">
                                <div class="inner-pages">
                                    <div class="v-sheet v-sheet--tile theme--light">
                                        <div data-app="true">
                                            <v-card-title>
                                                <v-spacer></v-spacer>
                                                <v-text-field
                                                    v-model="contestData.search"
                                                    append-icon="search"
                                                    label="Search"
                                                    single-line
                                                    hide-details>
                                                </v-text-field>
                                            </v-card-title>
                                            <v-data-table
                                                :headers="contestData.headers"
                                                :items="contestData.data"
                                                :pagination.sync="contestData.pagination"
                                                :search="contestData.search"
                                                :rows-per-page-items="contestData.rowsPerPageItems"
                                                class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td class="featured-image"><img :src="`${DomainUrl}${props.item.thumbnail}`" style="max-width: 60px;"></td>
                                                    <td class="text-left">{{ props.item.title }}</td>
                                                    <td class="text-left">{{ props.item.count_items }}</td>
                                                    <td class="text-left">{{ convertDate(props.item.date_from) }} - {{ convertDate(props.item.date_to) }}</td>
                                                    <td>
                                                        <template v-if="props.item.status == 'active'">
                                                            <span class="cbg-green">{{ props.item.status }}</span>
                                                        </template>
                                                        <template v-else-if="props.item.status == 'expired'">
                                                            <span class="cbg-red">inactive</span>
                                                        </template>
                                                    </td>
                                                    <td class="text-left">
                                                        <router-link v-if="triggerArchive == false" :key="$route.fullPath" :to="{ name : 'feedback-entries-index-filtered', params: { contsid : props.item.id }, props : { test : true, archive: false } }" class="btn btn-sm btn-info" title="Edit">VIEW ENTRIES</router-link>

                                                        <router-link v-else :key="$route.fullPath" :to="{ name : 'feedback-archive-entries-index-filtered', params: { contsid : props.item.id }, props : { test : true , archive: true } }" class="btn btn-sm btn-info" title="Edit">VIEW ENTRIES</router-link>

                                                        <router-link :to="{ name : 'contests-edit', params: { contsid : props.item.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>

                                                        <button v-if="triggerArchive == false" v-on:click="deleteContest(props.item, props.item.id, props.item.has_entries)" :class="[props.item.has_entries > 0 ? 'btn btn-sm btn-warning':'btn btn-sm btn-danger']" title="Remove">{{ props.item.has_entries > 0 ? 'ARCHIVE':'REMOVE' }}</button>
                                                    </td>
                                                </template>
                                                <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                    Your search for "{{ contestData.search }}" found no results.
                                                </v-alert>
                                            </v-data-table>
                                            <!-- <div v-if="pages > 1" class="text-right pagination-wrapper">
                                                <v-pagination v-model="contestData.pagination.page" :length="pages"></v-pagination>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </transition>
                            <!-- <div id="sample_1_wrapper" class="dataTables_wrapper dt-boostrap no-footer">
                                <div class="table-responsive">
                                    <table data-order='[[ 0, "ASC" ]]' class="table table-data table-striped table-bordered table-hover no-footer" id="datatable" role="grid">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc wid-30" tabindex="0" rowspan="1" colspan="1">Thumbnail</th>
                                            <th class="sorting_asc wid-30" tabindex="0" rowspan="1" colspan="1">Title</th>
                                            <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Items</th>
                                            <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Duration</th>
                                            <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Status</th>
                                            <th class="sorting wid-30" tabindex="0" rowspan="1" colspan="1">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="countObject(getAllContests) > 0">
                                                <tr v-for="(conts, index) in getAllContests" v-bind:key="index">
                                                    <td><img :src="'/app-bluecorner/public/'+conts.thumbnail" :alt="conts.title" style="max-width: 70px;"></td>
                                                    <td>{{ conts.title }}</td>
                                                    <td>{{ conts.count_items }}</td>
                                                    <td>{{ convertDate(conts.date_from) }} - {{ convertDate(conts.date_to) }}</td>
                                                    <td>
                                                        <template v-if="conts.status == 'active'">
                                                            <span class="cbg-green">{{ conts.status }}</span>
                                                        </template>
                                                        <template v-else-if="conts.status == 'expired'">
                                                            <span class="cbg-red">inactive</span>
                                                        </template>
                                                        <template else></template>
                                                    </td>
                                                    <td>
                                                        <router-link :to="{ name : 'contests-edit', params: { contsid : conts.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                        <template v-if="conts.count_items < 1">
                                                            <button v-on:click="deleteContest(index, conts.id)" class="btn btn-sm btn-danger confirmDelete" title="Remove">REMOVE</button>
                                                        </template>
                                                        <template v-else>
                                                            <button class="btn btn-sm btn-danger confirmDelete" title="Remove" disabled>REMOVE</button>
                                                        </template>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr v-else>
                                                <td colspan="6" class="text-center">No Records Found!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            this.contestsIndex();
            setTimeout(() =>{
                this.initializedContestIndex();
            },50);
        },
        props : [
            'url',
            'archive',
        ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                currentPage: 'Index',
                getAllContests : [],
                hasError: false,
                success: false,
                busy: false,
                errors: [],
                triggerArchive:false,
                contestData:{
                    search:'',
                    headers:[
                        { text: 'Thumbnail', value: 'thumbnail' },
                        { text: 'Title', value: 'title' },
                        { text: 'Items', value: 'count_items' },
                        { text: 'Duration', value: 'date_from' },
                        { text: 'Status', value: 'status' },
                        { text: 'Actions', value:'', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.contestData.pagination.rowsPerPage == null ||
                    this.contestData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.contestData.pagination.totalItems / this.contestData.pagination.rowsPerPage)
            }
        },
        watch: {
            archive : function() {
                if(this.archive) {
                    this.triggerArchive = true;
                    this.contestsIndex();
                } else {
                    this.triggerArchive = false;
                    this.contestsIndex();
                }
            },
        },
        methods: {
            toJson: function(key) {
                return JSON.parse(key);
			},
            convertDate: function (date) {
                Date.prototype.monthNames = [
                    "January", "February", "March",
                    "April", "May", "June",
                    "July", "August", "September",
                    "October", "November", "December"
                ];
                Date.prototype.getMonthName = function() {
                    return this.monthNames[this.getMonth()]; // long month name
                };
                Date.prototype.getShortMonthName = function () {
                    return this.getMonthName().substr(0, 3); // short month name
                };
                function pad(s) { return (s < 10) ? '0' + s : s; }
                var d = new Date(date);
                return d.getShortMonthName()+' '+pad(d.getDate())+', '+d.getFullYear();
            },
            deleteContest: function (index, contsid,hasEntries) {
                let callApi = hasEntries == 0 ? this.api.contestDelete+''+contsid : this.api.contestArchive+''+contsid;
                this.busy = true;
                this.$http.get(callApi).then((response) => {
                    this.busy = false;
                    let body = response.body;
                    if (body.success) {
                        $.jGrowl({
                            title: 'Success!',
                            message: 'Contest Succesfully Removed !',
                            life: 3000,
                            theme: 'bg-success',
                            openDuration: 200
                        });
                        this.getAllContests = body.object;
                        const toDelete = this.contestData.data.indexOf(index)
                        this.contestData.data.splice(toDelete, 1)
                        return;
                    }
                }, (response) => {
                    this.busy = false;
                    this.success = false;
                });
            },
            initializedContestIndex: function() {
                if(this.archive) {
                    this.triggerArchive = true;
                    this.contestsIndex();
                } else {
                    this.triggerArchive = false;
                    this.contestsIndex();
                }
            },
            contestsIndex: function () {
                let data = (this.triggerArchive) ? this.api.archiveFeedbackIndex : this.api.contestIndex;
                this.$http.get(data).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.getAllContests = body.object;
                        this.contestData.data = body.object;
                        this.contestData.pagination.totalItems = this.countObject(this.contestData.data);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            }
        }
    }
</script>
