<template>
    <v-app>
        <div>
            <form @submit.prevent="storeData" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12 col-sm-9">
                        <div class="card">
                            <div class="card-header">
                                Size Details
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="col-12 required">
                                        <label for="name" class="col-form-label">Name</label>
                                        <div class="p-d-0">
                                            <div class="input-group input-group-prepend">
                                            <span class="input-group-text br-0 border-right-0 rounded-left">
                                                <i class="fa fa-user text-default"></i>
                                            </span>
                                                <input type="text" name="first_name" v-model="data.name" :class="errors.name ? 'form-control is-invalid' : 'form-control'" id="first_name" value="">
                                                <span v-if="errors.name" class="error-handler">
                                                    {{ errors.name[0] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-12">
                                        <label for="name" class="col-form-label">Description</label>
                                        <div class="input-group input-group-prepend">
                                        <span class="input-group-text br-0 border-right-0 rounded-left">
                                            <i class="fa fa-comments text-default"></i>
                                        </span>
                                            <textarea name="description" class="form-control" v-model="data.description" id="description" cols="30" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-12">
                                        <div class="set-color-plate">
                                            <v-dialog v-model="dialog" persistent max-width="600px" scrollable style="z-index:999999" v-if="countObject(allSizes) > 0 ">
                                                <template v-slot:activator="{ on }">
                                                    <v-btn color="primary" dark v-on="on" class="sort-color-plate-">Sort Sizes</v-btn>
                                                </template>
                                                <v-card>
                                                    <v-toolbar dark color="primary">
                                                        <v-btn icon dark @click="dialog = false">
                                                            <v-icon>close</v-icon>
                                                        </v-btn>
                                                        <v-toolbar-title>Sort Sizes</v-toolbar-title>
                                                    </v-toolbar>
                                                    <v-card-text style="height: 700px;">
                                                        <div class="color-plate-sort-wrapper">
                                                            <draggable v-model="allSizes" handle=".color-plate-item">
                                                                <div class="color-plate-item sizes" v-for="(size, index) in allSizes" v-bind:key="index">
                                                                    <div class="row no-gutters">
                                                                        <div class="col-12 col-sm-1">
                                                                            <a href="javascript:;" class="btn btn-xs btn-info btn-drag-row">
                                                                                <i class="fa fa-hand-rock-o"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-12 col-sm-11">
                                                                            <ul>
                                                                                <li class="size">{{ size.name }}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </draggable>
                                                        </div>
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-btn color="warning" text @click="dialog = false">Close</v-btn>
                                                        <v-btn color="primary" text @click="setSizeOrder()">Save</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 p-l-0">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-success form-control" type="submit">
                                    <i class="fa fa-save"></i> &nbsp; {{ btnLabel }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            if( this.type == 'update' ) {
                this.getSize();
            }
        },
        props : ['postAction','type'],
        computed: {
            btnLabel: function() {
                return this.type != 'update' ? 'Add Size' : 'Update Size'
            },
        },
        data: function() {
            return {
                currentPage : 'Index',
                submitted: false,
                errors: [],
                title:'',
                dialog: false,
                allSizes: [],
                data: {
                    name: '',
                    description: '',
                    orderedSizes: [],
                },
            }
        },
		methods : {
            getSize: function() {
                this.$http.get( this.api.sizesCategoryEdit + this.$route.params.sizecatid )
                    .then(function(response) {
                        let body = response.body;
                        if (body.success) {
                            this.data = body.object;
                            this.allSizes = body.allSizes;
                            this.title = body.object.title;
                        }
                    }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            storeData : function () {
                this.data._token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                let url = (this.type != 'update') ? this.postAction : this.api.sizesCategoryEdit + this.$route.params.sizecatid;
                this.$http.post(url, this.data)
                    .then(function(response){
                        let body = response.body;
                        if( body.success == true ) {
                            this.createNotif(body.message);
                            this.$router.push({ name: "sizes-category-index"});
                        } else {
                            this.createNotif('Kindly Check the Following Errors!','error');
                            this.errors = body.error;
                        }
                    }, function(error){
                        this.errors = error.body.error;
                    })
                this.$forceUpdate();
            },
            setSizeOrder: function(index) {
                let reorderColors = this.allSizes;
                reorderColors.forEach((item,key) => {
                    let found = this.inArray(item.value, this.allSizes);
                    // if ( found ) {
                        item.order = key + 1;
                    // }
                    this.dialog = false;
                });
                this.data.orderedSizes = this.allSizes;
            },
            inArray: function(checkThis, thisArray) {
                var length = thisArray.length;
                for(var i = 0; i < length; i++) {
                    if(thisArray[i]['value'] == checkThis) {
                        return true;
                    }
                }
                return false;
            },
		}
    }
</script>
