<template>

  <div id="content" class="bg-container">

  	<div class="main-bar stretch-wrapper">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link :to="{ name : 'dashboard-index' }">
                  <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
              </router-link>
            </li>
            <li class="breadcrumb-item active">Settings</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="outer">
      <div class="inner bg-container">

        <form @submit.prevent="submitAddSetting" method="POST" enctype="multipart/form-data">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-9">
              <div class="card m-b-10">
                <div class="card-header">
                  Site Details
                </div>
                <div class="card-body">
                  <p v-if="hasError" class="alert alert-danger">
                      <span>{{ errorMessage }}</span>
                  </p>
                  <div class="form-group row">
                    <div class="col required">
                      <label for="name" class="col-form-label">Site Title</label>
                      <div class="p-d-0">
                        <div class="input-group input-group-prepend">
                          <span class="input-group-text br-0 border-right-0 rounded-left">
                            <i class="fa fa-window-restore" aria-hidden="true"></i>
                          </span>
                          <input type="text" :class="errors.site_title ? 'form-control is-invalid required' : 'form-control required'" id="name" v-model="post.site_title">
                          <span v-if="errors.site_title" class="error-handler">
                            {{ errors.site_title[0] }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col required">
                      <label for="name" class="col-form-label">Site Email</label>
                      <div class="p-d-0">
                        <div class="input-group input-group-prepend">
                          <span class="input-group-text br-0 border-right-0 rounded-left">
                            <i class="fa fa-envelope text-default"></i>
                          </span>
                          <input type="email" :class="errors.site_email ? 'form-control is-invalid required' : 'form-control required'" id="email" v-model="post.site_email">
                          <span v-if="errors.site_email" class="error-handler">
                            {{ errors.site_email[0] }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <label for="name" class="col-form-label">Site Contact Number</label>
                      <div class="p-d-0">
                        <div class="input-group input-group-prepend">
                          <span class="input-group-text br-0 border-right-0 rounded-left">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                          </span>
                          <input type="text" :class="errors.site_contact_no ? 'form-control is-invalid required mobile-phone' : 'form-control required mobile-phone'" id="mobile-phone" v-model="post.site_contact_no">
                          <span class="input-group-text input-group-append br-0 border-left-0 rounded-right">
                            (999) 999-9999
                          </span>
                          <span v-if="errors.site_contact_no" class="error-handler">
                            {{ errors.site_contact_no[0] }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card file_input m-b-10">
                <div class="card-header bg-white">
                  <ul class="nav nav-tabs card-header-tabs float-left">
                    <li class="nav-item">
                      <a class="nav-link active" href="#tab1" data-toggle="tab">Mobile Slider</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#tab2" data-toggle="tab">Tablet Slider</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content text-justify">
                    <div class="tab-pane active" id="tab1">
                      <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                        </button>
                        <strong>Info!</strong>
                        Recommended resolution: 400 width x 257 height
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <input id="input-fa-mobile" type="file" name="thumb" multiple @change="onFileMobileChange">
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                      <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                        </button>
                        <strong>Info!</strong>
                        Recommended resolution: 1280 width x 400 height
                      </div>
                      <input id="input-fa-tablet" type="file" name="tablet" multiple @change="onFileTabletChange">
                    </div>
                  </div>
                </div>
              </div>
              <div class="card m-b-10">
                <div class="card-header">
                  Home Page Details
                </div>
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col">
                      <label for="name" class="col-form-label">Homepage Page Title</label>
                      <div class="p-d-0">
                        <div class="input-group input-group-prepend">
                          <span class="input-group-text br-0 border-right-0 rounded-left">
                            <i class="fa fa-window-restore" aria-hidden="true"></i>
                          </span>
                          <input type="text" name="name" :class="errors.homepage_title ? 'form-control is-invalid required' : 'form-control required'" id="name" v-model="post.homepage_title">
                          <span v-if="errors.homepage_title" class="error-handler">
                            {{ errors.homepage_title[0] }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col">
                      <label for="name" class="col-form-label">Homepage Page Description</label>
                      <vue-editor v-model="post.homepage_sub_title" :editorToolbar="customToolbar"></vue-editor>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card m-b-10">
                <div class="card-header">
                  Product Page Details
                </div>
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col">
                      <label for="name" class="col-form-label">Product Page Title</label>
                      <div class="p-d-0">
                        <div class="input-group input-group-prepend">
                          <span class="input-group-text br-0 border-right-0 rounded-left">
                            <i class="fa fa-window-restore" aria-hidden="true"></i>
                          </span>
                          <input type="text" name="name" :class="errors.product_title ? 'form-control is-invalid required' : 'form-control required'" id="name" v-model="post.product_title">
                          <span v-if="errors.product_title" class="error-handler">
                            {{ errors.product_title[0] }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col">
                      <label for="name" class="col-form-label">Product Page Description</label>
                      <vue-editor v-model="post.product_sub_title" :editorToolbar="customToolbar"></vue-editor>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-12 col-sm-3">
              <div class="card m-b-10" id="sticky">
                <div class="card-footer">
                  <button class="btn btn-success form-control" type="submit">
                    <i class="fa fa-save"></i> &nbsp;Update Settings
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>

</template>

<script>
  export default {
    mounted() {
      this.getSettings();
      var self = this;
      $(document).on('click', '#tab2 .kv-file-remove', function (e) {
        var key = $(this).closest('.file-preview-frame').data('fileindex');
        if ($.isNumeric(key)) {
          self.post.tablet.splice( key, 1 );
        } else {
          if (!self.busy) {
            self.busy = true;
            let imageId = $(this).data('key');
            self.$http.get(self.api.settingDelete+imageId).then((response) => {
            let body = response.body;
                if (body.success) {
                    $.jGrowl({
                        title: 'Success!',
                        message: 'Image Succesfully Removed !',
                        life: 3000,
                        theme: 'bg-success',
                        openDuration: 200
                    });
                    location.reload();
                    self.$router.push({ name: 'settings-index' });
                    self.$forceUpdate();
                  return;
                }
            }, (response) => {
                self.busy = false;
                self.success = false;
            });
          }
        }
      });
      $(document).on('click', '#tab1 .kv-file-remove', function (e) {
        var key = $(this).closest('.file-preview-frame').data('fileindex');
        if ($.isNumeric(key)) {
          self.post.thumb.splice( key, 1 );
        } else {
          if (!self.busy) {
            self.busy = true;
            let imageId = $(this).data('key');
            self.$http.get(self.api.settingDelete+imageId).then((response) => {
            let body = response.body;
                if (body.success) {
                    $.jGrowl({
                        title: 'Success!',
                        message: 'Image Succesfully Removed !',
                        life: 3000,
                        theme: 'bg-success',
                        openDuration: 200
                    });
                    location.reload();
                    self.$router.push({ name: 'settings-index' });
                    self.$forceUpdate();
                  return;
                }
            }, (response) => {
                self.busy = false;
                self.success = false;
            });
          }
        }
      });
    },
    components: {},
    props : [],
    data : function() {
      return {
        csrf: $('meta[name=csrf-token]').attr("content"),
        hasError: false,
        busy: false,
        post: {
          site_title: '',
          site_email: '',
          site_contact_no: '',
          homepage_title: '',
          homepage_sub_title: '',
          product_title: '',
          product_sub_title: '',
          thumb: [],
          tablet: []
        },
        customToolbar: [
          ['bold', 'italic', 'underline'],
          /*[{ 'list': 'ordered'}, { 'list': 'bullet' }],
          ['code-block']*/
          // ['image', 'code-block']
        ],
        submitted: false,
        errors: [],
      }
    },
    methods : {
      onFileMobileChange(e) {
        var files = e.target.files || e.dataTransfer.files;
        var self = this;
        if (!files.length)
          return;
        Object.keys(files).map(function(k){
          self.createMobileImage(files[k])
        })
      },
      createMobileImage(file) {
        var image = new Image();
        var reader = new FileReader();
        var vm = this;
        reader.onload = (e) => {
          vm.post.thumb.push({'src' : e.target.result, 'upload_id': '', 'filename': this.removeFileExt(file.name) });
        };
        reader.readAsDataURL(file);
      },
      onFileTabletChange(e) {
        var files = e.target.files || e.dataTransfer.files;
        var self = this;
        if (!files.length)
          return;
        Object.keys(files).map(function(k){
          self.createTabletImage(files[k])
        })
      },
      createTabletImage(file) {
        var image = new Image();
        var reader = new FileReader();
        var vm = this;
        reader.onload = (e) => {
          vm.post.tablet.push({'src' : e.target.result, 'upload_id': '', 'filename': this.removeFileExt(file.name) });
        };
        reader.readAsDataURL(file);
      },
      getSettings: function () {
        this.$http.get( this.api.settingIndex ).then(function(response) {
          let body = response.body;
          if (body.success) {
            this.post = body.object;
            this.post['thumb'] = [];
            this.post['tablet'] = [];
            if (body.thumb_mobile.length > 0){
              let getDataMobile = body.thumb_mobile;
              getDataMobile.forEach((item) => {
                this.post.thumb.push({'src' : item.mobile_thumbnail, 'upload_id' : item.upload_id, 'filename': item.filename });
              });
              let selectImageArray = []; // getting files
              getDataMobile.forEach((item) => {
                selectImageArray.push(item.mobile_thumbnail);
              });
              let selectImageCaption = []; // geting captions
              getDataMobile.forEach((item, count) => {
                selectImageCaption.push({ caption: item.filename, key : item.upload_id });
              });
              let selectMainCaption = []; // main captions in input
              getDataMobile.forEach((item) => {
                selectMainCaption.push(item.filename);
              });
              $("#input-fa-mobile").fileinput({
                theme: "fa",
                uploadUrl: "/file-upload-batch/2",
                initialPreview: selectImageArray ,
                initialPreviewAsData: true,
                initialPreviewConfig: selectImageCaption,
                overwriteInitial: false,
                initialCaption: selectMainCaption
              });
            } else {
              $("#input-fa-mobile").fileinput({
                theme: "fa",
                uploadUrl: "/file-upload-batch/2"
              });
            }
            if (body.thumb_tablet.length > 0){
              let getDataTable = body.thumb_tablet;
              getDataTable.forEach((item) => {
                this.post.tablet.push({'src' : item.mobile_thumbnail, 'upload_id' : item.upload_id, 'filename': item.filename });
              });
              let selectImageArray = []; // getting files
              getDataTable.forEach((item) => {
                selectImageArray.push(item.mobile_thumbnail);
              });
              let selectImageCaption = []; // geting captions
              getDataTable.forEach((item, count) => {
                selectImageCaption.push({ caption: item.filename, key : item.upload_id });
              });
              let selectMainCaption = []; // main captions in input
              getDataTable.forEach((item) => {
                selectMainCaption.push(item.filename);
              });
              $("#input-fa-tablet").fileinput({
                theme: "fa",
                uploadUrl: "/file-upload-batch/2",
                initialPreview: selectImageArray ,
                initialPreviewAsData: true,
                initialPreviewConfig: selectImageCaption,
                overwriteInitial: false,
                initialCaption: selectMainCaption
              });
            } else {
              $("#input-fa-tablet").fileinput({
                theme: "fa",
                uploadUrl: "/file-upload-batch/2"
              });
            }
            return;
          } else {
            $("#input-fa-mobile").fileinput({
              theme: "fa",
              uploadUrl: "/file-upload-batch/2"
            });
            $("#input-fa-tablet").fileinput({
              theme: "fa",
              uploadUrl: "/file-upload-batch/2"
            });
          }
        }, function (error) {
          this.errors = error.body.errors;
        });
      },
      submitAddSetting : function () {
        if (!this.busy) {
          this.busy = true;
          this.hasError = false
          let post = this.post;
          post['_token'] = this.csrf;
          post['site_contact_no'] = $('.mobile-phone').val();
          this.$http.post(this.api.settingUpdate, post).then(function(response) {
            // form submission successful, reset post data and set submitted to true
            let body = response.body;
            if ( body.success ) {
              $.jGrowl({
                  title: 'Success!',
                  message: body.object,
                  life: 3000,
                  theme: 'bg-green',
                  openDuration: 200
              });
              this.submitted = true;
              this.errors = '';

              location.reload();
              this.$router.push({ name: 'settings-index' });

            } else {
              this.errors = body.error;
              this.errorMessage = 'Error!';
              $.jGrowl({
                title: 'Error!',
                message:'Kindly Check the Following Errors!',
                life: 3000,
                theme: 'bg-red',
                openDuration: 200
              });
            }
          }, function (error) {
            // form submission failed, pass form  errors to errors array
            this.errors = error.body.error;
          });
        } else {
          this.busy = false;
          this.hasError = true;
          this.errorMessage = 'Please try again.';
        }
      }
    }
  }
</script>
