<template>
    <div>
        <form @submit.prevent="storeData" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            Size Details
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="form-group col">
                                    <div class="col required">
                                        <label for="name" class="col-form-label">Name</label>
                                        <div class="p-d-0">
                                            <div class="input-group input-group-prepend">
                                            <span class="input-group-text br-0 border-right-0 rounded-left">
                                                <i class="fa fa-user text-default"></i>
                                            </span>
                                                <input type="text" name="first_name" v-model="data.name" :class="errors.name ? 'form-control is-invalid' : 'form-control'" id="first_name" value="">
                                                <span v-if="errors.name" class="error-handler">
                                                    {{ errors.name[0] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div class="col required">
                                        <label for="name" class="col-form-label">Size Categories</label>
                                        <div class="p-d-0">
                                            <div class="input-group alpha-group">
                                                <multiselect
                                                    v-model="data.sizescat"
                                                    label="label"
                                                    track-by="label"
                                                    placeholder="Select Category"
                                                    :options="sizesCategories"
                                                    :max-height="150"
                                                    :allow-empty="true"
                                                    :close-on-select="true"
                                                    :hide-selected="true">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <div class="col required">
                                        <label for="name" class="col-form-label">Width</label>
                                        <div class="p-d-0">
                                            <div class="input-group input-group-prepend">
                                            <span class="input-group-text br-0 border-right-0 rounded-left">
                                                <i class="fa fa-expand" aria-hidden="true"></i>
                                            </span>
                                                <input type="text" name="width" v-model="data.width" :class="errors.width ? 'form-control is-invalid' : 'form-control'" id="width" value="">
                                                <span v-if="errors.width" class="error-handler">
                                                    {{ errors.width[0] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div class="col required">
                                        <label for="name" class="col-form-label">Length</label>
                                        <div class="p-d-0">
                                            <div class="input-group input-group-prepend">
                                            <span class="input-group-text br-0 border-right-0 rounded-left">
                                                <i class="fa fa-arrows-h" aria-hidden="true"></i>
                                            </span>
                                                <input type="text" name="length" v-model="data.length" :class="errors.length ? 'form-control is-invalid' : 'form-control'" id="length" value="">
                                                <span v-if="errors.length" class="error-handler">
                                                    {{ errors.length[0] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <div class="col-12">
                                    <label for="name" class="col-form-label">Description</label>
                                    <div class="input-group input-group-prepend">
                                    <span class="input-group-text br-0 border-right-0 rounded-left">
                                        <i class="fa fa-comments text-default"></i>
                                    </span>
                                        <textarea name="description" class="form-control" v-model="data.description" id="description" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 p-l-0">
                    <div class="card">
                        <div class="card-body">
                            <button class="btn btn-success form-control" type="submit">
                                <i class="fa fa-save"></i> &nbsp; {{ btnLabel }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getSizeCategories();
            if( this.type == 'edit' ) {
                this.getSize();
            }
        },
        props : ['postAction','type'],
        computed: {
            btnLabel: function() {
                return this.type != 'edit' ? 'Add Size' : 'Update Size'
            },
        },
        data: function() {
            return {
                currentPage : 'Index',
                submitted: false,
                errors: [],
                title:'',
                sizesCategories: [],
                data: {
                    name: '',
                    width: '',
                    sizescat: '',
                    length: '',
                    order: '',
                    type:'',
                    description: '',
                },
            }
        },
		methods : {
            getSizeCategories: function() {
              this.$http.get(this.api.sizeAllCategories).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.sizesCategories = body.object;
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            getSize: function() {
                this.$http.get( this.api.sizeEdit + this.$route.params.sizeid )
                    .then(function(response) {
                        let body = response.body;
                        if (body.success) {
                            this.data = body.object;
                            this.title = body.object.title;
                        }
                    }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            storeData : function () {
                this.data._token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                let url = (this.type != 'edit') ? this.postAction : this.api.sizeEdit + this.$route.params.sizeid;
                this.$http.post(url, this.data)
                    .then(function(response){
                        let body = response.body;
                        if( body.success == true ) {
                            this.createNotif(body.message);
                            this.$router.push({ name: "sizes-index"});
                        } else {
                            this.createNotif('Kindly Check the Following Errors!','error');
                            this.errors = body.error;
                        }
                    }, function(error){
                        this.errors = error.body.error;
                    })
                this.$forceUpdate();
            },
		}
    }
</script>
