<template>
  <div class="container">
    <div class="container login-index">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="custom-login-wrapper">
            <div class="card card-default">
              <div class="card-header text-center">
                  <img :src="`${PublicImages}` + 'logo-bluecorner.png'" class="inline-block" alt="logo"><br>
                  <h5>ADMIN PANEL</h5>
              </div>
              <div class="card-body">
                <form @submit.prevent="submitLogin" method="POST">

                  <div class="form-group row ">
                    <div class="col-md-12">
                      <div class="input-group">
                        {{ active }}
                        <input id="email" type="email" :class="errors.email ? 'form-control is-invalid' : 'form-control'" name="email" placeholder="Email Address" v-model="post.email" autofocus>
                        <span v-if="errors.email" class="error-handler">
                            {{ errors.email[0] }}
                        </span>
                        <span class="input-group-text bl-0">
                          <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <input id="password" type="password" :class="errors.password ? 'form-control is-invalid' : 'form-control'" name="password" v-model="post.password" placeholder="Password">
                        <span v-if="errors.password" class="error-handler">
                          {{ errors.password[0] }}
                        </span>
                        <span class="input-group-text bl-0">
                          <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row mb-0">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-large btn-block btn-primary">LOGIN</button>
                      <div class="pass-wrap">
                        <!-- <router-link :to="{ name: 'Reset' }">Forgot Your Password?</router-link> -->
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="currentPage == 'reset'" class="container reset-page">
      <reset-password-component
        :url="url"
        :reseturl="passreset"
      >
      </reset-password-component>
    </div>
  </div>
</template>

<script>

    export default {
      mounted() {
      },
      components: {
        'reset-password-component': require('../Password/Reset.vue'),
      },
      props : [
        'url', 'AuthUser'
      ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                currentPage: 'login',
                hasError: false,
                busy: false,
                csrf: $('meta[name=csrf-token]').attr("content"),
                post: {
                    email: '',
                    password: '',
                },
                submitted: false,
                errors: [],
                active: ''
            }
        },
      computed: { },
      methods: {
        toJson: function (key) {
          return JSON.parse(key);
        },
        changePage: function (page) {
          this.$router.push({ name: 'reset'});
          if( this.currentPage == 'login' ) {
            this.currentPage = page;
          } else  {
            this.currentPage = page;
          }
        },
        submitLogin: function () {
          if (!this.busy) {
            this.busy = true;
            this.hasError = false
            let post = this.post;
            post['_token'] = this.csrf;
            this.$http.post('login', post).then(function(response) {
              // form submission successful, reset post data and set submitted to true
              this.post = {
                  title: '',
                  body: '',
              };
              this.errors = '';
              this.submitted = true;
              let body = response.body;
              if ( body ) {
                window.location.href = this.url+'/admin';
                this.$emit('setAuthUser', body.object);
              }
            }, function (error) {
                // form submission failed, pass form  errors to errors array
                this.errors = error.body.errors;
                // this.createNotif(error.body.active, 'error');
                /*$.jGrowl({
                  title: 'Error!',
                  message: error.body.active,
                  life: 3000,
                  theme: 'bg-red',
                  openDuration: 200
                });*/
            });
          } else {
            this.busy = false;
            this.hasError = true;
          }
        }
      }
    }
</script>
