@media screen {
	.btn-success {
		background-color: #28a745 !important;
		color: #fff !important;
		&:hover {
			border-color: #1e7d34 !important;
		}
		@media (min-width: 1200px) {
			font-size: 12px;
		}
		@media (min-width: 1700px) {
			font-size: 13px;
		}
	}
	.inline-block {
		display: inline-block;
		vertical-align: middle;
	}
	.uploadables {
		display: block;
		position:relative;
		width:100%;
		height:200px;
		border-radius:3px;
		border:2px solid #E5E5E5;
		background:none;
		cursor:pointer;
    line-height: 22px;
		color: #777;
		padding:5px 10px;
		text-align:center;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color:$white;
		&.has-preview {
			z-index: 1;
			&:hover {
				.image-wrapper {
					.remove-image {
						display: block;
						opacity: 1;
					}
					&:after {
						opacity: 1;
						@include transition(.3s);
					}
				}
			}
		}
		&:hover {
			background-size: 30px 30px;
			background-image: linear-gradient(-45deg, #f6f6f6 25%, transparent 0, transparent 50%, #f6f6f6 0, #f6f6f6 75%, transparent 0, transparent);
			-webkit-animation: stripes 2s linear infinite;
			animation: stripes 2s linear infinite;
		}
		.image-wrapper {
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:auto;
			width: 100%;
			@include bg_size(contain);
			background-position:center;
			background-repeat:no-repeat;
			&:after {
				position:absolute;
				content:"";
				top:0;
				left:0;
				right:0;
				bottom:0;
				margin:auto;
				width: 100%;
				background-color:rgba(0,0,0,0.5);
				opacity:0;
				@include transition(.3s);
			}
			.remove-image {
				display: none;
				position: absolute;
				opacity: 0;
				z-index: 7;
				top: 10px;
				right: 10px;
				background: none;
				border: 2px solid #FFF;
				text-transform: uppercase;
				font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
				font-size: 11px;
				padding: 4px 8px;
				font-weight: bold;
				color: #FFF;
				-webkit-transition: all 0.15s linear;
				transition: all 0.15s linear;
			}
		}
		.text {
			span {
				font-size: 14px;
				font-weight:bold;
			}
		}
		input {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border: 0;
			opacity: 0;
			width: 100%;
			height: 200px;
			cursor: pointer;
			z-index: 1;
		}
	}
	.dropdown-toggle::after {
		display: none;
	}
	.banner-wrapper{
		.fileinput, .fileinput-new {
			min-height: 259px;
		}
		.card, .card-header, .fileinput-preview, .img-thumbnail {
			border-color: transparent;
		}
		.card-body {
			border-color: transparent;
		}
	}
	.xlabel {
		span {
			margin-bottom: 5px;
			font-size: 10px;
			display: block;
			color: red;
		}
	}
	.custom-header-banner{
		&:hover {
			-webkit-box-shadow: -2px 0 46px -5px transparent;
			box-shadow: -2px 0 46px -5px transparent;
		}
	}
	.update-status {
    text-transform: uppercase;
		font-weight: bold;
    text-align: right;
    display: block;
	}
	.update-published {
		text-transform: uppercase;
    display: inline-block;
		margin-top: 15px;
		font-weight: bold;
    text-align: left;
	}
	.checkbox {
		vertical-align: middle;
    display: inline-block;
	}
	.cbg-yellow {
		background-color: #e7e814;
		padding: 2px 15px 4px;
		border-radius: 4px;
		margin: 0 auto 0 0;
		text-align: CENTER;
		font-size: 11px;
		display: block;
		color: #000;
		width: 75px;
	}
  .btn-custom-edit {
    background-color: #e7e814;
    color: #000 !important;
    border-color: #e7e814;
    i {
      color: #000 !important;
    }
    &:hover {
    	background-color: #ddde13;
      i {
        color: #fff !important;
      }
    }
  }
  .btn-view-contest {
    padding: 2.5px 7px;
    i {
      font-size: 12px;
    }
  }
	.cbg-green {
    background-color: #28a745;
		padding: 2px 15px 4px;
		border-radius: 4px;
		text-align: CENTER;
		margin: 0 auto 0 0;
		font-size: 11px;
		display: block;
    color: #fff;
		width: 75px;
	}
	.cbg-red {
	  background-color: #dc3544;
	  padding: 2px 15px 4px;
	  border-radius: 4px;
	  text-align: CENTER;
	  margin: 0 auto 0 0;
	  font-size: 11px;
	  display: block;
	  color: #fff;
	  width: 75px;
	}
	.survey-wrapper {
    list-style: none;
    padding: 0;
    .btn-yellow-option{
			height: auto;
			padding: 2px 7px;
			color: #fff !important;
			&:hover {
				background-color: #28a745 !important; 
			}
    }
  }
	.btn-yellow {
	  height: 37px;
	}
	.btn-yellow-option {
		height: 34px;
	}
	.btn-green-bold {
		background-color: #28a645;
	  font-weight: bold;
		color: #fff;
		&:hover {
			background-color: #32c754;
			color: #fff;
		}
	}
	.btn-wrappers {
	  text-align: center;
	  position: relative;
	}
	.survey-items .btn-drag-row, .survey-items .btn-remove-row {
		position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
	  background: #2196f3;
	  padding: 0px 0;
	  height: 100%;
	  color: #fff;
	  width: 45%;
	  i {
			position: relative;
	    color: #fff;
	    top: 40%;
	  }
	  &:hover {
			background-color: #1f84d4;
		}
	}
	.survey-items .btn-remove-row {
	  background: #ff8880;
	  left: 49px;
	  &:hover {
			background-color: #d4635b;
		}
	}
  .survey-items {
    margin-top: 15px;
    &:nth-child(odd) {
			background: #ecffff;
			padding: 10px 10px;
			.custom-card {
				.custom-card-header {
					.header-text {
						background-color: #ecffff;
					}
				}
			}
    }
    &:nth-child(even) {
			background: #edebeb;
			padding: 10px 10px;
			.custom-card {
				.custom-card-header {
					.header-text {
						background-color: #edebeb;
					}
				}
			}
    }
		.right-wrap {
		  padding-left: 15px;
		  .question-label {
		    font-weight: bold;
		    font-size: 13px;
		  }
		  .font-size-10 {
		    font-size: 10px;
		  }
		}
		.options {
			padding-left: 15px;
			padding-top: 15px;
			h6 {
				font-weight: bold;
				font-size: 12px;
			}
			.input-group-btn {
				.btn-remove-option {
					background-color: #ff8880;
					color: #fff;
					&:hover {
						background-color: #d4635b;
					}
				}
			}
      .list-unstyled{
        li {
          margin: 7px 0;
        }
      }
		}
	}
}
