@media screen {
  .application.theme--light,
  .theme--light.application {
    background-color:rgba(0,0,0,0) !important;
  }
	.fa-sort-down{
		vertical-align: top;
		margin-top: 3px;
	}
	.btn-success {
		background-color:#28a745;
		outline:0;
		height:initial;
		line-height: 100%;
		padding:9px 15px;
		&.loading {
			padding:0;
		}
		&:hover,
		&:focus {
			outline:0;
			background-color:#218838;
			color:$white;
		}
		img {
			display: inline-block;
			max-width:100%;
			height: auto;
			margin-bottom:0;
		}
	}
	#content {
		padding-bottom:50px;
	}
	.fixedNav_top {
		margin-top:65px;
	}
	.logo-wrapper {
		padding:10px 0;
		.dashboard-home-link {
			h4 {
				@include transition(.3s);
			}
			img {
				@include transition(.3s);
			}
			&:hover {
				color:rgba(255,255,255,0.5);
				img {
					@include transition(.3s);
					opacity: 0.8;
				}
				h4 {
					@include transition(.3s);
					color:rgba(255,255,255,0.5) !important;
				}
			}
		}
	}
	#top .user-settings .btn {
		box-shadow: 0 0 0 0.2rem transparent !important;
	}
	#top .topnav {
		padding: 0 15px 0 0;
	}
	#top .user-settings .btn {
		padding: 11px;
	}
	.user-settings {
		.dropdown-menu {
			left: -2px;
			top: 40px;
		}
	}
	.navbar {
		a {
			h4 {
				margin-bottom: 0;
				font-size: 11px;
				@media (min-width: 1200px) {
					font-size: 14px;
				}
			}
			&:hover {
				text-decoration: none;
				h4 {
					color: #1d68a7 !important;
				}
			}
		}
	}
	.breadcrumb {
		background-color: #fff !important;
		margin-bottom: 0 !important;
		li {
			a {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.required > label:after {
		content: " *";
		color: red;
		font-size: 1.2rem;
		line-height: 1rem;
	}
	.fixedNav_top {
		.fixed {
			height: 100vh !important;
		}
	}
}
