@media screen {
  .feedback {
    ul {
      padding:0;
      margin:0;
      list-style:none;
      li {
        padding:10px 0;
        &.question {
          text-transform:uppercase;
          font-weight:bold;
          font-size:18px;
        }
        &.answer {
          &.not-sub {
            border-left:5px solid #3498db;
            padding:0 15px;
          }
        }
        .sub-answers {
          li {
            position:relative;
            padding-left:30px;
            border-left:5px solid #3498db;
            &:before {
              position: absolute;
              content:"\f046";
              top:2px;
              height: 20px;
              font-size:16px;
              bottom:0;
              left:10px;
              margin:auto;
              font-family: "Fontawesome";
            }
            &.radio {
              &:before {
                content:"\f05d";
              }
            }
          }
        }
      }
    }
  }
}
