@media screen {

  .form-group {
    position:relative;
    // &:hover {
    //   .remove-image,
    //   .dropify-wrapper {
    //     display: block;
    //     opacity: 1;
    //   }
    // }
    .remove-image {
      display: none;
      position: absolute;
      opacity: 0;
      z-index: 7;
      top: 10px;
      right: 10px;
      background: none;
      border: 2px solid #FFF;
      text-transform: uppercase;
      font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
      font-size: 11px;
      padding: 4px 8px;
      font-weight: bold;
      color: #FFF;
      -webkit-transition: all 0.15s linear;
      transition: all 0.15s linear;
      cursor:pointer;
      &.has-preview {
        display: block;
      }
      + .dropify-wrapper {
        display: block;
        opacity: 1;
      }
    }
  }
  .alpha-group {
    position:relative;
    z-index: 10;
    &.with-btn {
      // .multiselect  {
      //   width:83%;
      // }
      .v-select {
        .dropdown-menu {
          width: 83%;
        }
        .dropdown-toggle {
          .vs__actions {
            padding:0 100px 0 3px;
          }
        }
      }
    }
    &.styles {
      // .multiselect  {
      //   width:91%;
      // }
      .v-select {
        .dropdown-menu {
          width: 91%;
        }
      }
    }
    .v-select {
      width: 100%;
      .dropdown-toggle {
        &:after {
          display: none;
        }
        width: 100%;
        min-height: 37.69px;
        line-height:36.69px;
        padding:0;
        .vs__selected-options {
          padding:3px 2px;
          .selected-tag {
            padding:0 .25em;
            margin:0 2px;
          }
          input[type="search"] {
            margin:0;
          }
        }
      }
    }
    .chosen-container {
      .chosen-choices {
        height: 37.69px;
        line-height:36.69px;
        li {
          &.search-choice {
            margin:8px 5px 8px 0;
          }
        }
      }
    }
    .input-group-btn {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      margin:auto;
      .btn {
        height: 41px;
      }
    }
  }
  .custom-card {
    padding:10px 0;
    .custom-card-header {
      position:relative;
      border: 1px solid rgba(0,0,0,0.1);
      padding: 0 15px 15px;
      .header-text {
        position: relative;
        display: inline-block;
        top:-18px;
        text-transform: uppercase;
        padding:0 15px;
        background-color:#fff;
        font-size:0;
        h6,
        span {
          display: inline-block;
          vertical-align: middle;
        }
        h6 {
          font-size:20px;
          font-weight:bold;
          margin-bottom:0;
          padding:0;
        }
        span {
          height: 20px;
          width: 20px;
          border-radius: 100%;
          margin-bottom: 0;
          padding: 0;
          margin-right: 10px;
        }
      }
    }
  }
  .set-color-plate {
    .v-btn {
      margin:20px 0 0;
    }
  }
  .color-plate-sort-wrapper {
    padding:20px 15px;
    .color-plate-item {
      width: 100%;
      cursor:move;
      border-bottom:1px solid #ececec;
      .row {
        .col-12 {
          a {
            cursor:move;
            display:inline-block;
          }
        }
      }
      &:first-child {
        margin-top:0;
        border-top:1px solid #ececec;
      }
      &.sizes {
        margin-top:3px;
        border-radius:3px;
        border:1px solid #ececec;
      }
      ul {
        font-size:0;
        list-style:none;
        padding:0;
        margin:0;
        li {
          display:inline-block;
          vertical-align: middle;
          width:auto;
          &:first-child {
            width:20%;
            padding:10px;
            border:1px solid #ececec;
            &.size {
              width:100%;
              border:0;
              padding:0 15px;
            }
          }
          &:last-child {
            padding-left:15px;
            font-size:20px;
            text-transform:capitalize;
          }
        }
      }
    }
  }
  .v-overlay.v-overlay--active,
  .v-dialog__content.v-dialog__content--active {
    z-index:9999 !important;
  }
}
