<template>
  <div>

    <form @submit.prevent="submitAddProductCategory" method="POST" enctype="multipart/form-data">

        <div class="row justify-content-center">
          <div class="col-12 col-sm-9">
            <div class="card">
              <div class="card-header">
                  Product Category Details
              </div>
              <div class="card-body">

                <p v-if="hasError" class="alert alert-danger">
                    <span>{{ errorMessage }}</span>
                </p>

                <div class="form-group row">
                  <div class="col required">
                    <label for="name" class="col-form-label">Category Name</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-window-restore" aria-hidden="true"></i>
                        </span>
                        <input type="text" name="name" :class="errors.name ? 'form-control is-invalid required' : 'form-control required'" id="name" v-model="post.name">
                        <span v-if="errors.name" class="error-handler">
                          {{ errors.name[0] }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <template v-if="countObject(categories) > 0">
                    <div class="col">
                      <label for="name" class="col-form-label">Category Parent</label>
                      <div class="p-d-0">
                        <div class="input-group input-group-prepend">
                          <span class="input-group-text br-0 border-right-0 rounded-left">
                            <i class="fa fa-window-restore" aria-hidden="true"></i>
                          </span>
                          <select class="form-control" v-model="post.parent_id">
                            <!--<template v-for="(parent, key) in categories">
                              <option :value="parent.id" :selected="selectedCategory === parent.id"> {{ parent.name }}</option>
                              <option v-for="(subchild, key) in parent.children" :value="subchild.id" :selected="selectedCategory === subchild.id">&#45;&#45; {{ subchild.name }}</option>
                              <template v-for="childparent in parent.children">
                                <option v-for="(finalchild, key) in childparent.children" :value="finalchild.id" :selected="selectedCategory === finalchild.id">-&#45;&#45; {{ finalchild.name }}</option>
                              </template>
                            </template>-->
                              <template v-for="(category, key) in categories">
                                  <option :value="category.id" :selected="selectedCategory === category.id" v-bind:key="key"> {{ category.name }}</option>
                              </template>
                          </select>
                        </div>
                      </div>
                    </div>
                  </template>
                </div>

                <div class="form-group row">
                  <div class="col">
                    <label for="name" class="col-form-label">Sub Title</label>
                    <div class="p-d-0">
                      <div class="input-group iup-text br-0 border-right-0 rounded-left">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-list" aria-hidden="true"></i>
                        </span>
                        <textarea class="form-control" id="description" name="description" cols="50" rows="10" v-model="post.description"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="form-group row">
                  <div class="col">
                    <label for="name" class="col-form-label">Parent</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-window-restore" aria-hidden="true"></i>
                        </span>
                        <template v-if="countObject(categories) > 0">
                          <select class="form-control" v-model="post.parent_id">
                            <template v-for="(parent, key) in categories">
                              <option :value="parent.id" v-bind:key="key">- {{ parent.name }}</option>
                              <option v-for="(subchild, key) in parent.children" v-bind:key="key" :value="subchild.id">-- {{ subchild.name }}</option>
                              <template v-for="childparent in parent.children">
                                <option v-for="(finalchild, key) in childparent.children" v-bind:key="key" :vakue="finalchild.id">--- {{ finalchild.name }}</option>
                              </template>
                            </template>
                          </select>
                        </template>
                        <template v-else>
                          <select class="form-control" v-model="post.parent_id"></select>
                        </template>
                      </div>
                    </div>
                  </div>
                </div> -->

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3">

            <div class="card m-b-10" id="sticky">
              <div class="card-body">
                <div class="col">
                  <div class="row">
                    <div class="checkbox">
                      <label style="margin-bottom: 0;">
                        <input type="checkbox" value="" v-model="post.featured">
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      </label>
                    </div>
                    <label for="update-status" class="control-label font-size-11 update-published" style="margin-top: 0;">Featured</label>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button v-if="postAction == 'store'" class="btn btn-success form-control" type="submit">
                  <i class="fa fa-save"></i> &nbsp;Add Category
                </button>
                <button v-else class="btn btn-success form-control" type="submit">
                  <i class="fa fa-save"></i> &nbsp;Update Category
                </button>
              </div>
            </div>

            <div class="card m-b-10">
              <div class="card-header bg-white">
                <ul class="nav nav-tabs card-header-tabs float-left">
                  <li class="nav-item">
                    <a class="nav-link active" href="#tab3" data-toggle="tab">Mobile Thumbnail</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#tab4" data-toggle="tab">Tablet Thumbnail</a>
                  </li> -->
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content text-justify">
                  <div class="tab-pane active" id="tab3">
                    <div class="alert alert-warning alert-dismissable">
                      <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                      </button> -->
                      <strong>Info!</strong>
                      Recommended resolution: 400 width x 711 height
                    </div>
                    <div :class="( post.thumb_mobile[0]['src'] != '' ) ? 'div uploadables has-preview' : 'div uploadables' ">
                      <div class="image-wrapper" v-bind:style="{ 'background-image': 'url('+ post.thumb_mobile[0]['src'] +')'}">
                        <div class="remove-image" v-on:click="removeImage('mobile-thumb','')">Remove</div>
                      </div>
                      <div class="text">
                        <i class="fa fa-cloud-upload"></i>
                        <span>click here to upload</span>
                      </div>
                      <input type="file" v-on:change="setupImage($event,'mobile-thumb','')">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>

  </div>
</template>
<script>
  export default {

    mounted() {
      if ( this.type == 'update' ){
        this.getProductCategoryDetails();
      } else {
        this.getCategories();
      }
    },

    components: {
    },

    props : [
      'postAction', 'type'
    ],

    data : function() {
      return {
        csrf: $('meta[name=csrf-token]').attr("content"),
        hasError: false,
        busy: false,
        post: {
          name: '',
          description: '',
          parent_id: '',
          thumb_mobile: [{
            name:'',
            old_name:'',
            src:'',
          }],
          /*thumb_tablet: [{
            name:'',
            old_name:'',
            src:'',
          }],*/
          featured: '',
        },
        submitted: false,
        errors: [],
        categories: [],
        selectedCategory: ''
      }
    },

    methods : {
      setupImage: function(e,type = '', index = '') {
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
        return;
        this.createImage(files[0], type, index);
      },
      createImage(file,type,index) {
        var image = new Image();
        var reader = new FileReader();
        reader.onload = (e) => {
          // this.post.thumb = e.target.result;
          if( type == 'mobile-thumb' ) {
            this.post.thumb_mobile[0]['name'] = this.removeFileExt(file.name);
            this.post.thumb_mobile[0]['src'] = e.target.result;
          } else if( type == 'tablet-thumb' ) {
            this.post.thumb_tablet[0]['name'] = this.removeFileExt(file.name);
            this.post.thumb_tablet[0]['src'] = e.target.result;
          }
        };
        reader.readAsDataURL(file);
      },
      removeImage: function (type,index) {
        // this.post.thumb = '';
        if( type == 'mobile-thumb' ) {
          this.post.thumb_mobile[0]['name'] = "";
          this.post.thumb_mobile[0]['src'] = "";
        } else if( type == 'tablet-thumb' ) {
          this.post.thumb_tablet[0]['name'] = "";
          this.post.thumb_tablet[0]['src'] = "";
        }
      },
      getCategories: function () {
        this.$http.get( this.api.productCategoryCreate ).then(function(response) {
          let body = response.body;
          if (body.success) {
            this.categories = body.object;
            console.log( this.categories );
            return;
          }
        }, function (error) {
          this.errors = error.body.errors;
        });
      },
      getProductCategoryDetails: function () {
        this.$http.get( this.api.productCategoryEdit + this.$route.params.catid ).then(function(response) {
          let body = response.body;
          if (body.success) {
            this.post = body.object;
            this.categories = body.all_categories;
            console.log(this.categories);
            this.selectedCategory = body.selectedCategory;
            return;
          }
        }, function (error) {
          this.errors = error.body.errors;
        });
      },
      submitAddProductCategory : function () {
        if (!this.busy) {
          this.busy = true;
          this.hasError = false

          let newURL = (this.postAction == 'store') ? this.postAction : this.postAction +'/'+ this.$route.params.catid;
          let post = this.post;
          post['_token'] = this.csrf;
          this.$http.post(this.api.productCategoryIndex +'/'+ newURL, post).then(function(response) {
              // form submission successful, reset post data and set submitted to true
              location.reload();
              
              let body = response.body;
              if ( body.success ) {
                $.jGrowl({
                    title: 'Success!',
                    message: body.object,
                    life: 3000,
                    theme: 'bg-green',
                    openDuration: 200
                });
                this.submitted = true;
                this.errors = '';
                this.$router.push({ name: 'product-category-index'});
              } else {
                this.errors = body.error;
                this.errorMessage = 'Error!';
                $.jGrowl({
                  title: 'Error!',
                  message:'Kindly Check the Following Errors!',
                  life: 3000,
                  theme: 'bg-red',
                  openDuration: 200
                });
              }
          }, function (error) {
              // form submission failed, pass form  errors to errors array
              this.errors = error.body.error;
          });
        } else {
          this.busy = false;
          this.hasError = true;
          this.errorMessage = 'Please try again.';
        }
      }
    }
  }
</script>
