<template>
    <v-app>
        <div id="content" class="bg-container">
            <div class="main-bar stretch-wrapper">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name : 'dashboard-index' }">
                                    <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                </router-link>
                            </li>
                            <li class="breadcrumb-item active">Feedback</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="inner bg-container">
                    <div class="card card-default">
                        <div class="card-header m-b-10">
                            <div class="row">
                                <div class="col">
                                    <h3 class="m-b-0">Feedback</h3>
                                </div>
                                <div class="col">
                                    <div class="btn-group float-right">
                                        <router-link :to="{ name : 'contests-create' }" class=" btn btn-success m-r-5">
                                            Add Feedback&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <transition name="slide-fade" mode="out-in">
                                <div class="inner-pages">
                                    <div class="v-sheet v-sheet--tile theme--light">
                                        <div data-app="true">
                                            <v-card-title>
                                                <v-spacer></v-spacer>
                                                <v-text-field
                                                    v-model="contestData.search"
                                                    append-icon="search"
                                                    label="Search"
                                                    single-line
                                                    hide-details>
                                                </v-text-field>
                                            </v-card-title>
                                            <v-data-table
                                                :headers="contestData.headers"
                                                :items="contestData.data"
                                                :pagination.sync="contestData.pagination"
                                                :search="contestData.search"
                                                :rows-per-page-items="contestData.rowsPerPageItems"
                                                class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td class="featured-image"><img :src="`${DomainUrl}${props.item.thumbnail}`" style="max-width: 60px;"></td>
                                                    <td class="text-left">{{ props.item.title }}</td>
                                                    <td class="text-left">{{ props.item.count_items }}</td>
                                                    <td class="text-left">{{ convertDate(props.item.date_from) }} - {{ convertDate(props.item.date_to) }}</td>
                                                    <td>
                                                        <template v-if="props.item.status == 'active'">
                                                            <span class="cbg-green">{{ props.item.status }}</span>
                                                        </template>
                                                        <template v-else-if="props.item.status == 'expired'">
                                                            <span class="cbg-red">inactive</span>
                                                        </template>
                                                    </td>
                                                    <td class="text-left">
                                                        <router-link :to="{ name : 'feedback-archive-entries-index-filtered', params: { contsid : props.item.id }, props : { test : true } }" class="btn btn-sm btn-info" title="Edit">VIEW ENTRIES</router-link>
                                                        <router-link :to="{ name : 'contests-edit', params: { contsid : props.item.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                    </td>
                                                </template>
                                                <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                    Your search for "{{ contestData.search }}" found no results.
                                                </v-alert>
                                            </v-data-table>
                                            <!-- <div v-if="pages > 1" class="text-right pagination-wrapper">
                                                <v-pagination v-model="contestData.pagination.page" :length="pages"></v-pagination>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            this.contestsIndex();
        },
        props : [
            'url',
        ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                currentPage: 'Index',
                getAllContests : [],
                hasError: false,
                success: false,
                busy: false,
                errors: [],
                contestData:{
                    search:'',
                    headers:[
                        { text: 'Thumbnail', value: 'thumbnail' },
                        { text: 'Title', value: 'title' },
                        { text: 'Items', value: 'count_items' },
                        { text: 'Duration', value: 'date_from' },
                        { text: 'Status', value: 'status' },
                        { text: 'Actions', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.contestData.pagination.rowsPerPage == null ||
                    this.contestData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.contestData.pagination.totalItems / this.contestData.pagination.rowsPerPage)
            }
        },
        methods: {
            toJson: function(key) {
                return JSON.parse(key);
			},
            convertDate: function (date) {
                Date.prototype.monthNames = [
                    "January", "February", "March",
                    "April", "May", "June",
                    "July", "August", "September",
                    "October", "November", "December"
                ];
                Date.prototype.getMonthName = function() {
                    return this.monthNames[this.getMonth()]; // long month name
                };
                Date.prototype.getShortMonthName = function () {
                    return this.getMonthName().substr(0, 3); // short month name
                };
                function pad(s) { return (s < 10) ? '0' + s : s; }
                var d = new Date(date);
                return d.getShortMonthName()+' '+pad(d.getDate())+', '+d.getFullYear();
            },
            contestsIndex: function () {
                console.log('test');
                this.$http.get(this.api.archiveFeedbackIndex).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.getAllContests = body.object;
                        this.contestData.data = body.object;
                        this.contestData.pagination.totalItems = this.countObject(this.contestData.data);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            }
        }
    }
</script>
