<template>
    <v-app>
        <div id="content" class="bg-container">
            <div class="main-bar stretch-wrapper">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name : 'dashboard-index' }">
                                    <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                </router-link>
                            </li>
                            <li class="breadcrumb-item active">Products</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="inner bg-container">
                    <div class="card card-default">
                        <div class="card-header m-b-10">
                            <div class="row">
                                <div class="col">
                                    <h3 class="m-b-0">Products</h3>
                                </div>
                                <div class="col">
                                    <div class="btn-group float-right">
                                        <router-link :to="{ name : 'products-create' }" class=" btn btn-success m-r-5">
                                            Add Product&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <transition name="slide-fade" mode="out-in">
                                <div class="inner-pages">
                                    <div class="v-sheet v-sheet--tile theme--light">
                                        <div data-app="true">
                                            <div class="filter-wrapper">
                                                <div class="row align-items-center">
                                                    <div class="col text-left">
                                                        <button class="btn btn-success" v-on:click="clearData">Clear Filter</button>
                                                    </div>
                                                    <div class="col custom-text-index">
                                                        <v-text-field
                                                            v-model="productData.searchedWord"
                                                            append-icon="search"
                                                            label="Search"
                                                            single-line
                                                            @input="filterSearch"
                                                            hide-details
                                                        ></v-text-field>
                                                    </div>
                                                    <div class="col custom-select-index">
                                                        <multiselect
                                                            v-model="productData.selectedCat"
                                                            label="label"
                                                            track-by="label"
                                                            placeholder="Select Category"
                                                            :options="productData.categories"
                                                            :close-on-select="true"
                                                            :hide-selected="true"
                                                            :multiple="false"
                                                            @input="filterCat"
                                                        ></multiselect>
                                                    </div>
                                                </div>
                                            </div>
                                            <v-data-table
                                                :headers="productData.headers"
                                                :items="productData.data"
                                                :pagination.sync="productData.pagination"
                                                :search="productData.filters"
                                                :custom-filter="customFilter"
                                                :rows-per-page-items="productData.rowsPerPageItems"
                                                class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td class="featured-image"><img :src="`${DomainUrl}${props.item.product_featured_image_path}`" style="max-width: 60px;"></td>
                                                    <td class="text-left">{{ props.item.name }}</td>
                                                    <td class="text-left">{{ props.item.category.name }}</td>
                                                    <td v-if="props.item.has_styles == 1" class="text-left"><span class="cbg-green" style="width:30px;padding:5px;">yes</span></td>
                                                    <td v-else class="text-left"><span class="cbg-red" style="width:30px;padding:5px;">no</span></td>
                                                    <td v-if="props.item.status == 1" class="text-left"><span class="cbg-green">active</span></td>
                                                    <td v-else class="text-left"><span class="cbg-red">inactive</span></td>
                                                    <td class="text-left">
                                                        <router-link :to="{ name : 'products-edit', params: { prodid : props.item.id } }" class="btn btn-sm btn-custom-edit" title="Edit">
                                                        EDIT</router-link>
                                                        <button v-on:click="removeProduct(props.item, props.item.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                    </td>
                                                </template>
                                                <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                    Your search for "{{ productData.search }}" found no results.
                                                </v-alert>
                                            </v-data-table>
                                            <!-- <div v-if="pages > 1" class="text-right pagination-wrapper">
                                                <v-pagination v-model="productData.pagination.page" :length="pages"></v-pagination>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </transition>
                            <!-- <div id="sample_1_wrapper" class="dataTables_wrapper dt-boostrap no-footer">
                                <div class="table-responsive">
                                    <table data-order='[[ 0, "ASC" ]]' class="table table-data table-striped table-bordered table-hover no-footer" id="datatable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc wid-30" tabindex="0" rowspan="1" colspan="1">Thumbnail</th>
                                                <th class="sorting_asc wid-20" tabindex="0">Name</th>
                                                <th class="sorting wid-25" tabindex="0">Category</th>
                                                <th class="sorting wid-10" tabindex="0">Style Option</th>
                                                <th class="sorting wid-10" tabindex="0">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="countObject(dataProduct) > 0">
                                                <tr v-for="(prod, index) in dataProduct" v-bind:key="index">
                                                    <td class="featured-image"><img :src="'/app-bluecorner/public/'+prod.product_featured_image_path" style="max-width: 60px;"></td>
                                                    <td class="name">{{ prod.name }}</td>
                                                    <td>{{ prod.category ? prod.category.name : '' }}</td>
                                                    <td v-if="prod.has_styles == 1">active<td v-else>inactive</td>
                                                    <td>
                                                        <router-link :to="{ name : 'products-edit', params: { prodid : prod.id } }" class="btn btn-sm btn-custom-edit" title="Edit">
                                                        EDIT</router-link>
                                                        <button v-on:click="removeProduct(index, prod.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr v-else>
                                                <td colspan="6" class="text-center">No Records Found!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            this.productIndex();
        },
        components: {
        },
        props : [
            'url'
        ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                currentPage: 'Index',
                dataProduct : [],
                hasError: false,
                success: false,
                busy: false,
                errors: [],
                productData:{
                    filters: {
                        search: '',
                        category: '',
                    },
                    selectedCat:'',
                    searchedWord:'',
                    categories:[],
                    headers:[
                        { text: 'Thumbnail', value: 'product_featured_image_path' },
                        { text: 'Name', value: 'width' },
                        { text: 'Category', value: 'length' },
                        { text: 'Style Option', value: 'has_styles', align: 'left' },
                        { text: 'Status', value: 'status', align: 'left' },
                        { text: 'Actions', value:'', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.productData.pagination.rowsPerPage == null ||
                    this.productData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.productData.pagination.totalItems / this.productData.pagination.rowsPerPage)
            }
        },
        methods : {
            toJson: function(key) {
                return JSON.parse(key);
            },
            removeProduct: function (index, prodid) {
				this.$dialog
					.confirm('Are you sure? You won\'t be able to revert this!')
					.then((dialog) => {
						this.busy = true;
						let data = {
							id : prodid,
							_token : document.querySelector('meta[name="csrf-token"]').getAttribute('content')
						};
						this.$http.post(this.api.productDelete, data)
							.then((response) => {
								this.busy = false;
								let body = response.body;
								if (body.success) {
									this.createNotif('Product '+ body.deleted +' Succesfully Removed !');
									this.dataProduct = body.object;
									const toDelete = this.productData.data.indexOf(index)
									this.productData.data.splice(toDelete, 1)
									return;
								}
							}, (response) => {
								this.busy = false;
								this.success = false;
							});
					})
					.catch(function() {
					});
            },
            productIndex: function () {
                this.$http.get(this.api.productIndex).then(function(response) {
                let body = response.body;
                    if (body.success) {
                        this.dataProduct = body.object;
                        this.productData.data = body.object;
                        this.productData.categories = this.selectArr(body.category);
                        this.productData.pagination.totalItems = this.countObject(this.productData.data);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            customFilter(items, filters, filter, headers) {
                const cf = new this.$MultiFilters(items, filters, filter, headers);
                cf.registerFilter('search', function (searchWord, items) {
                    if (searchWord.trim() === '') return items;
                    return items.filter(item => {
                        return item.name.toLowerCase().includes(searchWord.toLowerCase());
                    }, searchWord);
                });
                cf.registerFilter('category', function (category, items) {
                    if (category === '') return items;
                    return items.filter(item => {
                        return item.category_id === category;
                    }, category);
                });
                return cf.runFilters();
            },
            filterSearch(val) {
                let data = ( val ) ? val : '';
                this.productData.filters = this.$MultiFilters.updateFilters(this.productData.filters, {search: data});
            },
            filterCat(val) {
                let data = ( val ) ? val.value : '';
                this.productData.filters = this.$MultiFilters.updateFilters(this.productData.filters, {category: data});
            },
            clearData: function() {
                this.filterCat();
                this.filterSearch();
                this.productData.searchedWord = '';
                this.productData.selectedCat = '';
            }
        }
    }
</script>
