<template>
    <div id="content" class="bg-container">
        <div class="main-bar stretch-wrapper">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{ name : 'dashboard-index' }">
                                <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                            </router-link>
                        </li>
                        <li class="breadcrumb-item active">
                            <router-link :to="{ name : 'sizes-category-index' }">
                                Size Categories
                            </router-link>
                        </li>
                        <li class="breadcrumb-item active">Edit - {{title}}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="outer">
            <div class="inner bg-container">
                <div class="card m-b-10">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h3 class="m-b-0">
                                    Edit - {{title}}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <form-sizes-category-component
                    postAction="update"
                    type="update"
                ></form-sizes-category-component>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getProductCategories();
        },
        components: {
            'form-sizes-category-component': require('../../Templates/SizesCategories/form.vue').default,
        },
        props : [],
        data : function() {
            return {
                title:'',
            }
        },
        methods : {
            getProductCategories: function() {
                this.$http.get( this.api.sizesCategoryEdit + this.$route.params.sizecatid ).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.title = body.object.name;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            },
        }
    }
</script>
