<template>
    <v-app>
        <div id="content" class="bg-container">
            <div class="main-bar stretch-wrapper">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name : 'dashboard-index' }">
                                    <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                </router-link>
                            </li>
                            <li class="breadcrumb-item active">Sizes Categories</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="inner bg-container">
                    <div class="card card-default">
                        <div class="card-header m-b-10">
                            <div class="row">
                                <div class="col">
                                    <h3 class="m-b-0">Sizes Categories</h3>
                                </div>
                                <div class="col">
                                    <div class="btn-group float-right">
                                        <router-link :to="{ name : 'sizes-category-create' }" class=" btn btn-success m-r-5">
                                            Add Size Categoy&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <transition name="slide-fade" mode="out-in">
                                <div class="inner-pages">
                                    <div class="v-sheet v-sheet--tile theme--light">
                                        <div data-app="true">
                                            <v-card-title>
                                                <v-spacer></v-spacer>
                                                <v-text-field
                                                    v-model="sizesCatData.search"
                                                    append-icon="search"
                                                    label="Search"
                                                    single-line
                                                    hide-details>
                                                </v-text-field>
                                            </v-card-title>
                                            <v-data-table
                                                :headers="sizesCatData.headers"
                                                :items="sizesCatData.data"
                                                :pagination.sync="sizesCatData.pagination"
                                                :search="sizesCatData.search"
                                                :rows-per-page-items="sizesCatData.rowsPerPageItems"
                                                class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td class="text-left">{{ props.item.name }}</td>
                                                    <td class="text-left">{{ props.item.description }}</td>
                                                    <td class="text-left">
                                                        <router-link :to="{ name : 'sizes-category-edit', params: { sizecatid : props.item.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                        <button v-on:click="removeCategory(props.item, props.item.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                    </td>
                                                </template>
                                                <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                    Your search for "{{ sizesCatData.search }}" found no results.
                                                </v-alert>
                                            </v-data-table>
                                            <!-- <div v-if="pages > 1" class="text-right pagination-wrapper">
                                                <v-pagination v-model="sizesCatData.pagination.page" :length="pages"></v-pagination>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
          this.sizesCategoryIndex();
        },
        props : [
            'url'
        ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                currentPage: 'Index',
                dataSizesCategories : [],
                hasError: false,
                success: false,
                busy: false,
                errors: [],
                sizesCatData:{
                    search:'',
                    headers:[
                        { text: 'Name', value: 'name' },
                        { text: 'Description', value: 'description' },
                        { text: 'Actions', value:'', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.sizesCatData.pagination.rowsPerPage == null ||
                    this.sizesCatData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.sizesCatData.pagination.totalItems / this.sizesCatData.pagination.rowsPerPage)
            }
        },
        methods : {
            toJson: function(key) {
                return JSON.parse(key);
            },
            removeCategory: function (index, catid) {
                this.busy = true;
                console.log(`${this.api.sizesCategoryDelete}${catid}`);
                this.$http.get(`${this.api.sizesCategoryDelete}${catid}`).then((response) => {
                    this.busy = false;
                    let body = response.body;
                    if (body.success) {
                        $.jGrowl({
                            title: 'Success!',
                            message: body.message,
                            life: 3000,
                            theme: 'bg-success',
                            openDuration: 200
                        });
                        this.dataSizesCategories = body.object;
                        const toDelete = this.sizesCatData.data.indexOf(index);
                        this.sizesCatData.data.splice(toDelete, 1);
                        return;
                    }
                }, (response) => {
                    this.busy = false;
                    this.success = false;
                });
            },
            sizesCategoryIndex: function () {
                this.$http.get(this.api.sizesCategoryIndex).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.dataSizesCategories = body.object;
                        this.sizesCatData.data = body.object;
                        this.sizesCatData.pagination.totalItems = this.countObject(this.sizesCatData.data);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            }
        }
    }
</script>
