<template>
    <div id="content" class="bg-container">
        <div class="main-bar stretch-wrapper">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{ name : 'dashboard-index' }">
                                <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                            </router-link>
                        </li>
                        <li class="breadcrumb-item active">
                            <router-link :to="{ name : 'product-category-index' }">
                                Product Categories
                            </router-link>
                        </li>
                        <li class="breadcrumb-item active">Add Product Category</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="outer">
            <div class="inner bg-container">
                <div class="card m-b-10">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h3 class="m-b-0">
                                    Add Product Category
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <form-product-category-component
                postAction="store"
                type="create"
                ></form-product-category-component>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
        },
        components: {
            'form-product-category-component': require('../../Templates/ProductCategories/form.vue').default,
        },
        props : [
        ],
        data : function() {
            return {
                csrf: $('meta[name=csrf-token]').attr("content"),
                submitted: false,
                errors: [],
            }
        },
        methods : {
        }
    }
</script>
