<template>
    <v-app>
        <div id="content" class="bg-container">
            <div class="main-bar stretch-wrapper">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name : 'dashboard-index' }">
                                    <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                </router-link>
                            </li>
                            <li class="breadcrumb-item active">Product Categories</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="inner bg-container">
                    <div class="card card-default">
                        <div class="card-header m-b-10">
                            <div class="row">
                                <div class="col">
                                    <h3 class="m-b-0">Product Categories</h3>
                                </div>
                                <div class="col">
                                    <div class="btn-group float-right">
                                        <router-link :to="{ name : 'product-category-create' }" class=" btn btn-success m-r-5">
                                            Add Product Categoy&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <transition name="slide-fade" mode="out-in">
                                <div class="inner-pages">
                                    <div class="v-sheet v-sheet--tile theme--light">
                                        <div data-app="true">
                                            <v-card-title>
                                                <v-spacer></v-spacer>
                                                <v-text-field
                                                    v-model="productCatData.search"
                                                    append-icon="search"
                                                    label="Search"
                                                    single-line
                                                    hide-details>
                                                </v-text-field>
                                            </v-card-title>
                                            <v-data-table
                                                :headers="productCatData.headers"
                                                :items="productCatData.data"
                                                :pagination.sync="productCatData.pagination"
                                                :search="productCatData.search"
                                                :rows-per-page-items="productCatData.rowsPerPageItems"
                                                class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td class="featured-image"><img :src="`${DomainUrl}${props.item.thumbnail}`" style="max-width: 60px;"></td>
                                                    <td class="text-left">{{ props.item.name }}</td>
                                                    <td class="text-left">
                                                        <router-link :to="{ name : 'product-category-edit', params: { catid : props.item.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                        <button v-on:click="removeCategory(props.item, props.item.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                    </td>
                                                </template>
                                                <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                    Your search for "{{ productCatData.search }}" found no results.
                                                </v-alert>
                                            </v-data-table>
                                            <!-- <div v-if="pages > 1" class="text-right pagination-wrapper">
                                                <v-pagination v-model="productCatData.pagination.page" :length="pages"></v-pagination>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </transition>
                            <!-- <div id="sample_1_wrapper" class="dataTables_wrapper dt-boostrap no-footer">
                                <div class="table-responsive">
                                    <table data-order='[[ 0, "ASC" ]]' class="table table-data table-striped table-bordered table-hover no-footer" id="datatable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc wid-20" tabindex="0" rowspan="1" colspan="1">Thumbnail</th>
                                                <th class="sorting_asc wid-20" tabindex="0" rowspan="1" colspan="1">Name</th>
                                                <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="countObject(dataProductCategories) > 0">
                                                <tr v-for="(cat, index) in dataProductCategories" v-bind:key="index">
                                                    <td><img :src="'/app-bluecorner/public/'+cat.thumbnail" :alt="cat.title" style="max-width: 70px;"></td>
                                                    <td>
                                                        <template v-if="cat.parent_id == null">
                                                            {{ cat.name }}
                                                        </template>
                                                        <template v-else>
                                                            — {{ cat.name }}
                                                        </template>
                                                    </td>
                                                    <td>
                                                        <router-link :to="{ name : 'product-category-edit', params: { catid : cat.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                        <button v-on:click="removeCategory(index, cat.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr v-else>
                                                <td colspan="5" class="text-center">No Records Found!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
          this.productCategoryIndex();
        },
        props : [
            'url'
        ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                currentPage: 'Index',
                dataProductCategories : [],
                hasError: false,
                success: false,
                busy: false,
                errors: [],
                productCatData:{
                    search:'',
                    headers:[
                        { text: 'Thumbnail', value: 'thumbnail' },
                        { text: 'Name', value: 'width' },
                        { text: 'Actions', value:'', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.productCatData.pagination.rowsPerPage == null ||
                    this.productCatData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.productCatData.pagination.totalItems / this.productCatData.pagination.rowsPerPage)
            }
        },
        methods : {
            toJson: function(key) {
                return JSON.parse(key);
            },
            removeCategory: function (index, catid) {
                this.busy = true;
                this.$http.get(this.api.productCategoryDelete+''+catid).then((response) => {
                    this.busy = false;
                    let body = response.body;
                    if (body.success) {
                        $.jGrowl({
                            title: 'Success!',
                            message: 'Product Category '+ body.deleted +' Succesfully Removed !',
                            life: 3000,
                            theme: 'bg-success',
                            openDuration: 200
                        });
                        this.dataProductCategories = body.object;
                        const toDelete = this.productCatData.data.indexOf(index);
                        this.productCatData.data.splice(toDelete, 1);
                        return;
                    }
                }, (response) => {
                    this.busy = false;
                    this.success = false;
                });
            },
            productCategoryIndex: function () {
                this.$http.get(this.api.productCategoryIndex).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.dataProductCategories = body.object;
                        this.productCatData.data = body.object;
                        this.productCatData.pagination.totalItems = this.countObject(this.productCatData.data);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            }
        }
    }
</script>
