<template>

  <div>

    <form @submit.prevent="submitAddPermission" method="POST" enctype="multipart/form-data">

        <div class="row justify-content-center">
          <div class="col-12 col-sm-9">
            <div class="card">
              <div class="card-header">
                Permission Details
              </div>
              <div class="card-body">

                <p v-if="hasError" class="alert alert-danger">
                    <span>{{ errorMessage }}</span>
                </p>

                <div class="form-group row">
                  <div class="col required">
                    <label for="name" class="col-form-label">Title</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-window-restore" aria-hidden="true"></i>
                        </span>
                        <input type="text" name="name" :class="errors.title ? 'form-control is-invalid required' : 'form-control required'" id="name" v-model="post.title">
                        <span v-if="errors.title" class="error-handler">
                          {{ errors.title[0] }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col">
                    <label for="name" class="col-form-label">Group</label>
                    <div class="p-d-0">
                      <div class="input-group iup-text br-0 border-right-0 rounded-left">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-list" aria-hidden="true"></i>
                        </span>
                        <textarea class="form-control" id="description" name="description" cols="50" rows="10" v-model="post.group"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="form-group row">
                  <div class="col">
                    <label for="name" class="col-form-label">Position</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-window-restore" aria-hidden="true"></i>
                        </span>
                        <input type="text" name="name" :class="errors.position ? 'form-control is-invalid required' : 'form-control required'" id="name" v-model="post.position">
                        <span v-if="errors.position" class="error-handler">
                          {{ errors.position[0] }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div> -->

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="card m-b-10" id="sticky">
              <div class="card-footer">
                <button v-if="postAction == 'store'" class="btn btn-success form-control" type="submit">
                  <i class="fa fa-save"></i> &nbsp;Add Permission
                </button>
                <button v-else class="btn btn-success form-control" type="submit">
                  <i class="fa fa-save"></i> &nbsp;Update Permission
                </button>
              </div>
            </div>
          </div>
        </div>

    </form>
  </div>

</template>

<script>

  export default {

    mounted() {

      if ( this.type == 'update' ){
        this.getProductCategoryDetails();
      }

    },

    components: {

    },

    props : [

      'postAction', 'type'

    ],

    data : function() {
      return {
        csrf: $('meta[name=csrf-token]').attr("content"),
        hasError: false,
        busy: false,
        post: {
          title: '',
          group: '',
          position: ''
        },
        submitted: false,
        errors: [],
      }
    },

    methods : {

      getProductCategoryDetails: function () {
        this.$http.get( this.api.permissionEdit + this.$route.params.permissionid ).then(function(response) {
          let body = response.body;
          if (body.success) {
            this.post = body.object;
            return;
          }
        }, function (error) {
          this.errors = error.body.errors;
        });
      },

      submitAddPermission : function () {
        if (!this.busy) {
          this.busy = true;
          this.hasError = false

          let newURL = (this.postAction == 'store') ? this.postAction : this.postAction +'/'+ this.$route.params.permissionid;
          let post = this.post;
          post['_token'] = this.csrf;

          this.$http.post(this.api.permissionIndex +'/'+ newURL, post).then(function(response) {
              // form submission successful, reset post data and set submitted to true
              let body = response.body;
              if ( body.success ) {
                $.jGrowl({
                    title: 'Success!',
                    message: body.object,
                    life: 3000,
                    theme: 'bg-green',
                    openDuration: 200
                });
                this.submitted = true;
                this.errors = '';
                this.$router.push({ name: 'permissions-index'});
              } else {
                this.errors = body.error;
                this.errorMessage = 'Error!';
                $.jGrowl({
                  title: 'Error!',
                  message:'Kindly Check the Following Errors!',
                  life: 3000,
                  theme: 'bg-red',
                  openDuration: 200
                });
              }
          }, function (error) {
              // form submission failed, pass form  errors to errors array
              this.errors = error.body.error;
          });
        } else {
          this.busy = false;
          this.hasError = true;
          this.errorMessage = 'Please try again.';
        }
      }
    }
  }

</script>