<template>
    <v-app>
        <div>
            <template v-if="countObject(categories) == 0">
                <div class="alert alert-warning alert-dismissable">
                    <strong>Warning!</strong>
                    We have detected that there are 0 categories. We are worried that creation of product may not proceed. <router-link :to="{ name : 'product-category-create' }">Create your first Category Now!</router-link>
                </div>
            </template>
            <form @submit.prevent="submitAddProduct" method="POST" enctype="multipart/form-data">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-9">
                        <div class="card p-b-100">
                            <div class="card-header bg-white">
                                <ul class="nav nav-tabs card-header-tabs float-left">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#tab1" data-toggle="tab">Mobile Banner</a>
                                    </li>
                                    <!--<li class="nav-item">
                                        <a class="nav-link" href="#tab2" data-toggle="tab">Tablet Banner</a>
                                    </li>-->
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content text-justify">
                                    <div class="tab-pane active" id="tab1">
                                        <div class="alert alert-warning alert-dismissable">
                                            <strong>Info!</strong>
                                            Recommended resolution: 375 width x 209 height
                                        </div>
                                        <div :class="( post.product_mobile_banner_info[0]['url'] != null ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                            <div class="image-wrapper" v-bind:style="{ 'background-image': 'url(' +post.product_mobile_banner_info[0]['url']+ ')'}">
                                                <div :class="( post.product_mobile_banner_info[0]['url'] != null ) ? 'remove-image has-preview' : 'remove-image'" v-on:click="removeImage('mobile-banner')">Remove</div>
                                            </div>
                                            <div class="text">
                                                <i class="fa fa-cloud-upload"></i>
                                                <span>click here to upload</span>
                                            </div>
                                            <input type="file" v-on:change="setupImage($event,'mobile-banner')">
                                        </div>
                                    </div>
                                    <!--<div class="tab-pane" id="tab2">
                                        <div class="alert alert-warning alert-dismissable">
                                            <strong>Info!</strong>
                                            Recommended resolution: 1280 width x 800 height
                                        </div>
                                        <div :class="( post.product_tablet_banner_info[0]['url'] != null ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                            <div class="image-wrapper" v-bind:style="{ 'background-image': 'url(' +post.product_tablet_banner_info[0]['url']+ ')'}">
                                                <div :class="( post.product_tablet_banner_info[0]['url'] != null ) ? 'remove-image has-preview' : 'remove-image'" v-on:click="removeImage('tablet-banner')">Remove</div>
                                            </div>
                                            <div class="text">
                                                <i class="fa fa-cloud-upload"></i>
                                                <span>click here to upload</span>
                                            </div>
                                            <input type="file" v-on:change="setupImage($event,'tablet-banner')">
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="card p-b-100 m-t-10">
                            <div class="card-header">
                                Product Details
                            </div>
                            <div class="card-body">
                                <p v-if="hasError" class="alert alert-danger">
                                    <span>{{ errorMessage }}</span>
                                </p>
                                <div class="form-group row">
                                    <div class="col required">
                                        <label for="name" class="col-form-label">Product Name</label>
                                        <div class="p-d-0">
                                            <div class="input-group input-group-prepend">
                                                <span class="input-group-text br-0 border-right-0 rounded-left">
                                                    <i class="fa fa-text-width" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" name="name" :class="errors.name ? 'form-control is-invalid required' : 'form-control required'" id="name" v-model="post.name">
                                                <span v-if="errors.name" class="error-handler">
                                                    {{ errors.name[0] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="name" class="col-form-label">Product Category</label>
                                        <div class="p-d-0">
                                            <div class="input-group input-group-prepend">
                                                <span class="input-group-text br-0 border-right-0 rounded-left">
                                                    <i class="fa fa-window-restore" aria-hidden="true"></i>
                                                </span>
                                                <template v-if="countObject(categories) > 0">
                                                    <select :class="errors.category_id ? 'form-control is-invalid required' : 'form-control required'" v-model="post.category_id">
                                                        <option :value="cat.id ? cat.id : 0" v-for="(cat, index) in categories" v-bind:key="index">{{ cat.name }}</option>
                                                    </select>
                                                </template>
                                                <template v-else>
                                                    <select :class="errors.category_id ? 'form-control is-invalid required' : 'form-control required'"  v-model="post.category_id"></select>
                                                </template>
                                                <span v-if="errors.category_id" class="error-handler">
                                                    {{ errors.category_id[0] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <label for="name" class="col-form-label">Product Description</label>
                                        <div class="p-d-0">
                                            <div class="p-d-0" style="position: relative;">
                                                <vue-editor v-model="post.description" :editorToolbar="customToolbar"></vue-editor>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <div class="section-separator">
                                            <div class="checkbox">
                                                <div class="form-group m-b-0" unselectable="on">
                                                    <label for="style" unselectable="on">Multiple Stlyes?</label>
                                                    <div class="checkbox-wrapper" unselectable="on">
                                                        <div v-on:click="multipleStyle('multi')" :class="post.has_styles ? 'the-checkbox active' : 'the-checkbox inactive'">
                                                            <span class="trigger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="alert alert-warning alert-dismissable">
                                            <strong>Info!</strong>
                                            Recommended resolution for product variations thumbnail images: 454 width x 384 height
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col" v-if="post.has_styles != true">
                                        <label for="style">Select Color Variations</label>
                                        <div class="p-d-0">
                                            <div class="input-group alpha-group with-btn">
                                                <multiselect
                                                    v-model="post.color_ids"
                                                    label="label"
                                                    track-by="label"
                                                    placeholder="Select your colors"
                                                    :allow-empty="true"
                                                    :options="colors"
                                                    :max-height="150"
                                                    :close-on-select="true"
                                                    :hide-selected="true"
                                                    :clear-on-select="true"
                                                    :multiple="true"
                                                    @input="setColorPanel('single')"></multiselect>
                                                <span class="input-group-btn">
                                                    <!-- <button class="btn btn-success br-0 border-left-0 rounded-right" type="button" v-on:click="setColorPanel('single')"><i class="fa fa-print"></i> Generate</button> -->
                                                </span>
                                            </div>
                                        </div>
                                        <div class="set-color-plate">
                                            <v-dialog v-model="dialog" persistent max-width="600px" scrollable style="z-index:999999" v-if="countObject(post.colorPanel) > 0 && post.has_styles == false">
                                                <template v-slot:activator="{ on }" style="margin-bottom:20px;">
                                                    <v-btn color="primary" dark v-on="on" class="sort-color-plate-">Sort Colors</v-btn>
                                                </template>
                                                <v-card>
                                                    <v-toolbar dark color="primary">
                                                        <v-btn icon dark @click="dialog = false">
                                                            <v-icon>close</v-icon>
                                                        </v-btn>
                                                        <v-toolbar-title>Sort Colors</v-toolbar-title>
                                                    </v-toolbar>
                                                    <v-card-text style="height: 700px;">
                                                        <div class="color-plate-sort-wrapper">
                                                            <draggable v-model="post.colorPanel" :options="{draggable:'.color-plate-item'}">
                                                                <div class="color-plate-item" v-for="(selectedColor, index) in post.colorPanel" v-bind:key="index">
                                                                    <div class="row no-gutters">
                                                                        <div class="col-12 col-sm-1">
                                                                            <a href="javascript:;" class="btn btn-xs btn-info btn-drag-row">
                                                                                <i class="fa fa-hand-rock-o"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-12 col-sm-11">
                                                                            <ul>
                                                                                <li v-bind:style="{'background-color':post.colorPanel[index]['hex']}"></li>
                                                                                <li>{{post.colorPanel[index]['label']}}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </draggable>
                                                        </div>
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-btn color="warning" text @click="dialog = false">Close</v-btn>
                                                        <v-btn color="primary" text @click="setColorOrder()">Save</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="style">Select Size Category</label>
                                        <div class="p-d-0">
                                            <div class="input-group alpha-group">
                                                <multiselect
                                                    v-model="post.sizeCat"
                                                    label="label"
                                                    track-by="label"
                                                    placeholder="Select Size Category"
                                                    :max-height="150"
                                                    :options="sizesCategories"
                                                    :close-on-select="true"
                                                    :hide-selected="true"
                                                    :clear-on-select="true"
                                                    @input="getSizesOnCategory($event)">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="style">Select Size Variations</label>
                                        <div class="p-d-0">
                                            <div class="input-group alpha-group">
                                                <multiselect
                                                    v-model="post.size_ids"
                                                    label="label"
                                                    track-by="label"
                                                    placeholder="Select your sizes"
                                                    :options="sizes"
                                                    :max-height="150"
                                                    :close-on-select="true"
                                                    :hide-selected="true"
                                                    :clear-on-select="true"
                                                    :multiple="true">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row color-plate-parent" v-if="countObject(post.colorPanel) > 0 && post.has_styles == false">
                                    <div :class="countObject(post.colorPanel) >= 2 ? 'col-12 col-md-6 color-plate' : 'col color-plate'" v-for="(selectedColor, index) in post.colorPanel" v-bind:key="index">
                                        <div class="custom-card">
                                            <div class="custom-card-header">
                                                <div class="header-text">
                                                    <span v-bind:style="{'background-color':post.colorPanel[index]['hex']}"></span>
                                                    <h6>{{post.colorPanel[index]['label']}}</h6>
                                                </div>
                                                <div class="custom-card-body">
                                                    <div class="row no-gutters alpha-row">
                                                        <div class="col">
                                                            <div class="form-group m-b-0 alpha-form-group alpha-b-r">
                                                                <div class="alpha-header">
                                                                    Product Image
                                                                </div>
                                                                <div :class="( post.colorPanel[index]['productvariation_image_url'] != null ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                                                    <div class="image-wrapper" v-bind:style="{ 'background-image': 'url(' +post.colorPanel[index]['productvariation_image_url']+ ')'}">
                                                                        <div :class="( post.colorPanel[index]['productvariation_image_url'] != null ) ? 'remove-image has-preview' : 'remove-image'" v-on:click="removeImage('productvariation-image-url',index)">Remove</div>
                                                                    </div>
                                                                    <div class="text">
                                                                        <i class="fa fa-cloud-upload"></i>
                                                                        <span>click here to upload</span>
                                                                    </div>
                                                                    <input type="file" v-on:change="setupImage($event,'productvariation-image-url',index)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group m-b-0 alpha-form-group">
                                                                <div class="alpha-header">
                                                                    Color Image
                                                                </div>
                                                                <div :class="( post.colorPanel[index]['productvariation_color_url'] != null ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                                                    <div class="image-wrapper" v-bind:style="{ 'background-image': 'url(' +post.colorPanel[index]['productvariation_color_url']+ ')'}">
                                                                        <div :class="( post.colorPanel[index]['productvariation_color_url'] != null ) ? 'remove-image has-preview' : 'remove-image'" v-on:click="removeImage('productvariation-color-url',index)">Remove</div>
                                                                    </div>
                                                                    <div class="text">
                                                                        <i class="fa fa-cloud-upload"></i>
                                                                        <span>click here to upload</span>
                                                                    </div>
                                                                    <input type="file" v-on:change="setupImage($event,'productvariation-color-url',index)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-bind:class="[ post.has_styles == true ? 'card m-t-10 d-block' : 'card m-t-10 d-none' ]">
                            <div class="card-header">
                                Styles
                            </div>
                            <div class="card-body">
                                <div class="survey-wrapper">
                                    <draggable v-model="post.styles" :options="{draggable:'.survey-items'}">
                                        <div class="survey-items" v-for="(cpm, index) in post.styles" v-bind:key="index">
                                            <div class="row no-gutters">
                                                <div class="col-12 col-sm-1">
                                                    <a href="javascript:;" class="btn btn-xs btn-info btn-drag-row">
                                                        <i class="fa fa-hand-rock-o"></i>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-xs btn-danger btn-remove-row" v-on:click="deleteRow(index)">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </div>
                                                <div class="col-12 col-sm-11">
                                                    <div class="element-wrapper p-l-15">
                                                        <div class="form-group row">
                                                            <div class="col-12">
                                                                <label for="name" class="col-form-label">Style Name</label>
                                                                <div class="p-d-0">
                                                                    <div class="input-group input-group-prepend">
                                                                        <span class="input-group-text br-0 border-right-0 rounded-left">
                                                                            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                                                                        </span>
                                                                        <input type="text" class="form-control" :name="'style_name'+index" :id="'sn'+index" v-model="post.styles[index].style_name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col">
                                                                <label for="style">Select Color Variations</label>
                                                                <div class="p-d-0">
                                                                    <div class="input-group alpha-group with-btn styles">
                                                                        <multiselect
                                                                            v-model="post.styles[index].color_ids"
                                                                            label="label"
                                                                            track-by="label"
                                                                            placeholder="Select your colors"
                                                                            :allow-empty="true"
                                                                            :options="colors"
                                                                            :close-on-select="true"
                                                                            :hide-selected="true"
                                                                            :clear-on-select="true"
                                                                            :multiple="true"
                                                                            @input="setColorPanel('multi', index)"></multiselect>
                                                                        <span class="input-group-btn">
                                                                            <!-- <button class="btn btn-success br-0 border-left-0 rounded-right" type="button" v-on:click="setColorPanel('multi', index)"><i class="fa fa-print"></i> Generate</button> -->
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row" v-if="post.styles[index].colorPanel">
                                                            <div :class="countObject(post.styles[index].colorPanel) >= 2 ? 'col-12 col-md-6' : 'col'" v-for="(selectedColor, key) in post.styles[index].colorPanel" v-bind:key="key">
                                                                <div class="custom-card">
                                                                    <div class="custom-card-header">
                                                                        <div class="header-text">
                                                                            <span v-bind:style="{'background-color':post.styles[index].colorPanel[key].hex}"></span>
                                                                            <h6>{{post.styles[index].colorPanel[key].label}}</h6>
                                                                        </div>
                                                                        <div class="custom-card-body">
                                                                            <div class="row no-gutters alpha-row">
                                                                                <div class="col">
                                                                                    <div class="form-group m-b-0 alpha-form-group alpha-b-r">
                                                                                        <div class="alpha-header">
                                                                                            Product Image
                                                                                        </div>
                                                                                        <div :class="(post.styles[index].colorPanel[key].productvariation_image_url != null ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                                                                            <div class="image-wrapper" v-bind:style="{ 'background-image': 'url(' +post.styles[index].colorPanel[key].productvariation_image_url+ ')'}">
                                                                                                <div :class="( post.styles[index].colorPanel[key].productvariation_image_url != null ) ? 'remove-image has-preview' : 'remove-image'" v-on:click="removeImage('multi-productvariation-image-url',index,key)">Remove</div>
                                                                                            </div>
                                                                                            <div class="text">
                                                                                                <i class="fa fa-cloud-upload"></i>
                                                                                                <span>click here to upload</span>
                                                                                            </div>
                                                                                            <input type="file" v-on:change="setupImage($event,'multi-productvariation-image-url',index,key)">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col">
                                                                                    <div class="form-group m-b-0 alpha-form-group">
                                                                                        <div class="alpha-header">
                                                                                            Color Image
                                                                                        </div>
                                                                                        <div :class="( post.styles[index].colorPanel[key].productvariation_color_url != null ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                                                                            <div class="image-wrapper" v-bind:style="{ 'background-image': 'url(' +post.styles[index].colorPanel[key].productvariation_color_url+ ')'}">
                                                                                                <div :class="( post.styles[index].colorPanel[key].productvariation_color_url != null ) ? 'remove-image has-preview' : 'remove-image'" v-on:click="removeImage('multi-productvariation-color-url',index,key)">Remove</div>
                                                                                            </div>
                                                                                            <div class="text">
                                                                                                <i class="fa fa-cloud-upload"></i>
                                                                                                <span>click here to upload</span>
                                                                                            </div>
                                                                                            <input type="file" v-on:change="setupImage($event,'multi-productvariation-color-url',index,key)">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </draggable>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="btn btn-success" v-on:click="addRow" type="button">Add Style</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <div class="card m-b-10" id="sticky">
                            <div class="card-header">
                                Actions
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="checkbox">
                                            <div class="form-group m-b-0" unselectable="on">
                                                <label for="style" unselectable="on"><strong>Active</strong></label>
                                                <div class="checkbox-wrapper" unselectable="on">
                                                    <div v-on:click="setActive('active')" :class="post.status ? 'the-checkbox active' : 'the-checkbox inactive'">
                                                        <span class="trigger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="name" class="col-form-label">Featured Image</label>
                                        <div class="alert alert-warning alert-dismissable">
                                            <strong>Info!</strong>
                                            Recommended resolution: 454 width x 384 height
                                        </div>
                                        <div class="p-d-0">
                                            <div class="form-group m-b-0">
                                                <div :class="( post.product_featured_image_info[0]['url'] != null ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                                    <div class="image-wrapper" v-bind:style="{ 'background-image': 'url(' +post.product_featured_image_info[0]['url']+ ')'}">
                                                        <div :class="( post.product_featured_image_info[0]['url'] != null ) ? 'remove-image has-preview' : 'remove-image'" v-on:click="removeImage('featured-image')">Remove</div>
                                                    </div>
                                                    <div class="text">
                                                        <i class="fa fa-cloud-upload"></i>
                                                        <span>click here to upload</span>
                                                    </div>
                                                    <input type="file" v-on:change="setupImage($event,'featured-image')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button :class="(processing == true) ? 'btn btn-success form-control loading' : 'btn btn-success form-control'" type="submit">
                                    <template v-if="(processing== true)">
                                        <img :src="`${PublicImages}` + 'loading.svg'"  alt="loading" title="loader"> &nbsp; Saving Product
                                    </template>
                                    <template v-else>
                                        <i class="fa fa-save"></i> &nbsp; {{ btnLabel }}
                                    </template>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {;
            this.getSizeCategories();
            this.getCategories();
            if ( this.type == 'update' ){
                this.getProductDetails();
            }
        },
        components: {
        },
        props : [
            'postAction', 'type',
        ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                csrf: $('meta[name=csrf-token]').attr("content"),
                hasError: false,
                busy: false,
                styleStatus: false,
                inputs:'',
                processing:false,
                dialog: false,
                notifications: false,
                sound: true,
                widgets: false,
                sizesCategories:[],
                size_ids_holder:[],
                size_cat_holder:[],
                post: {
                    name: '',
                    description: '',
                    category_id: '',
                    sizeCat: '',
                    color_ids:[],
                    size_ids:[],
                    has_styles: false,
                    status: true,
                    product_featured_image_info:[{
                        name:null,
                        old_name:null,
                        url:null,
                    }],
                    product_mobile_banner_info:[{
                        name:null,
                        old_name:null,
                        url:null,
                    }],
                    product_tablet_banner_info:[{
                        name:null,
                        old_name:null,
                        url:null,
                    }],
                    colorPanel:[],
                    deletedRow:[],
                    styles: [{
                        id:'',
                        count:0,
                        style_name:'',
                        color_ids:[],
                        colorPanel:[]
                    }],
                },
                submitted: false,
                errors: [],
                categories: [],
                colors: [],
                sizes: [],
                rowCount:0,
                customToolbar: [
					[{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
					[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline'],
					[{ 'color': [] }],
                    [{ 'align': ''},{ 'align': 'justify'}, { 'align': 'right' }],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
					[{ 'indent': '-1'}, { 'indent': '+1' }],
					['clean'],
                ],
            }
        },
        computed:{
            btnLabel: function() {
                return this.postAction == 'store' ? 'Add Product' : 'Update Product';
            },
        },
        methods : {
            setupImage: function(e,type = '', index = '', key = '') {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                return;
                this.createImage(files[0], type, index,key);
            },
            createImage: function(file,type,index,key) {
                var image = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    if( type == 'featured-image' ) {
                        this.post.product_featured_image_info[0]['name'] = this.removeFileExt(file.name);
                        this.post.product_featured_image_info[0]['url'] = e.target.result;
                    } else if( type == 'mobile-banner' ) {
                        this.post.product_mobile_banner_info[0]['name'] = this.removeFileExt(file.name);
                        this.post.product_mobile_banner_info[0]['url'] = e.target.result;
                    } else if( type == 'tablet-banner' ) {
                        this.post.product_tablet_banner_info[0]['name'] = this.removeFileExt(file.name);
                        this.post.product_tablet_banner_info[0]['url'] = e.target.result;
                    } else if( type == 'productvariation-image-url' ) {
                        this.post.colorPanel[index]['productvariation_image_name'] = this.removeFileExt(file.name);
                        this.post.colorPanel[index]['productvariation_image_url'] = e.target.result;
                    } else if( type == 'productvariation-color-url' ) {
                        this.post.colorPanel[index]['productvariation_color_name'] = this.removeFileExt(file.name);
                        this.post.colorPanel[index]['productvariation_color_url'] = e.target.result;
                    } else if( type == 'multi-productvariation-image-url' ) {
                        this.post.styles[index].colorPanel[key]['productvariation_image_name'] = this.removeFileExt(file.name);
                        this.post.styles[index].colorPanel[key]['productvariation_image_url'] = e.target.result;
                    } else if( type == 'multi-productvariation-color-url' ) {
                        this.post.styles[index].colorPanel[key]['productvariation_color_name'] = this.removeFileExt(file.name);
                        this.post.styles[index].colorPanel[key]['productvariation_color_url'] = e.target.result;
                    }
                };
                reader.readAsDataURL(file);
            },
            removeImage: function(type,index = '', key = '') {
                if( type == 'featured-image' ) {
                    this.post.product_featured_image_info[0]['name'] = "";
                    this.post.product_featured_image_info[0]['url'] = "";
                } else if( type == 'mobile-banner' ) {
                    this.post.product_mobile_banner_info[0]['name'] = "";
                    this.post.product_mobile_banner_info[0]['url'] = "";
                } else if( type == 'tablet-banner' ) {
                    this.post.product_tablet_banner_info[0]['name'] = "";
                    this.post.product_tablet_banner_info[0]['url'] = "";
                } else if( type == 'productvariation-image-url' ) {
                    this.post.colorPanel[index]['productvariation_image_name'] = "";
                    this.post.colorPanel[index]['productvariation_image_url'] = "";
                } else if( type == 'productvariation-color-url' ) {
                    this.post.colorPanel[index]['productvariation_color_name'] = "";
                    this.post.colorPanel[index]['productvariation_color_url'] = "";
                } else if( type == 'multi-productvariation-image-url' ) {
                    this.post.styles[index].colorPanel[key]['productvariation_image_name'] = "";
                    this.post.styles[index].colorPanel[key]['productvariation_image_url'] = "";
                } else if( type == 'multi-productvariation-color-url' ) {
                    this.post.styles[index].colorPanel[key]['productvariation_color_name'] = "";
                    this.post.styles[index].colorPanel[key]['productvariation_color_url'] = "";
                }
            },
            toJson: function(key) {
                return JSON.parse(key);
            },
            setColorPanel: function(type,index) {
                if( type == 'single' ) {
                    let populateColor = this.post.color_ids;
                    this.generateColorPanel(type,populateColor,'');
                } else {
                    let populateColor = this.post.styles[index].color_ids;
                    this.generateColorPanel(type,populateColor,index);
                }
            },
            generateColorPanel: function(type,data,index) {
                if( data ) {
                    data.forEach((item,key) => {
                        if( type == 'multi' ) {
                            let found = this.inArray(item.value, this.post.styles[index].colorPanel);
                            if ( found == false ) {
                                this.post.styles[index].colorPanel.push({
                                    id:'',
                                    label : item.label,
                                    value : item.value,
                                    hex : item.hex,
                                    productvariation_image_name:null,
                                    productvariation_image_old_name:null,
                                    productvariation_image_id:null,
                                    productvariation_image_url:null,
                                    productvariation_color_name:null,
                                    productvariation_color_old_name:null,
                                    productvariation_color_id:null,
                                    productvariation_color_url:null
                                });
                            }
                        } else {
                            let found = this.inArray(item.value, this.post.colorPanel);
                            if ( found == false ) {
                                this.post.colorPanel.push({
                                    id:'',
                                    count: key,
                                    label : item.label,
                                    value : item.value,
                                    hex : item.hex,
                                    productvariation_image_name:null,
                                    productvariation_image_old_name:null,
                                    productvariation_image_id:null,
                                    productvariation_image_url:null,
                                    productvariation_color_name:null,
                                    productvariation_color_old_name:null,
                                    productvariation_color_id:null,
                                    productvariation_color_url:null
                                });
                            }
                            console.log(this.post.colorPanel);
                        }
                    });
                    if( type == 'multi' ) {
                        let theMultiColorPanel = this.post.styles[index].colorPanel;
                        let forDeletion = [];
                        theMultiColorPanel.forEach((innerItem) => {
                            let remove = this.notInArray(innerItem.value, data);
                            if ( remove == true ) {
                                forDeletion.push(innerItem.value);
                            }
                        });
                        this.post.styles[index].colorPanel = this.post.styles[index].colorPanel.filter((value, key) => {
                            return forDeletion.indexOf(value.value) < 0;
                        });
                    } else {
                        let theColorPanel = this.post.colorPanel;
                        let forDeletion = [];
                        theColorPanel.forEach((innerItem) => {
                            let remove = this.notInArray(innerItem.value, data);
                            if ( remove == true ) {
                                forDeletion.push(innerItem.value);
                            }
                        });
                        this.post.colorPanel = this.post.colorPanel.filter((value, key) => {
                            return forDeletion.indexOf(value.value) < 0;
                        });
                    }
                }
            },
            setColorOrder: function(index) {
                let reorderColors = this.post.colorPanel;
                reorderColors.forEach((item,key) => {
                    let found = this.inArray(item.value, this.post.colorPanel);
                    // if ( found ) {
                        item.count = key + 1;
                    // }
                    this.dialog = false;
                });
            },
            inArray: function(checkThis, thisArray) {
                var length = thisArray.length;
                for(var i = 0; i < length; i++) {
                    if(thisArray[i]['value'] == checkThis) {
                        return true;
                    }
                }
                return false;
            },
            notInArray: function(removeThis, thisArray) {
                var length = thisArray.length;
                for(var i = 0; i < length; i++) {
                    if(thisArray[i]['value'] == removeThis) {
                        return false;
                    }
                }
                return true;
            },
            addRow:function() {
                let count = this.rowCount += 1;
                this.post['styles'].push({ id:'', count : count, style_name:'', color_ids:[], colorPanel:[] });
            },
            deleteRow:function(index) {
                this.post['deletedRow'].push({ productID:this.$route.params.prodid , order:index });
                this.post['styles'].splice( index, 1 );
                this.$forceUpdate();
            },
            multipleStyle:function() {
                if( this.post.has_styles )  {
                    this.post.has_styles = false;
                } else {
                    this.post.has_styles = true;
                    setTimeout(function() {
                        $('.dropify').dropify();
                    },500);
                }
            },
            setActive:function() {
                if( this.post.status )  {
                    this.post.status = false;
                } else {
                    this.post.status = true;
                }
            },
            getCategories: function () {
                this.$http.get( this.api.productCreate ).then(function(response) {
                let body = response.body;
                    if (body.success) {
                        this.categories = body.object;
                        this.colors = this.selectArr(body.colors);
                        // this.sizes = this.selectArr(body.sizes)
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            getSizesOnCategory: function(event) {
                this.post.size_ids = [];
                if( this.size_cat_holder != '' && this.size_cat_holder[0].value == event.value ) {
                    this.post.size_ids = this.size_ids_holder;
                }
                const cat_id = event.value
                this.$http.get(`${this.api.sizePerCategories}${cat_id}`).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.sizes = this.selectArr(body.allSizes);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    // this.errors = error.body.errors;
                });
            },
            getSizeCategories: function() {
              this.$http.get(this.api.sizeAllCategories).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.sizesCategories = body.object;
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            getProductDetails: function () {
                this.$http.get( this.api.productEdit + this.$route.params.prodid ).then(function(response) {
                let body = response.body;
                    if (body.success) {
                        let _this = this;
                        this.post = body.object;
                        this.colors = this.selectArr(body.colors);
                        this.sizes = this.selectArr(body.sizes);
                        this.size_ids_holder = body.object.size_ids;
                        this.size_cat_holder = body.object.sizeCat;
                        return;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            submitAddProduct : function () {
                if (!this.busy) {
                    this.busy = true;
                    this.hasError = false
                    let newURL = (this.postAction == 'store') ? this.postAction : this.postAction +'/'+ this.$route.params.prodid;
                    let post = this.post;
                    post['_token'] = this.csrf;
                    this.processing = true;
                    this.$http.post(this.api.productIndex +'/'+ newURL, post)
                        .then((response) => {
                            let body = response.body;
                            if ( body.success ) {
                                this.createNotif(body.object);
                                this.submitted = true;
                                this.errors = '';
                                this.$router.push({ name: 'products-index'});
                            } else {
                                this.errors = body.error;
                                this.errorMessage = 'Error!';
                                this.createNotif('Kindly Check the Following Errors!','error');
                            }
                    }, function (error) {
                        this.errors = error.body.error;
                    });
                } else {
                    this.busy = false;
                    this.hasError = true;
                    this.errorMessage = 'Please try again.';
                }
            }
        },
        watch: {
        }
    }
</script>
