<template>
    <div>
        <div v-if="currentPage == 'Index'">
            <form @submit.prevent="submitAddContest" method="POST" enctype="multipart/form-data">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-9">
                        <div class="card m-b-10">
                            <div class="card-header bg-white">
                                <ul class="nav nav-tabs card-header-tabs float-left">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#tab1" data-toggle="tab">Mobile Banner</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tab2" data-toggle="tab">Tablet Banner</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content text-justify">
                                    <div class="tab-pane active" id="tab1">
                                        <div class="alert alert-warning alert-dismissable">
                                            <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                            </button> -->
                                            <strong>Info!</strong>
                                            Recommended resolution: 376 width x 209 height
                                        </div>
                                        <div :class="( post.banner_mobile[0]['src'] != '' ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                            <div class="image-wrapper" v-bind:style="{ 'background-image': 'url('+ post.banner_mobile[0]['src'] +')'}">
                                                <div class="remove-image" v-on:click="removeImage('mobile-banner','')">Remove</div>
                                            </div>
                                            <div class="text">
                                                <i class="fa fa-cloud-upload"></i>
                                                <span>click here to upload</span>
                                            </div>
                                            <input type="file" v-on:change="setupImage($event,'mobile-banner','')">
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <div class="alert alert-warning alert-dismissable">
                                            <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                            </button> -->
                                            <strong>Info!</strong>
                                            Recommended resolution: 1280 width x 800 height
                                        </div>
                                        <div :class="( post.banner_tablet[0]['src'] != '' ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                            <div class="image-wrapper" v-bind:style="{ 'background-image': 'url(' +post.banner_tablet[0]['src']+ ')'}">
                                                <div class="remove-image" v-on:click="removeImage('tablet-banner','')">Remove</div>
                                            </div>
                                            <div class="text">
                                                <i class="fa fa-cloud-upload"></i>
                                                <span>click here to upload</span>
                                            </div>
                                            <input type="file" v-on:change="setupImage($event,'tablet-banner','')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Contest Details
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col required">
                                        <label for="name" class="col-form-label">Title</label>
                                        <div class="p-d-0">
                                            <div class="input-group input-group-prepend">
                                                <span class="input-group-text br-0 border-right-0 rounded-left">
                                                    <i class="fa fa-text-width" aria-hidden="true"></i>
                                                </span>
                                                <input type="text" name="title" :class="errors.title ? 'form-control is-invalid required' : 'form-control required'" id="title" v-model="post.title">
                                                <span v-if="errors.title" class="error-handler">
                                                    {{ errors.title[0] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col required">
                                        <label for="name" class="col-form-label">Contest Duration</label>
                                        <div class="p-d-0">
                                            <div class="input-group input-group-prepend" id="dateRangePickerBlock">
                                                <span class="input-group-text br-0 border-right-0 rounded-left">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            <!-- <input type="text" :class="errors.date_range ? 'form-control is-invalid required' : 'form-control required'" id="date_range" v-model="datepost.date_range" placeholder="..."> -->
                                                <date-range-picker id="date_custom_range" v-model="post.date_range" :class="errors.date_range ? 'form-control is-invalid required' : 'form-control required'"></date-range-picker>
                                                <span v-if="errors.date_range" class="error-handler">
                                                    {{ errors.date_range[0] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <label for="name" class="col-form-label">Description</label>
                                        <div class="p-d-0" style="position: relative;">
                                            <vue-editor v-model="post.description" :editorToolbar="customToolbar"></vue-editor>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <div class="card m-b-10" id="sticky">
                            <div class="card-header">
                                ACTIONS
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="update-status" class="control-label font-size-11 update-status">Status</label>
                                        <v-select v-model="post.status" :options="select_options"></v-select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="checkbox">
                                            <label style="margin-bottom: 0;">
                                                <input type="checkbox" value="" v-model="post.published">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                        <label for="update-status" class="control-label font-size-11 update-published">Featured</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button v-if="postAction == 'store'" class="btn btn-success form-control" type="submit">
                                    <i class="fa fa-save"></i> &nbsp;Save & Continue
                                </button>
                                <template v-else>
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-success form-control" type="submit">
                                                <i class="fa fa-save"></i> &nbsp;Save & Continue
                                            </button>
                                        </div>
                                        <div class="col-12" style="margin-top:8px;">
                                            <router-link :to="{ name : 'contest-items-edit', params: { contsid : this.$route.params.contsid } }" class="btn btn-success form-control btn-details" type="submit">
                                                <i class="fa fa-caret-square-o-left" aria-hidden="true"></i> &nbsp;Item Details
                                            </router-link>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="card m-b-10">
                            <div class="card-header bg-white">
                                <ul class="nav nav-tabs card-header-tabs float-left">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#tab3" data-toggle="tab">Mobile Thumbnail</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                    <a class="nav-link" href="#tab4" data-toggle="tab">Tablet Thumbnail</a>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content text-justify">
                                    <div class="tab-pane active" id="tab3">
                                        <div class="alert alert-warning alert-dismissable">
                                            <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                            </button> -->
                                            <strong>Info!</strong>
                                            Recommended resolution: 400 width x 711 height
                                        </div>
                                        <div :class="( post.thumb_mobile[0]['src'] != '' ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                            <div class="image-wrapper" v-bind:style="{ 'background-image': 'url('+ post.thumb_mobile[0]['src'] +')'}">
                                                <div class="remove-image" v-on:click="removeImage('mobile-thumb','')">Remove</div>
                                            </div>
                                            <div class="text">
                                                <i class="fa fa-cloud-upload"></i>
                                                <span>click here to upload</span>
                                            </div>
                                            <input type="file" v-on:change="setupImage($event,'mobile-thumb','')">
                                        </div>
                                    </div>
                                    <!--  <div class="tab-pane" id="tab4">
                                        <div class="alert alert-warning alert-dismissable">
                                            <strong>Info!</strong>
                                                Recommended resolution: 1280 width x 800 height
                                            </div>
                                             <div :class="( post.thumb_tablet[0]['src'] != '' ) ? 'div uploadables has-preview' : 'div uploadables' ">
                                                <div class="image-wrapper" v-bind:style="{ 'background-image': 'url(' +post.thumb_tablet[0]['src']+ ')'}">
                                                <   div class="remove-image" v-on:click="removeImage('tablet-thumb','')">Remove</div>
                                            </div>
                                            <div class="text">
                                                <i class="fa fa-cloud-upload"></i>
                                                <span>click here to upload</span>
                                            </div>
                                            <input type="file" v-on:change="setupImage($event,'tablet-thumb','')">
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            if ( this.type == 'update' ){
                this.getContest();
            } else {
                $("#input-fa-mobile").fileinput({
                    theme: "fa",
                    uploadUrl: "/file-upload-batch/2"
                });
                $("#input-fa-tablet").fileinput({
                    theme: "fa",
                    uploadUrl: "/file-upload-batch/2"
                });
            }
        },
        components: {
        },
        props : [
            'postAction', 'type'
        ],
        data : function() {
            return {
                currentPage: 'Index',
                csrf: $('meta[name=csrf-token]').attr("content"),
                hasError: false,
                busy: false,
                file_uploaded: false,
                post: {
                    title: '',
                    description: '',
                    status: {id: 'active', label: 'Active'},
                    published: '',
                    thumb_mobile: [{
                        name:'',
                        old_name:'',
                        src:'',
                    }],
                    thumb_tablet: [{
                        name:'',
                        old_name:'',
                        src:'',
                    }],
                    banner_mobile: [{
                        name:'',
                        old_name:'',
                        src:'',
                    }],
                    banner_tablet: [{
                        name:'',
                        old_name:'',
                        src:'',
                    }],
                },
                customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'align': ''},{ 'align': 'justify'}, { 'align': 'right' }],
                    [{ 'list': 'ordered'}],
                    [{ 'list': 'bullet' }],
                    // ['image', 'code-block']
                ],
                submitted: false,
                errors: [],
                categories: [],
                select_options : [
                    {id: 'active', label: 'Active'},
                    {id: 'expired', label: 'Expired'},
                    {id: 'on-queue', label: 'On-queue'},
                ],
            }
        },
        methods : {
            setupImage: function(e,type = '', index = '') {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                return;
                this.createImage(files[0], type, index);
            },
            createImage: function(file,type,index) {
                var image = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    if( type == 'mobile-banner' ) {
                    this.post.banner_mobile[0]['name'] = this.removeFileExt(file.name);
                    this.post.banner_mobile[0]['src'] = e.target.result;
                    } else if( type == 'tablet-banner' ) {
                    this.post.banner_tablet[0]['name'] = this.removeFileExt(file.name);
                    this.post.banner_tablet[0]['src'] = e.target.result;
                    } else if( type == 'mobile-thumb' ) {
                    this.post.thumb_mobile[0]['name'] = this.removeFileExt(file.name);
                    this.post.thumb_mobile[0]['src'] = e.target.result;
                    } else if( type == 'tablet-thumb' ) {
                    this.post.thumb_tablet[0]['name'] = this.removeFileExt(file.name);
                    this.post.thumb_tablet[0]['src'] = e.target.result;
                    }
                };
                reader.readAsDataURL(file);
            },
            removeImage: function(type,index) {
                if( type == 'mobile-banner' ) {
                    this.post.banner_mobile[0]['name'] = "";
                    this.post.banner_mobile[0]['src'] = "";
                } else if( type == 'tablet-banner' ) {
                    this.post.banner_tablet[0]['name'] = "";
                    this.post.banner_tablet[0]['src'] = "";
                } else if( type == 'mobile-thumb' ) {
                    this.post.thumb_mobile[0]['name'] = "";
                    this.post.thumb_mobile[0]['src'] = "";
                } else if( type == 'tablet-thumb' ) {
                    this.post.thumb_tablet[0]['name'] = "";
                    this.post.thumb_tablet[0]['src'] = "";
                }
            },
            getContest: function() {
                this.$http.get( this.api.contestEdit + this.$route.params.contsid ).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        Date.prototype.toShortFormat = function() {
                            var month_names =['01','02','03',
                                            '04','05','06',
                                            '07','08','09',
                                            '10','11','12'];
                            var day = this.getDate();
                            var month_index = this.getMonth();
                            var year = this.getFullYear();
                            return month_names[month_index] + "/" + day + "/" + year;
                        }
                        // conver date into array to string
                        var convertsDate = body.object.date_from;
                        var converteDate = body.object.date_to;

                        var stDate = new Date(convertsDate.toString());
                        var enDate = new Date(converteDate.toString());
                        var finalOutput = stDate.toShortFormat() +' - '+ enDate.toShortFormat();

                        this.post = body.object;
                        $('#date_custom_range').val(finalOutput);
                            this.post.date_range = finalOutput;
                    }
                }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            submitAddContest : function () {
                if (!this.busy) {
                    this.busy = true;
                    this.hasError = false
                    let newURL = (this.postAction == 'store') ? this.postAction : this.postAction +'/'+ this.$route.params.contsid;
                    let post = this.post;
                    post['_token'] = this.csrf;
                    post['date_range'] = $('#date_custom_range').val();

                    this.file_uploaded = false;
                    this.$http.post(this.api.contestIndex +'/'+ newURL, post).then(function(response) {

                    this.file_uploaded = true;
                    // form submission successful, reset post data and set submitted to true
                    let body = response.body;
                    if ( body.success ) {
                        $.jGrowl({
                            title: 'Success!',
                            message: body.object,
                            life: 3000,
                            theme: 'bg-green',
                            openDuration: 200
                        });
                        this.submitted = true;
                        this.errors = '';

                        if ( this.postAction == 'store' ) {
                        this.$router.push({ name: 'contest-items-create', params: { contsid : body.args }});
                        } else {
                        location.reload();
                        setTimeout(() => {
                            this.$router.push({ name: 'contest-items-edit', params: { contsid : body.args }});
                        }, 100);
                        }

                    } else {
                        this.errors = body.error;
                        this.errorMessage = 'Error!';
                        $.jGrowl({
                        title: 'Error!',
                        message:'Kindly Check the Following Errors!',
                        life: 3000,
                        theme: 'bg-red',
                        openDuration: 200
                        });
                    }
                    }, function (error) {
                        // form submission failed, pass form  errors to errors array
                        this.errors = error.body.error;
                    });

                } else {
                    this.busy = false;
                    this.hasError = true;
                    this.errorMessage = 'Please try again.';
                }
            }
        }
    }
</script>
