<template>

  <div>
    <form @submit.prevent="submitAddUser" method="POST" enctype="multipart/form-data">

        <div class="row justify-content-center">
          <div class="col-12 col-sm-9">
            <div class="card">
              <div class="card-header">
                  Personal Details
              </div>
              <div class="card-body">

                <p v-if="hasError" class="alert alert-danger">
                    <span>{{ errorMessage }}</span>
                </p>
                <template v-if="countObject(allRoles) < 1">
                  <div class="alert alert-warning alert-dismissable">
                    <strong>Warning!</strong>
                    There are 0 roles found, creation of new user may not proceed. <router-link :to="{ name : 'roles-create' }">Create Role Now!</router-link>
                  </div>
                </template>
                <div class="form-group row">
                  <div class="col required">
                    <label for="name" class="col-form-label">First Name</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-user text-default"></i>
                        </span>
                        <input type="text" name="first_name" :class="errors.first_name ? 'form-control is-invalid required' : 'form-control required'" id="first_name" v-model="post.first_name">
                        <span v-if="errors.first_name" class="error-handler">
                          {{ errors.first_name[0] }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col required">
                    <label for="name" class="col-form-label">Last Name</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-user text-default"></i>
                        </span>
                        <input type="text" name="last_name" :class="errors.last_name ? 'form-control is-invalid required' : 'form-control required'" id="last_name" value="UserDetails.last_name" v-model="post.last_name">
                        <span v-if="errors.last_name" class="error-handler">
                          {{ errors.last_name[0] }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col required">
                    <label for="name" class="col-form-label">Email</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-envelope text-default"></i>
                        </span>
                        <input type="email" name="email" :class="errors.email ? 'form-control is-invalid required' : 'form-control required'" id="email" value="UserDetails.email" v-model="post.email">
                        <span v-if="errors.email" class="error-handler">
                          {{ errors.email[0] }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row m-t-15">
                  <div :class="postAction == 'update' ? 'col' : 'col required'">
                    <label for="name" class="col-form-label">Password</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-envelope text-default"></i>
                        </span>
                        <input type="password" name="password" :class="errors.password ? 'form-control is-invalid required' : 'form-control required'" id="password" value="UserDetails.password" v-model="post.password">
                        <span v-if="errors.password" class="error-handler">
                          {{ errors.password[0] }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div :class="postAction == 'update' ? 'col required' : 'col required'">
                    <label for="name" class="col-form-label">Confirm Password</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa-envelope text-default"></i>
                        </span>
                        <input type="password" name="password_confirmation" :class="errors.password_confirmation ? 'form-control is-invalid required' : 'form-control required'" id="password_confirmation" value="" v-model="post.password_confirmation">
                        <span v-if="errors.password_confirmation" class="error-handler">
                          {{ errors.password_confirmation[0] }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div :class="postAction == 'update' ? 'col' : 'col required'">
                    <label for="name" class="col-form-label">User Role</label>
                    <div class="p-d-0">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text br-0 border-right-0 rounded-left">
                          <i class="fa fa fa-user-secret"></i>
                        </span>
                        <template v-if="countObject(allRoles) > 0">
                          <select :class="errors.password ? 'form-control is-invalid required' : 'form-control required'" v-model="post.role_id">
                            <option v-for="(role, key) in allRoles" :value="role.id" v-bind:key="key">{{ role.title }}</option>
                          </select>
                        </template>
                        <template v-else>
                          <select :class="errors.password ? 'form-control is-invalid required' : 'form-control required'" v-model="post.role_id"></select>
                        </template>
                        <span v-if="errors.role_id" class="error-handler">
                          {{ errors.role_id[0] }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="card m-b-10" id="sticky">
              <div class="card-body">
                <div class="checkbox">
                  <label style="margin-bottom: 0;">
                      <input type="checkbox" v-model="post.active">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Activate
                  </label>
                </div>
              </div>
              <div class="card-footer">
                <button v-if="type == 'create'" class="btn btn-success form-control" type="submit">
                  <i class="fa fa-save"></i> &nbsp;Add User
                </button>
                <button v-else class="btn btn-success form-control" type="submit">
                  <i class="fa fa-save"></i> &nbsp;Update User
                </button>
              </div>
            </div>

            <!-- <div class="card">
              <div class="card-header">
                PROFILE PICTURE
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-new img-thumbnail text-center" v-if="post.thumb != ''">
                        <img :src="post.thumb" class="img-fluid" alt="contest-thumbnail">
                      </div>
                      <div class="fileinput-new img-thumbnail text-center" v-if="!post.thumb">
                        <img src="/app-bluecorner/public/images/placeholder.png" class="img-fluid" alt="contest-placeholder">
                      </div>
                      <div class="fileinput-preview fileinput-exists img-thumbnail" v-else>
                        <img :src="post.thumb" class="img-fluid" alt="previe-thumbnail">
                      </div>
                      <div class="m-t-10 m-d-10 text-center">
                        <span class="btn btn-primary btn-file">
                          <span class="fileinput-new">Select image</span>
                          <span class="fileinput-exists">Change</span>
                          <input type="file" name="thumb" @change="onFileChange">
                        </span>
                        <a href="#" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" @click="removeImage">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>

    </form>
  </div>

</template>

<script>

  export default {

    mounted() {

      this.getRoles();
      if( this.type == 'update' ) {
        this.getUserDetails();
      }

    },

    components: {

    },

    props : [

      'postAction', 'type'

    ],

    data : function() {
      return {
        csrf: $('meta[name=csrf-token]').attr("content"),
        hasError: false,
        busy: false,
        post: {
          first_name: '',
          last_name: '',
          email: '',
          password: '',
          password_confirmation: '',
          role_id: '',
          active: 1,
          // thumb: ''
        },
        //type: '',
        submitted: false,
        errors: [],
        allRoles: []
      }
    },

    methods : {

      onFileChange(e) {
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;
        this.createImage(files[0]);
      },

      createImage(file) {
        var image = new Image();
        var reader = new FileReader();
        reader.onload = (e) => {
          this.post.thumb = e.target.result;
        };
        reader.readAsDataURL(file);
      },

      removeImage: function (e) {
        this.post.thumb = '';
      },

      getRoles: function () {
        this.$http.get( this.api.userCreate ).then(function(response) {
          let body = response.body;
          if (body.success) {
            this.allRoles = body.object;
            return;
          }
        }, function (error) {
          this.errors = error.body.errors;
        });
      },

      getUserDetails: function () {
        this.$http.get( this.api.userEdit + this.$route.params.userid ).then(function(response) {
          let body = response.body;
          if (body.success) {
            this.post = body.object;
            this.post.thumb = body.image;
            this.post.role_id = body.user_role[0].id;
            return;
          }
        }, function (error) {
          this.errors = error.body.errors;
        });
      },

      submitAddUser: function () {
        if (!this.busy) {

          this.busy = true;
          this.hasError = false
          let newURL = (this.postAction == 'store') ? this.postAction : this.postAction +'/'+ this.$route.params.userid;

          let post = this.post;
          post['_token'] = this.csrf;

          console.log(post);

          this.$http.post(this.api.userIndex +'/'+ newURL, post).then(function(response) {

              // form submission successful, reset post data and set submitted to true
              let body = response.body;

              if ( body.success ) {
                $.jGrowl({
                    title: 'Success!',
                    message: body.object,
                    life: 3000,
                    theme: 'bg-green',
                    openDuration: 200
                });
                this.submitted = true;
                this.errors = '';
                this.$router.push({ name: 'users-index'});
              } else {
                this.errors = body.error;
                this.errorMessage = 'Error!';
                $.jGrowl({
                  title: 'Error!',
                  message:'Kindly Check the Following Errors!',
                  life: 3000,
                  theme: 'bg-red',
                  openDuration: 200
                });
              }

          }, function (error) {
              // form submission failed, pass form  errors to errors array
              this.errors = error.body.error;
          });

        } else {

          this.busy = false;
          this.hasError = true;
          this.errorMessage = 'Please try again.';

        }

      }

    }

  }

</script>
