<template>
    <div>
      <div id="content" class="bg-container">
        <div class="main-bar stretch-wrapper">
          <div class="row">
            <div class="col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <router-link :to="{ name : 'dashboard-index' }">
                      <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                  </router-link>
                </li>
                <li class="breadcrumb-item active">
                  <router-link :to="{ name : 'permissions-index' }">
                      Permissions
                  </router-link>
                </li>
                <li class="breadcrumb-item active">Create Permission</li>
              </ol>
            </div>
          </div>
        </div>

        <div class="outer">
          <div class="inner bg-container">

            <div class="card m-b-10">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h3 class="m-b-0">
                      Create Permission
                    </h3>
                  </div>
                </div>
              </div>
            </div>

            <form-permissions-component
              postAction="store"
              type="store"
            ></form-permissions-component>

          </div>
        </div>
      </div>
    </div>

</template>

<script>
    export default {
        mounted() {

        },

        components: {
          'form-permissions-component': require('../../Templates/Permissions/form.vue').default,
        },

        props : [

        ],

        data : function() {
          return {
            title:'',
            currentPage: 'Index',
            hasError: false,
            success: false,
            busy: false,
          }
        },

    }
</script>
