<template>

    <div>
      <div id="content" class="bg-container">

        <div class="main-bar stretch-wrapper">
          <div class="row">
            <div class="col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <router-link :to="{ name : 'dashboard-index' }">
                      <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                  </router-link>
                </li>
                <li class="breadcrumb-item active">Permissions</li>
              </ol>
            </div>
          </div>
        </div>

        <div class="outer">
          <div class="inner bg-container">

            <div class="card card-default">
              <div class="card-header m-b-10">
                <div class="row">
                  <div class="col">
                    <h3 class="m-b-0">Permissions</h3>
                  </div>
                  <div class="col">
                    <div class="btn-group float-right">
                      <router-link :to="{ name : 'permissions-create' }" class=" btn btn-success m-r-5">
                        Add Permission&nbsp;&nbsp;<i class="fa fa-plus"></i>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">

                <div id="sample_1_wrapper" class="dataTables_wrapper dt-boostrap no-footer">
                  <div class="table-responsive">
                    <table data-order='[[ 0, "ASC" ]]' class="table table-data table-striped table-bordered table-hover no-footer" id="datatable" role="grid">

                      <thead>
                        <tr role="row">
                          <th class="sorting_asc wid-20" tabindex="0" rowspan="1" colspan="1">Title</th>
                          <th class="sorting wid-25" tabindex="0" rowspan="1" colspan="1">Group</th>
                          <!-- <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Position</th> -->
                          <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Actions</th>
                        </tr>
                      </thead>

                      <tbody>
                        <template v-if="countObject(getAllpermission) > 0">
                          <tr v-for="(perm, index) in getAllpermission" v-bind:key="index">
                            <td>{{ perm.title }}</td>
                            <td>{{ perm.group }}</td>
                            <!-- <td>{{ perm.position }}</td> -->
                            <td>
                              <router-link :to="{ name : 'permissions-edit', params: { permissionid : perm.id } }" class="btn btn-sm btn-info" title="Edit">EDIT</router-link>
                              <span :class="'btn btn-sm btn-info remove-'+index" title="Remove" v-on:click="removePermission(index, perm.id)">REMOVE</span>
                            </td>
                          </tr>
                        </template>
                        <tr v-else>
                          <td colspan="5" class="text-center">No Records Found!</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

</template>

<script>
    export default {

      mounted() {

        this.permissionsIndex();

      },

      components: {

      },

      props : [
        'url'
      ],

      data : function() {
        return {
          currentPage: 'Index',
          getAllpermission : [],
          hasError: false,
          success: false,
          busy: false,
          errors: [],
        }
      },

      methods : {
        toJson: function(key) {
          return JSON.parse(key);
        },
        removePermission: function (index, roleid) {
          this.busy = true;
          this.$http.get(this.api.permissionDelete+roleid).then((response) => {
            this.busy = false;
            let body = response.body;
            if (body.success) {
              $.jGrowl({
                title: 'Success!',
                message: 'Role '+ body.deleted +' Succesfully Removed !',
                life: 3000,
                theme: 'bg-success',
                openDuration: 200
              });

              this.getAllpermission = body.object;
            }
          }, (response) => {
            this.busy = false;
            this.success = false;
          });
        },
        permissionsIndex: function () {
          if (!this.busy) {
            this.busy = true;
            this.hasError = false
            this.$http.get(this.api.permissionIndex).then(function(response) {
              let body = response.body;
              if (body.success) {
                this.getAllpermission = body.object;
                return;
              }
            }, function (error) {
                this.errors = error.body.errors;
                return;
            });
          } else {
            this.busy = false;
            this.hasError = true;
          }
        },
      }
    }
</script>
