<template>
    <v-app>
        <div>
            <div id="content" class="bg-container">
                <div class="main-bar stretch-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <router-link :to="{ name : 'dashboard-index' }">
                                        <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                    </router-link>
                                </li>
                                <li class="breadcrumb-item active">Audits</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="outer">
                    <div class="inner bg-container">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="m-b-0">Audits</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <transition name="slide-fade" mode="out-in">
                                    <div class="inner-pages">
                                        <div class="v-sheet v-sheet--tile theme--light">
                                            <div data-app="true">
                                                <v-card-title>
                                                    <v-spacer></v-spacer>
                                                    <v-text-field
                                                        v-model="auditLogsData.search"
                                                        append-icon="search"
                                                        label="Search"
                                                        single-line
                                                        hide-details>
                                                    </v-text-field>
                                                </v-card-title>
                                                <v-data-table
                                                    :headers="auditLogsData.headers"
                                                    :items="auditLogsData.data"
                                                    :pagination.sync="auditLogsData.pagination"
                                                    :rows-per-page-items="auditLogsData.rowsPerPageItems"
                                                    :search="auditLogsData.search"
                                                    class="elevation-1">
                                                    <template slot="items" slot-scope="props">
                                                        <td class="text-left">{{ props.item.name.first_name+' '+props.item.name.last_name }}</td>
                                                        <td class="text-left">{{ props.item.description+' '+props.item.action }}</td>
                                                        <td class="text-left">{{ props.item.created_at }}</td>
                                                    </template>
                                                    <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                        Your search for "{{ auditLogsData.search }}" found no results.
                                                    </v-alert>
                                                </v-data-table>
                                                <!-- <div v-if="pages > 1" class="text-right pagination-wrapper">
                                                    <v-pagination v-model="auditLogsData.pagination.page" :length="pages"></v-pagination>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!-- <div id="sample_1_wrapper" class="dataTables_wrapper dt-boostrap no-footer">
                                            <div class="table-responsive">
                                                <table data-order='[[ 0, "ASC" ]]' class="table table-data table-striped table-bordered table-hover no-footer" id="datatable" role="grid">
                                                    <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc wid-30" tabindex="0" rowspan="1" colspan="1">User</th>
                                                        <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Description</th>
                                                        <th class="sorting wid-30" tabindex="0" rowspan="1" colspan="1">Timestamp</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <template v-if="countObject(getAllAuditLogs) > 0">
                                                            <tr v-for="(audit, index) in getAllAuditLogs" v-bind:key="index">
                                                                <td class="name">{{ audit.name.first_name+' '+audit.name.last_name }}</td>
                                                                <td v-html="audit.description+' '+audit.action"></td>
                                                                <td>{{ audit.created_at }}</td>
                                                            </tr>
                                                        </template>
                                                        <tr v-else>
                                                            <td colspan="5" class="text-center">No Records Found!</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div> -->
                                    </div>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            this.auditLogsIndex();
        },
        components: {

        },
        props : [
            'url',
        ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                currentPage: 'Index',
                getAllAuditLogs : [],
                hasError: false,
                success: false,
                busy: false,
                auditLogsData:{
                    search:'',
                    headers:[
                        { text: 'User', value: 'first_name' },
                        { text: 'Description', value: 'description' },
                        { text: 'Timestamp', value: 'created_at' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.auditLogsData.pagination.rowsPerPage == null ||
                    this.auditLogsData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.auditLogsData.pagination.totalItems / this.auditLogsData.pagination.rowsPerPage)
            }
        },
        methods: {
            toJson: function(key) {
                return JSON.parse(key);
			},
            auditLogsIndex: function () {
                this.$http.get(this.api.auditIndex).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.getAllAuditLogs = body.object;
                        this.auditLogsData.data = body.object;
                        this.auditLogsData.pagination.totalItems = this.countObject(this.auditLogsData.data);
                        return;
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                    }, function (error) {
                    this.errors = error.body.errors;
                });
            }
        }
    }
</script>
