<template>
    <v-app>
        <div>
            <div id="content" class="bg-container">
                <div class="main-bar stretch-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <router-link :to="{ name : 'dashboard-index' }">
                                        <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                    </router-link>
                                </li>
                                <li class="breadcrumb-item active">Colors</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="outer">
                    <div class="inner bg-container">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="m-b-0">Colors</h3>
                                    </div>
                                    <div class="col">
                                        <div class="btn-group float-right">
                                            <router-link :to="{ name : 'colors-create' }" class=" btn btn-success m-r-5">
                                                Add Colors&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                            </router-link>
                                            <a href="#" class=" btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <transition name="slide-fade" mode="out-in">
                                    <div class="inner-pages">
                                        <div class="v-sheet v-sheet--tile theme--light">
                                            <div data-app="true">
                                                <v-card-title>
                                                    <v-spacer></v-spacer>
                                                    <v-text-field
                                                        v-model="colorData.search"
                                                        append-icon="search"
                                                        label="Search"
                                                        single-line
                                                        hide-details>
                                                    </v-text-field>
                                                </v-card-title>
                                                <v-data-table
                                                    :headers="colorData.headers"
                                                    :items="colorData.data"
                                                    :pagination.sync="colorData.pagination"
                                                    :search="colorData.search"
                                                    :rows-per-page-items="colorData.rowsPerPageItems"
                                                    class="elevation-1">
                                                    <template slot="items" slot-scope="props">
                                                        <td>{{ props.item.name }}</td>
                                                        <td class="text-left">
                                                            <div v-bind:class="[ props.item.value == 'rgb(255, 255, 255)' ? 'bordered color-wrapper' : 'color-wrapper' ]" v-bind:style="{'background-color': props.item.value}"></div>
                                                        </td>
                                                        <td class="text-left">
                                                            <router-link :to="{ name : 'colors-edit', params: { colorid : props.item.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                            <button v-on:click="deleteColor(props.item, props.item.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                        </td>
                                                    </template>
                                                    <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                        Your search for "{{ colorData.search }}" found no results.
                                                    </v-alert>
                                                </v-data-table>
                                                <!-- <div class="text-right pagination-wrapper">
                                                    <v-pagination v-model="colorData.pagination.page" :length="pages"></v-pagination>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!-- <div id="sample_1_wrapper" class="dataTables_wrapper dt-boostrap no-footer">
                                            <div class="table-responsive">
                                                <table data-order='[[ 0, "ASC" ]]' class="table table-data table-striped table-bordered table-hover no-footer" id="datatable" role="grid">
                                                    <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc wid-30" tabindex="0" rowspan="1" colspan="1">Name</th>
                                                        <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Value</th>
                                                        <th class="sorting wid-30" tabindex="0" rowspan="1" colspan="1">Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <template v-if="countObject(getAllColors) > 0">
                                                            <tr v-for="(color, index) in getAllColors" v-bind:key="index">
                                                                <td class="name">{{ color.name }}</td>
                                                                <td>
                                                                    <div class="color-wrapper" v-bind:style="{'background-color':color.value}"></div>
                                                                </td>
                                                                <td>
                                                                    <router-link :to="{ name : 'colors-edit', params: { colorid : color.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                                    <button v-on:click="deleteColor(index, color.id)" class="btn btn-sm btn-danger" title="Remove">REMOVE</button>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                        <tr v-else>
                                                            <td colspan="5" class="text-center">No Records Found!</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div> -->
                                    </div>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            this.colorsIndex();
        },
        props : [
            'url',
        ],
        data : function() {
            return {
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
                DomainUrl : this.getDomainUrl(),
                currentPage: 'Index',
                getAllColors : [],
                hasError: false,
                success: false,
                busy: false,
                colorData:{
                    search:'',
                    headers:[
                        { text: 'Name', value: 'name' },
                        { text: 'Value', value: 'value' },
                        { text: 'Actions', value: 'value', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.colorData.pagination.rowsPerPage == null ||
                    this.colorData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.colorData.pagination.totalItems / this.colorData.pagination.rowsPerPage)
            }
        },
        methods: {
            toJson: function(key) {
                return JSON.parse(key);
			},
            deleteColor: function (index, colorid) {
                this.busy = true;
                this.$http.get(this.api.colorDelete + colorid).then((response) => {
                    this.busy = false;
                    let body = response.body;
                    if (body.success) {
                        $.jGrowl({
                            title: 'Success!',
                            message: body.message,
                            life: 3000,
                            theme: 'bg-success',
                            openDuration: 200
                        });
                        this.getAllColors = body.object;
                        const toDelete = this.colorData.data.indexOf(index)
                        this.colorData.data.splice(toDelete, 1)
                        return;
                    }
                }, (response) => {
                    this.busy = false;
                    this.success = false;
                });
            },
            colorsIndex: function () {
                this.$http.get(this.api.colorIndex).then(function(response) {
                    let body = response.body;
                    if (body.success) {
                        this.getAllColors = body.object;
                        this.colorData.data = body.object;
                        this.colorData.pagination.totalItems = this.countObject(this.colorData.data);
                    } else {
                        this.errors = error.body.errors;
                        return;
                    }
                    }, function (error) {
                    this.errors = error.body.errors;
                });
            },
        },
    }
</script>
