<template>
    <div class="all-wrapper">
        <div v-if="authUser" id="wrap">
            <div id="top" class="fixed">
                <nav class="navbar navbar-static-top">
                    <div class="container-fluid m-0">
                        <div class="logo-wrapper">
                            <router-link :to="{ name : 'dashboard-index' }" class="dashboard-home-link">
                                <img :src="PublicImages + 'logo-icon.png'" class="inline-block" alt="logo">
                                <h4 class="text-white inline-block">BLUE CORNER ADMIN</h4>
                            </router-link>
                        </div>
                        <div class="menu mr-sm-auto">
                            <!-- <span class="toggle-left" id="menu-toggle">
                            <i class="fa fa-bars text-white"></i>
                            </span> -->
                        </div>
                        <div class="topnav dropdown-menu-right ml-auto">
                            <div class="btn-group">
                                <div class="user-settings no-bg">
                                    <button type="button" class="btn btn-default no-bg micheal_btn" data-toggle="dropdown">
                                        <!-- <strong>ADMIN</strong> -->
                                        <img :src="AssetsImages + 'admin.jpg'" class="admin_img2 rounded-circle avatar-img" alt="avatar"> <strong>{{ adminFirstName +', '+ adminLastName }}</strong>
                                        <span class="fa fa-sort-down white_bg"></span>
                                    </button>
                                    <div class="dropdown-menu admire_admin">
                                        <div class="popover-header">Admin Settings</div>
                                        <a class="dropdown-item" :href="this.url+'/logout'"><i class="fa fa-sign-out"></i> Log Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="wrapper fixedNav_top">
                <div id="left" class="fixed">
                    <div class="menu_scroll left_scrolled">
                        <div class="media user-media dker">
                            <div class="user-media-toggleHover">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="user-wrapper">
                                <a class="user-link" href="">
                                    <img class="media-object img-thumbnail user-img rounded-circle admin_img3" alt="User Picture" :src="AssetsImages + 'admin.jpg'">
                                    <p class="text-white user-info">Welcome {{ adminFirstName +', '+ adminLastName }}</p>
                                </a>
                                <!-- <div class="search_bar col-lg-12">
                                    <div class="input-group">
                                        <input type="search" class="form-control" placeholder="search">
                                        <span class="input-group-append">
                                            <button class="btn without_border" type="button"><span class="fa fa-search"></span></button>
                                        </span>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <ul id="menu" class="bg-blue dker">
                            <li>
                                <router-link :to="{ name : 'dashboard-index' }">
                                    <i class="fa fa-home"></i>
                                    <span class="link-title menu_hide">&nbsp;&nbsp;Dashboard</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name : 'audit-index' }">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="link-title menu_hide">&nbsp;&nbsp;Audit Logs</span>
                                </router-link>
                            </li>
                            <li class="dropdown_menu">
                                <a href="javascript:;">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span class="link-title menu_hide">&nbsp;&nbsp;Users</span>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul>
                                    <li>
                                        <router-link :to="{ name : 'users-index' }">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;All Users</span>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{ name : 'roles-index' }">
                                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;User Roles</span>
                                        </router-link>
                                    </li>
                                    <!-- <li>
                                        <router-link :to="{ name : 'permissions-index' }">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;Permissions</span>
                                        </router-link>
                                    </li> -->
                                </ul>
                            </li>
                            <li class="dropdown_menu">
                                <a href="javascript:;">
                                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                    <span class="link-title menu_hide">&nbsp;&nbsp;Feedback</span>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul>
                                    <li>
                                        <router-link :to="{ name : 'contests-index' , props : { archive : false } }">
                                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;All Feedback</span>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :key="$route.fullPath" :to="{ name : 'feedback-entries-index', props : { test : false , archive : false  } }">
                                            <i class="fa fa-bars" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;Entries</span>
                                        </router-link>
                                    </li>
                                </ul>
                                <!-- <li class="dropdown_menu"> -->
                                    <!-- <a href="javscript:;">
                                        <i class="fa fa-archive" aria-hidden="true"></i>
                                        <span class="link-title menu_hide">&nbsp;&nbsp;Archive</span>
                                        <span class="fa arrow"></span>
                                    </a> -->
                                    <ul>
                                        <li>
                                            <router-link :to="{ name : 'feedback-archive', props : { archive : true } }">
                                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                <span class="link-title menu_hide">&nbsp;&nbsp;Archive Feedback</span>
                                            </router-link>
                                        </li>
                                        <li>
                                            <router-link :to="{ name : 'feedback-archive-entries', props : { test : false , archive : true } }">
                                                <i class="fa fa-bars" aria-hidden="true"></i>
                                                <span class="link-title menu_hide">&nbsp;&nbsp;Archive Entries</span>
                                            </router-link>
                                        </li>
                                    </ul>
                                </li>
                            <!-- </li> -->
                            <li class="dropdown_menu">
                                <a href="javascript:;">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span class="link-title menu_hide">&nbsp;&nbsp;Products</span>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul>
                                    <li>
                                        <router-link :to="{ name : 'products-index' }">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;All Products</span>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{ name : 'product-category-index' }">
                                            <i class="fa fa-bars" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;Category</span>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{ name : 'sizes-index' }">
                                            <i class="fa fa-certificate" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;Sizes</span>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{ name : 'sizes-category-index' }">
                                            <i class="fa fa-bars" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;Size Category</span>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{ name : 'colors-index' }">
                                            <i class="fa fa-adjust" aria-hidden="true"></i>
                                            <span class="link-title menu_hide">&nbsp;&nbsp;Color</span>
                                        </router-link>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <router-link :to="{ name : 'settings-index' }">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                    <span class="link-title menu_hide">&nbsp;&nbsp;Settings</span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                <router-view @setAuthUser="setAuthUser" :url="url" :AuthUser="AuthUser"></router-view>
            </div>
        </div>
        <template v-if="!authUser">
            <router-view @setAuthUser="setAuthUser" :url="url" :AuthUser="AuthUser"></router-view>
        </template>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.checkUser();
            $(document).on('click', '.dropdown_menu', function() {
				$(this).toggleClass('active');
                // $('.dropdown_menu').removeClass('active');
            });
        },
        props: ['url', 'AuthUser'],
        data : function() {
            return {
                busy : false,
                PublicImages : this.getPublicImages(),
                AssetsImages : this.getAssetsImages(),
            }
        },
        methods : {
            setAuthUser : function(user) {
                location.reload();
                setTimeout(() => {
                    this.$router.push('admin');
                }, 1000);
                this.authUser = user;
            },
        },
    }
</script>
