.m-r-0{
  margin: 0;
}
.m-r-5{
  margin-right: 5px;
}
.m-r-15{
  margin-right: 15px;
}
.m-t-5{
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15{
  margin-top: 15px;
}
.m-t-20{
  margin-top: 20px;
}
.m-t-25{
  margin-top: 25px;
}
.m-t-30{
  margin-top: 30px;
}
.m-t-35{
  margin-top: 35px;
}
.m-t-40{
  margin-top: 40px;
}
.m-l-0{
  margin-left: 0;
}
.m-l-10{
  margin-left: 10px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-0{
  margin-bottom: 0;
}
.m-b-10{
  margin-bottom:10px;
}
.m-b-20{
  margin-bottom: 20px;
}
.p-b-20{
  padding-bottom: 20px;
}
.p-t-25{
  padding-top: 25px;
}
.p-t-15{
  padding-top: 15px;
}
.p-d-15 {
  padding: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-t-10{
  padding-top: 10px;
}
.p-l-0{
  padding-left: 0;
}
.p-l-10{
  padding-left: 10px;
}
.p-l-15{
  padding-left: 15px;
}
.p-l-20{
  padding-left: 20px;
}
.p-r-0 {
  padding-right: 0;
}
.p-r-10{
  padding-right: 10px;
}
.p-r-15{
  padding-right: 15px;
}
.p-r-20{
  padding-right: 20px;
}
.p-lr-0{
  padding-left: 0;
  padding-right: 0;
}

.p-l-5{
  padding-left: 5px;
}
.p-d-0{
  padding: 0;
}
//END OF SPACING

// BORDER RADIUS

.b_r_0 {
  border-radius: 0;
}

.b_r_5 {
  border-radius: 5px;
}

.b_r_10 {
  border-radius: 10px;
}

.b_r_15 {
  border-radius: 15px;
}

.b_r_20 {
  border-radius: 20px;
}

.b_r_25 {
  border-radius: 25px;
}
