<template>
    <div>
        <form @submit.prevent="storeData" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            Color Details
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="form-group col">
                                    <div class="col required">
                                        <label for="name" class="col-form-label">Name</label>
                                        <div class="p-d-0">
                                            <div class="input-group input-group-prepend">
                                                <span class="input-group-text br-0 border-right-0 rounded-left">
                                                    <i aria-hidden="true" class="fa fa-adjust"></i>
                                                </span>
                                                <input type="text" name="name" v-model="data.name" :class="errors.name ? 'form-control is-invalid' : 'form-control'" id="name" value="">
                                                <span v-if="errors.name" class="error-handler">
                                                    {{ errors.name[0] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div class="col required">
                                        <label for="name" class="col-form-label">Value</label>
                                        <div class="input-group color-picker input-group-prepend" ref="colorpicker">
                                            <span class="input-group-text br-0 border-right-0 rounded-left">
                                                <span class="current-color" :style="'background-color: ' + data.value" @click="togglePicker()"></span>
                                            </span>
                                            <input type="text" name="value" :style="'width:80%'" :class="errors.value ? 'form-control alpha-color is-invalid' : 'form-control alpha-color'" id="value" v-model="data.value" @focus="showPicker()" @input="updateFromInput" autocomplete="off" /> <br>
                                            <chrome-picker :value="colors" @input="updateFromPicker" v-if="displayPicker" />
                                            <span v-if="errors.value" class="error-handler">
                                                {{ errors.value[0] }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 p-l-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="form-group m-b-0" unselectable="on">
                                        <div class="checkbox-wrapper" style="padding-left: 0;" unselectable="on">
                                            <div v-on:click="setActive('active')" :class="data.orderable ? 'the-checkbox inactive' : 'the-checkbox active'">
                                                <span class="trigger"></span>
                                            </div>
                                        </div><br>
                                        <label for="style" unselectable="on"><strong>Cannot be ordered?</strong></label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success form-control" type="submit">
                                <i class="fa fa-save"></i> &nbsp; {{btnLabel}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.setColor(this.color || this.data.value);
            if( this.type == 'edit' ) {
                this.getColors();
            }
        },
        props : ['postAction','type','color'],
        computed: {
            btnLabel: function() {
                return this.type != 'edit' ? 'Add Color' : 'Update Color'
            },
        },
        data: function() {
            return {
                currentPage : 'Index',
                submitted: false,
                errors: [],
                title:'',
                data: {
                    name : '',
                    value: '',
                    orderable: 1,
                },
                colors: {
                    hex: '#6E2A2A',
                },
                colorValue: '',
                displayPicker: false,
            }
        },
		methods : {
			setActive:function() {
				if( this.data.orderable )  {
					this.data.orderable = false;
				} else {
					this.data.orderable = true;
				}
			},
            setColor(color) {
                this.updateColors(color);
                this.data.value = color;
            },
            updateColors(color) {
                if(color.slice(0, 1) == '#') {
                    this.colors = {
                        hex: color
                    };
                }
                else if(color.slice(0, 4) == 'rgba') {
                    var rgba = color.replace(/^rgba?\(|\s+|\)$/g,'').split(','),
                        hex = '#' + ((1 << 24) + (parseInt(rgba[0]) << 16) + (parseInt(rgba[1]) << 8) + parseInt(rgba[2])).toString(16).slice(1);
                    this.colors = {
                        hex: hex,
                        a: rgba[3],
                    }
                }
            },
            showPicker() {
                document.addEventListener('click', this.documentClick);
                this.displayPicker = true;
            },
            hidePicker() {
                document.removeEventListener('click', this.documentClick);
                this.displayPicker = false;
            },
            togglePicker() {
                this.displayPicker ? this.hidePicker() : this.showPicker();
            },
            updateFromInput() {
                this.updateColors(this.data.value);
            },
            updateFromPicker(color) {
                this.colors = color;
                if(color.rgba.a == 1) {
                    this.data.value = color.hex;
                }
                else {
                    this.data.value = 'rgba(' + color.rgba.r + ', ' + color.rgba.g + ', ' + color.rgba.b + ', ' + color.rgba.a + ')';
                }
            },
            documentClick(e) {
                var el = this.$refs.colorpicker,
                    target = e.target;
                if(el !== target && !el.contains(target)) {
                    this.hidePicker();
                }
            },
            getColors: function() {
                this.$http.get( this.api.colorEdit + this.$route.params.colorid )
                    .then(function(response) {
                        let body = response.body;
                        if (body.success) {
                            this.data = body.object;
                            this.title = body.object.title;
                        }
                    }, function (error) {
                    this.errors = error.body.errors;
                });
            },
            storeData : function () {
                this.data._token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                let url = (this.type != 'edit') ? this.postAction : this.api.colorEdit + this.$route.params.colorid;
                this.$http.post(url, this.data)
                    .then(function(response) {
                        let body = response.body;
                        if( body.success == true ) {
                            this.createNotif(body.message);
                            this.$router.push({ name: "colors-index"});
                        } else {
                            this.createNotif('Kindly Check the Following Errors!','error');
                            this.errors = body.error;
                        }
                    }, function(error){
                        this.errors = error.body.error;
                    })
                this.$forceUpdate();
            },
        },
        watch: {
            data: function() {
                this.colors.hex = this.data.value
            }
        }
    }
</script>
