<template>
    <v-app>
        <div id="content" class="bg-container">
            <div class="main-bar stretch-wrapper">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name : 'dashboard-index' }">
                                    <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                                </router-link>
                            </li>
                            <li class="breadcrumb-item active">Users</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="inner bg-container">
                    <div class="card card-default">
                        <div class="card-header m-b-10">
                            <div class="row">
                                <div class="col">
                                    <h3 class="m-b-0">Users</h3>
                                </div>
                                <div class="col">
                                    <div class="btn-group float-right">
                                        <router-link :to="{ name : 'users-create' }" class=" btn btn-success m-r-5">
                                            Add User&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <transition name="slide-fade" mode="out-in">
                                <div class="inner-pages">
                                    <div class="v-sheet v-sheet--tile theme--light">
                                        <div data-app="true">
                                            <v-card-title>
                                                <v-spacer></v-spacer>
                                                <v-text-field
                                                    v-model="userData.search"
                                                    append-icon="search"
                                                    label="Search"
                                                    single-line
                                                    hide-details>
                                                </v-text-field>
                                            </v-card-title>
                                            <v-data-table
                                                :headers="userData.headers"
                                                :items="userData.data"
                                                :pagination.sync="userData.pagination"
                                                :search="userData.search"
                                                :rows-per-page-items="userData.rowsPerPageItems"
                                                class="elevation-1">
                                                <template slot="items" slot-scope="props">
                                                    <td class="text-left">{{ props.item.first_name }}</td>
                                                    <td class="text-left">{{ props.item.last_name }}</td>
                                                    <td class="text-left">{{ props.item.email }}</td>
                                                    <td v-if="props.item.roles">{{ props.item.roles[0] ? props.item.roles[0].title : '&nbsp;' }}</td>
                                                    <td class="text-left">
                                                        <router-link :to="{ name : 'users-edit', params: { userid : props.item.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                        <button v-on:click="removeUser(props.item, props.item.id, props.item.roles_count)" class="btn btn-sm btn-danger confirmDelete" title="Remove">REMOVE</button>
                                                    </td>
                                                </template>
                                                <v-alert v-slot:no-results :value="true" color="error" icon="warning">
                                                    Your search for "{{ userData.search }}" found no results.
                                                </v-alert>
                                            </v-data-table>
                                            <!-- <div v-if="pages > 1" class="text-right pagination-wrapper">
                                                <v-pagination v-model="userData.pagination.page" :length="pages"></v-pagination>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </transition>
                            <!-- <div id="sample_1_wrapper" class="dataTables_wrapper dt-boostrap no-footer">
                                <div class="table-responsive">
                                    <table class="table table-data table-striped table-bordered table-hover no-footer" id="datatable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc wid-20" tabindex="0">First Name</th>
                                                <th class="sorting wid-25" tabindex="0">Last Name</th>
                                                <th class="sorting wid-10" tabindex="0">Email Address</th>
                                                <th class="sorting wid-10" tabindex="0">User Role</th>
                                                <th class="sorting wid-10" tabindex="0">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="countObject(getAllUser) > 0">
                                                <tr v-for="(user, index) in getAllUser" v-bind:key="index">
                                                    <td>{{ user.first_name }}</td>
                                                    <td>{{ user.last_name }}</td>
                                                    <td>{{ user.email }}</td>
                                                    <td v-if="user.roles">{{ user.roles[0] ? user.roles[0].title : '&nbsp' }}</td>
                                                    <td>
                                                        <router-link :to="{ name : 'users-edit', params: { userid : user.id } }" class="btn btn-sm btn-custom-edit" title="Edit">EDIT</router-link>
                                                        <button v-on:click="removeUser(index, user.id, user.roles_count)" class="btn btn-sm btn-danger confirmDelete" title="Remove">REMOVE</button>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr v-else>
                                                <td colspan="5" class="text-center">No Records Found!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>
<script>
    export default {
        mounted() {
            this.userIndex();
        },
        components: {
        },
        props : [
            'url'
        ],
        data : function() {
            return {
                currentPage: 'Index',
                getAllUser : [],
                hasError: false,
                success: false,
                busy: false,
                errors: [],
                userData:{
                    search:'',
                    headers:[
                        { text: 'First Name', value: 'first_name' },
                        { text: 'Last Name', value: 'last_name' },
                        { text: 'Email Address', value: 'email' },
                        { text: 'User Role', value: 'roles' },
                        { text: 'Actions', value:'', align: 'left' },
                    ],
                    data:[],
                    rowsPerPageItems: [10, 20, 30, 40],
                    pagination: {
                        sortBy: 'name',
                        rowsPerPage: 10,
                        totalItems:'',
                    },
                },
            }
        },
        computed: {
            pages () {
                if (this.userData.pagination.rowsPerPage == null ||
                    this.userData.pagination.totalItems == null
                ) return 0
                return Math.ceil(this.userData.pagination.totalItems / this.userData.pagination.rowsPerPage)
            }
        },
        methods : {
            toJson: function(key) {
                return JSON.parse(key);
            },
            removeUser: function (index, userid, RolesCount) {
                this.busy = true;
                this.$http.get(this.api.userDelete+''+userid).then((response) => {
                    this.busy = false;
                    let body = response.body;
                    if (body.success) {
                        $.jGrowl({
                            title: 'Success!',
                            message: 'User Succesfully Removed !',
                            life: 3000,
                            theme: 'bg-success',
                            openDuration: 200
                        });
                        this.getAllUser = body.object;
                        const toDelete = this.userData.data.indexOf(index);
                        this.userData.data.splice(toDelete, 1);
                        return;
                    }
                }, (response) => {
                    this.busy = false;
                    this.success = false;
                });
            },
            userIndex: function () {
                if (!this.busy) {
                    this.busy = true;
                    this.hasError = false
                    this.$http.get(this.api.userIndex).then(function(response) {
                        let body = response.body;
                        if (body.success) {
                            this.getAllUser = body.object;
                            this.userData.data = body.object;
                            this.userData.pagination.totalItems = this.countObject(this.userData.data);
                            return;
                        }
                    }, function (error) {
                        this.errors = error.body.errors;
                        return;
                    });
                } else {
                    this.busy = false;
                    this.hasError = true;
                }
            },
        }
    }
</script>
