<template>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">Reset Password</div>
					<div class="card-body">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {

		mounted()
		{
			console.log(this.reseturl);
		},

		props: [
			'url', 
      'reseturl', 
		],

		data: function () {
			return {
				currentPage: 'reset',
			}
		},

		methods: {

		}

	}
</script>